
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title">
                    <h2>Печи для бани и сауны</h2>
                    <ul class="breadcrumb">
                        <li><a href="~/Home/Index">Главная</a></li>
                        <li class="active">Каталог</li>
                        <li class="active">Печи</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- .row-->
    </div>
    <!-- .container-->
</div>
<!-- .breadcrumb-area-->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="history">
                <h3>Печи для бани и сауны FinTec</h3>
                <div class="history-details">
                    <img src="~/Content/img/furnace.jpg" alt="">
                    <p>
                        <a href="#">FinTec Sauna- und Wellnesstechnik GmbH</a> – немецкая
                        компания из баварской Франконии, имеющая
                        большой опыт в разработке и изготовлении
                        электрических и дровяных печей для частных
                        и общественных саун. Уже более 12 лет мы
                        производим продукцию класса Премиум, удачно
                        сочетая новейшие технологии и национальные
                        ремесленные традиции, классические приемы и
                        собственные know-how. Благодаря высокому уровню
                        профессиональной подготовки и многолетнему
                        опыту наших специалистов мы имеем возможность
                        предложить продукцию, не имеющую аналогов в
                        мире.
                        Каждая модель – Premium или Standart –
                        ориентирована на свою целевую аудиторию и
                        пользуется устойчивым спросом как в странах
                        Европы, так и всего мира.
                    </p>
                    <div>
                        <strong>Высокое качество для удовольствия от продукта</strong>
                    </div>
                    <p>
                        Дровяная печь для сауны – источник тепла необыкновенного
                        свойства.
                        Благодаря особенно большому аккумулятору тепла из оливин-
                        диабаза SaunaGranit все печи модельного ряда FinTec «Lora»
                        отличаются особо равномерной отдачей тепла.
                        Высококачественные жаростойкие стали с толщиной материала
                        6 мм гарантируют долгую эксплуатацию, а соответственно и
                        удовлетворенность клиента. Самозакрывающаяся дверца с
                        остеклением позволяет любоваться игрой пламени в топке печи.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- .row-->
</div>
<!-- .container-->
<div class="container">
    <div class="row">
        <div class="service-section" style="padding-bottom: 0;">
            <div class="col-md-12">
                <!-- Nav tabs -->
                <ul class="tablist" role="tablist">
                    <li>Печи FinTec</li>
                    <li role="presentation" class="active"><a href="#standart" aria-controls="standart" role="tab" data-toggle="tab">Дровяные</a></li>
                    <li role="presentation"><a href="#premium" aria-controls="premium" role="tab" data-toggle="tab">Электрические</a></li>
                </ul>
            </div>
        </div>
        <!-- .service-section-->
        <div class="tab-content col-md-12">
            <div role="tabpanel" class="tab-pane active" id="standart">
                <div class="page-title">
                    <p>
                        Все наши дровяные печи
                        FinTec Standart Line имеют
                        высокоэффективное
                        отведение дымовых газов,
                        что, с одной стороны,
                        значительно повышает
                        КПД и положительно
                        сказывается на расходе
                        дров, а с другой, рабочая
                        температура в сауне
                        достигается быстрее.
                        Кроме этого, такое
                        отведение дымовых
                        газов дает возможность чистки печи через специальные
                        отверстия.
                        Газоотводящая труба может быть подсоединена как
                        горизонтально, так и вертикально (для моделей с выносной
                        топкой только вертикально). Диаметр газоотводящей
                        трубы стандартно изготавливается 115 мм, однако по
                        заказу также возможны 130 или 150 мм, что значительно
                        облегчает подключение печи. Тем более что во многих
                        странах Евросоюза печи, работающие на дровах, должны
                        иметь диаметр газоотводящей трубы минимум DN130.
                    </p>
                </div>
                <!--item-row-->
                <div class="row">
                    <div class="catalog-item-title">
                        <strong>FinTec Iwo Klassik</strong>
                        <img src="~/Content/img/standardLine.jpg" style="float:right;"/>
                    </div>
                    <div class="row col-md-12">
                        <div class="col-md-4 col-xs-12 col-sm-6">
                            <img src="~/Content/img/Catalog/Furnaces/IwoKlassik.jpg" />
                        </div>
                        <div class="col-md-6 col-xs-12 col-sm-6 catalog-item-description" style="padding-top: 50px;">
                            <ul style="list-style:disc;list-style-position:inside;">
                                <li>Маркировка CE</li>
                                <li>Объем сауны до 25 м3</li>
                                <li>Объем камней 60 кг</li>
                                <li>Толщина стенок топки 6мм</li>
                                <li>Длина топки 47,5 см</li>
                                <li>Размеры (В*Ш*Г*) 81*43*51см</li>
                                <li>Дверца с жаростойким стеклом</li>
                                <li>Подключение дымовой трубы сверху/сзади</li>
                                <li>Имеет 2 отверстия для чистки в верхней части камеры сгорания</li>
                            </ul>
                        </div>
                        <div class="col-md-2 col-xs-12 col-sm-6 catalog-item-price" style="padding-top: 50px;">
                            <p>86 000 ₽</p>
                            <a class="btn" href="#">Заказать</a>
                        </div>
                    </div>
                </div>
                <!--item-row-->
                <div class="row">
                    <div class="catalog-item-title">
                        <strong>FinTec Iwo Trend</strong>
                        <img src="~/Content/img/standardLine.jpg" style="float:right;" />
                    </div>
                    <div class="row col-md-12">
                        <div class="col-md-4 col-xs-12 col-sm-6">
                            <img src="~/Content/img/Catalog/Furnaces/IwoTrend.jpg" />
                        </div>
                        <div class="col-md-6 col-xs-12 col-sm-6 catalog-item-description" style="padding-top: 50px;">
                            <ul style="list-style:disc;list-style-position:inside;">
                                <li>Маркировка CE</li>
                                <li>Соответствует закону 1.BImSchV (ступень I)</li>
                                <li>Объем сауны до 25 м3</li>
                                <li>Объем камней 60 кг</li>
                                <li>Толщина стенок топки 6мм</li>
                                <li>Длина топки 47,5 см</li>
                                <li>Размеры (В*Ш*Г*) 81*43*51см</li>
                                <li>Дверца с жаростойким стеклом</li>
                                <li>Подключение дымовой трубы сверху/сзади</li>
                                <li>Имеет 2 отверстия для чистки в верхней части камеры сгорания</li>
                                <li>Более экономична</li>
                                <li>Более чистый процесс сгорания без выброса пыли</li>
                            </ul>
                        </div>
                        <div class="col-md-2 col-xs-12 col-sm-6 catalog-item-price" style="padding-top: 50px;">
                            <p>91 000 ₽</p>
                            <a class="btn" href="#">Заказать</a>
                        </div>
                    </div>
                </div>
                <!--item-row-->
                <div class="row">
                    <div class="catalog-item-title">
                        <strong>FinTec Iwo Trend MH с выносной топкой</strong>
                        <img src="~/Content/img/standardLine.jpg" style="float:right;" />
                    </div>
                    <div class="row col-md-12">
                        <div class="col-md-4 col-xs-12 col-sm-6">
                            <img src="~/Content/img/Catalog/Furnaces/IwoTrendMH.jpg" />
                        </div>
                        <div class="col-md-6 col-xs-12 col-sm-6 catalog-item-description" style="padding-top: 50px;">
                            <ul style="list-style:disc;list-style-position:inside;">
                                <li>Маркировка CE</li>
                                <li>Соответствует закону 1.BImSchV (ступень I)</li>
                                <li>Объем сауны до 25 м3</li>
                                <li>Объем камней 60 кг</li>
                                <li>Толщина стенок топки 6мм</li>
                                <li>Длина топки 47,5 см</li>
                                <li>Размеры (В*Ш*Г*) 81*43*51см</li>
                                <li>Дверца с жаростойким стеклом</li>
                                <li>Подключение дымовой трубы сверху/сзади</li>
                                <li>Имеет 2 отверстия для чистки в верхней части камеры сгорания</li>
                                <li>Более экономична</li>
                                <li>Более чистый процесс сгорания без выброса пыли</li>
                            </ul>
                        </div>
                        <div class="col-md-2 col-xs-12 col-sm-6 catalog-item-price" style="padding-top: 50px;">
                            <p>99 974 ₽</p>
                            <a class="btn" href="#">Заказать</a>
                        </div>
                    </div>
                </div>
                <!--item-row-->
                <div class="row">
                    <div class="catalog-item-title">
                        <strong>FinTec Iwo Reflex</strong>
                        <img src="~/Content/img/standardLine.jpg" style="float:right;" />
                    </div>
                    <div class="row col-md-12">
                        <div class="col-md-4 col-xs-12 col-sm-6">
                            <img src="~/Content/img/Catalog/Furnaces/IwoReflex.jpg" />
                        </div>
                        <div class="col-md-6 col-xs-12 col-sm-6 catalog-item-description" style="padding-top: 50px;">
                            <ul style="list-style:disc;list-style-position:inside;">
                                <li>Маркировка CE</li>
                                <li>Соответствует закону 1.BImSchV (ступень I)</li>
                                <li>Объем сауны до 25 м3</li>
                                <li>Объем камней 60 кг</li>
                                <li>Толщина стенок топки 6мм</li>
                                <li>Длина топки 47,5 см</li>
                                <li>Размеры (В*Ш*Г*) 81*43*51см</li>
                                <li>Дверца с жаростойким стеклом</li>
                                <li>Подключение дымовой трубы сверху/сзади</li>
                                <li>Имеет 2 отверстия для чистки в верхней части камеры сгорания</li>
                                <li>Более экономична</li>
                                <li>Более чистый процесс сгорания без выброса пыли</li>
                            </ul>
                        </div>
                        <div class="col-md-2 col-xs-12 col-sm-6 catalog-item-price" style="padding-top: 50px;">
                            <p>99 974 ₽</p>
                            <a class="btn" href="#">Заказать</a>
                        </div>
                    </div>
                </div>
                <!--item-row-->
                <div class="row">
                    <div class="catalog-item-title">
                        <strong>FinTec Iwo Rubin</strong>
                        <img src="~/Content/img/standardLine.jpg" style="float:right;" />
                    </div>
                    <div class="row col-md-12">
                        <div class="col-md-4 col-xs-12 col-sm-6">
                            <img src="~/Content/img/Catalog/Furnaces/IwoRubin.jpg" />
                        </div>
                        <div class="col-md-6 col-xs-12 col-sm-6 catalog-item-description" style="padding-top: 50px;">
                            <ul style="list-style:disc;list-style-position:inside;">
                                <li>Маркировка CE</li>
                                <li>Соответствует закону 1.BImSchV (ступень I)</li>
                                <li>Объем сауны до 25 м3</li>
                                <li>Объем камней 60 кг</li>
                                <li>Толщина стенок топки 6мм</li>
                                <li>Длина топки 47,5 см</li>
                                <li>Размеры (В*Ш*Г*) 81*43*51см</li>
                                <li>Дверца с жаростойким стеклом</li>
                                <li>Подключение дымовой трубы сверху/сзади</li>
                                <li>Имеет 2 отверстия для чистки в верхней части камеры сгорания</li>
                                <li>Более экономична</li>
                                <li>Более чистый процесс сгорания без выброса пыли</li>
                            </ul>
                        </div>
                        <div class="col-md-2 col-xs-12 col-sm-6 catalog-item-price" style="padding-top: 50px;">
                            <p>92 000 ₽</p>
                            <a class="btn" href="#">Заказать</a>
                        </div>
                    </div>
                </div>
                <!--item-row-->
                <div class="row">
                    <div class="catalog-item-title">
                        <strong>FinTec Iwo Kjeld</strong>
                        <img src="~/Content/img/standardLine.jpg" style="float:right;" />
                    </div>
                    <div class="row col-md-12">
                        <div class="col-md-4 col-xs-12 col-sm-6">
                            <img src="~/Content/img/Catalog/Furnaces/Kjeld.jpg" />
                        </div>
                        <div class="col-md-6 col-xs-12 col-sm-6 catalog-item-description" style="padding-top: 50px;">
                            <ul style="list-style:disc;list-style-position:inside;">
                                <li>Маркировка CE</li>
                                <li>Объем сауны до 25 м3</li>
                                <li>Объем камней 180 кг</li>
                                <li>Толщина стенок топки 6мм</li>
                                <li>Длина топки 47,5 см</li>
                                <li>Размеры (В*Ш*Г*) 73*43*51см</li>
                                <li>Корзина для камней круглой формы из стали с покрытием</li>
                                <li>Дверца с жаростойким стеклом</li>
                                <li>Подключение дымовой трубы сверху/сзади</li>
                                <li>Имеет 2 отверстия для чистки в верхней части камеры сгорания</li>
                            </ul>
                        </div>
                        <div class="col-md-2 col-xs-12 col-sm-6 catalog-item-price" style="padding-top: 50px;">
                            <p>106 864 ₽</p>
                            <a class="btn" href="#">Заказать</a>
                        </div>
                    </div>
                </div>
                <!--item-row-->
                <div class="row">
                    <div class="catalog-item-title">
                        <strong>FinTec Iwo Kjeld MH с выносной топкой</strong>
                        <img src="~/Content/img/standardLine.jpg" style="float:right;" />
                    </div>
                    <div class="row col-md-12">
                        <div class="col-md-4 col-xs-12 col-sm-6">
                            <img src="~/Content/img/Catalog/Furnaces/KjeldMH.jpg" />
                        </div>
                        <div class="col-md-6 col-xs-12 col-sm-6 catalog-item-description" style="padding-top: 50px;">
                            <ul style="list-style:disc;list-style-position:inside;">
                                <li>Маркировка CE</li>
                                <li>Объем сауны до 25 м3</li>
                                <li>Объем камней 180 кг</li>
                                <li>Толщина стенок топки 6мм</li>
                                <li>Длина топки 47,5 см</li>
                                <li>Размеры (В*Ш*Г*) 73*43*51см</li>
                                <li>Корзина для камней круглой формы из стали с покрытием</li>
                                <li>Дверца с жаростойким стеклом</li>
                                <li>Подключение дымовой трубы сверху/сзади</li>
                                <li>Имеет 2 отверстия для чистки в верхней части камеры сгорания</li>
                            </ul>
                        </div>
                        <div class="col-md-2 col-xs-12 col-sm-6 catalog-item-price" style="padding-top: 50px;">
                            <p>128 000 ₽</p>
                            <a class="btn" href="#">Заказать</a>
                        </div>
                    </div>
                </div>
                <!--item-row-->
                <div class="row">
                    <div class="catalog-item-title">
                        <strong>FinTec Arthur</strong>
                        <img src="~/Content/img/standardLine.jpg" style="float:right;" />
                    </div>
                    <div class="row col-md-12">
                        <div class="col-md-4 col-xs-12 col-sm-6">
                            <img src="~/Content/img/Catalog/Furnaces/Arthur.jpg" />
                        </div>
                        <div class="col-md-6 col-xs-12 col-sm-6 catalog-item-description" style="padding-top: 50px;">
                            <ul style="list-style:disc;list-style-position:inside;">
                                <li>Маркировка CE</li>
                                <li>Объем сауны до 25 м3</li>
                                <li>Объем камней 160 кг</li>
                                <li>Толщина стенок топки 6мм</li>
                                <li>Длина топки 47,5 см</li>
                                <li>Размеры (В*Ш*Г*) 73*43*51см</li>
                                <li>Корзина для камней круглой формы из стали с покрытием</li>
                                <li>Дверца с жаростойким стеклом</li>
                                <li>Подключение дымовой трубы сверху/сзади</li>
                                <li>Имеет 2 отверстия для чистки в верхней части камеры сгорания</li>
                            </ul>
                        </div>
                        <div class="col-md-2 col-xs-12 col-sm-6 catalog-item-price" style="padding-top: 50px;">
                            <p>106 863 ₽</p>
                            <a class="btn" href="#">Заказать</a>
                        </div>
                    </div>
                </div>
                <!--item-row-->
                <div class="row">
                    <div class="catalog-item-title">
                        <strong>FinTec  Arthur MH с выносной топкой</strong>
                        <img src="~/Content/img/standardLine.jpg" style="float:right;" />
                    </div>
                    <div class="row col-md-12">
                        <div class="col-md-4 col-xs-12 col-sm-6">
                            <img src="~/Content/img/Catalog/Furnaces/ArthurMH.jpg" />
                        </div>
                        <div class="col-md-6 col-xs-12 col-sm-6 catalog-item-description" style="padding-top: 50px;">
                            <ul style="list-style:disc;list-style-position:inside;">
                                <li>Маркировка CE</li>
                                <li>Объем сауны до 25 м3</li>
                                <li>Объем камней 160 кг</li>
                                <li>Толщина стенок топки 6мм</li>
                                <li>Длина топки 47,5 см</li>
                                <li>Размеры (В*Ш*Г*) 73*43*51см</li>
                                <li>Корзина для камней круглой формы из стали с покрытием</li>
                                <li>Дверца с жаростойким стеклом</li>
                                <li>Подключение дымовой трубы сверху/сзади</li>
                                <li>Имеет 2 отверстия для чистки в верхней части камеры сгорания</li>
                            </ul>
                        </div>
                        <div class="col-md-2 col-xs-12 col-sm-6 catalog-item-price" style="padding-top: 50px;">
                            <p>128 039 ₽</p>
                            <a class="btn" href="#">Заказать</a>
                        </div>
                    </div>
                </div>
                <!--item-row-->
                <div class="row">
                    <div class="catalog-item-title">
                        <strong>FinTec Lora Robust</strong>
                        <img src="~/Content/img/premiumLine.jpg" style="float:right;" />
                    </div>
                    <div class="row col-md-12">
                        <div class="col-md-4 col-xs-12 col-sm-6">
                            <img src="~/Content/img/Catalog/Furnaces/LoraRobust.jpg" />
                        </div>
                        <div class="col-md-6 col-xs-12 col-sm-6 catalog-item-description" style="padding-top: 50px;">
                            <ul style="list-style:disc;list-style-position:inside;">
                                <li>100 % Made in Germany</li>
                                <li>Маркировка СЕ</li>
                                <li>Соответствует закону 1.BImSchV ступень I и II</li>
                                <li>Тип I испытан на многократное использование: возможно подключение двух или более печей к одному дымоходу</li>
                                <li>Мощность 14,6 кВт</li>
                                <li>Объем сауны до 16 м3</li>
                                <li>Объем камней 180 кг</li>
                                <li>Нержавеющая сталь</li>
                                <li>Топка из котельной стали Thyssen&Krupp (6мм)</li>
                                <li>Не требует сборки</li>
                                <li>Установка непосредственно на деревянный пол (без дополнительной  изоляции)</li>
                                <li>Самозакрывающаяся дверца с блокировкой</li>
                                <li>Толщина стенок топки 6 мм</li>
                                <li>Длина топки 50см</li>
                                <li>Размеры (В*Ш*Г*) 73*69*51см</li>
                            </ul>
                        </div>
                        <div class="col-md-2 col-xs-12 col-sm-6 catalog-item-price" style="padding-top: 50px;">
                            <p>167 780 ₽</p>
                            <a class="btn" href="#">Заказать</a>
                        </div>
                    </div>
                </div>
                <!--item-row-->
                <div class="row">
                    <div class="catalog-item-title">
                        <strong>FinTec Lora Banja</strong>
                        <img src="~/Content/img/premiumLine.jpg" style="float:right;" />
                    </div>
                    <div class="row col-md-12">
                        <div class="col-md-4 col-xs-12 col-sm-6">
                            <img src="~/Content/img/Catalog/Furnaces/LoraBanja.jpg" />
                        </div>
                        <div class="col-md-6 col-xs-12 col-sm-6 catalog-item-description" style="padding-top: 50px;">
                            <ul style="list-style:disc;list-style-position:inside;">
                                <li>100 % Made in Germany</li>
                                <li>Маркировка СЕ</li>
                                <li>Соответствует закону 1.BImSchV ступень I и II</li>
                                <li>Тип I испытан на многократное использование: возможно подключение двух или более печей к одному дымоходу</li>
                                <li>Мощность 14,6 кВт</li>
                                <li>Объем сауны до 16 м3</li>
                                <li>Объем камней 180 кг</li>
                                <li>Нержавеющая сталь</li>
                                <li>Топка из котельной стали Thyssen&Krupp (6мм)</li>
                                <li>Надпись «С лёгким паром!» из нержавеющей стали</li>
                                <li>Не требует сборки</li>
                                <li>Установка непосредственно на деревянный пол (без дополнительной  изоляции)</li>
                                <li>Самозакрывающаяся дверца с блокировкой</li>
                                <li>Толщина стенок топки 6 мм</li>
                                <li>Длина топки 50см</li>
                                <li>Размеры (В*Ш*Г*) 73*69*51см</li>
                            </ul>
                        </div>
                        <div class="col-md-2 col-xs-12 col-sm-6 catalog-item-price" style="padding-top: 50px;">
                            <p>195 047 ₽</p>
                            <a class="btn" href="#">Заказать</a>
                        </div>
                    </div>
                </div>
                <!--item-row-->
                <div class="row">
                    <div class="catalog-item-title">
                        <strong>FinTec Skult</strong>
                        <img src="~/Content/img/premiumLine.jpg" style="float:right;" />
                    </div>
                    <div class="row col-md-12">
                        <div class="col-md-4 col-xs-12 col-sm-6">
                            <img src="~/Content/img/Catalog/Furnaces/Skult.jpg" />
                        </div>
                        <div class="col-md-6 col-xs-12 col-sm-6 catalog-item-description" style="padding-top: 50px;">
                            <ul style="list-style:disc;list-style-position:inside;">
                                <li>100 % Made in Germany</li>
                                <li>Маркировка СЕ</li>
                                <li>Соответствует закону 1.BImSchV ступень I и II</li>
                                <li>Тип I испытан на многократное использование: возможно подключение двух или более печей к одному дымоходу</li>
                                <li>Мощность 17,8 кВт</li>
                                <li>Объем сауны до 16 м3</li>
                                <li>Объем камней 180 кг</li>
                                <li>Нержавеющая сталь</li>
                                <li>Топка из котельной стали Thyssen&Krupp (6мм)</li>
                                <li>Не требует сборки</li>
                                <li>Установка непосредственно на деревянный пол (без дополнительной  изоляции)</li>
                                <li>Самозакрывающаяся дверца с блокировкой</li>
                                <li>Толщина стенок топки 6 мм</li>
                                <li>Длина топки 50см</li>
                            </ul>
                        </div>
                        <div class="col-md-2 col-xs-12 col-sm-6 catalog-item-price" style="padding-top: 50px;">
                            <p>171 551 ₽</p>
                            <a class="btn" href="#">Заказать</a>
                        </div>
                    </div>
                </div>
                <!--item-row-->
                <div class="row">
                    <div class="catalog-item-title">
                        <strong>FinTec Skult  с выносной топкой</strong>
                        <img src="~/Content/img/premiumLine.jpg" style="float:right;" />
                    </div>
                    <div class="row col-md-12">
                        <div class="col-md-4 col-xs-12 col-sm-6">
                            <img src="~/Content/img/Catalog/Furnaces/Skult.jpg" />
                        </div>
                        <div class="col-md-6 col-xs-12 col-sm-6 catalog-item-description" style="padding-top: 50px;">
                            <ul style="list-style:disc;list-style-position:inside;">
                                <li>100 % Made in Germany</li>
                                <li>Маркировка СЕ</li>
                                <li>Соответствует закону 1.BImSchV ступень I и II</li>
                                <li>Тип I испытан на многократное использование: возможно подключение двух или более печей к одному дымоходу</li>
                                <li>Мощность 17,8 кВт</li>
                                <li>Объем сауны до 16 м3</li>
                                <li>Объем камней 180 кг</li>
                                <li>Нержавеющая сталь</li>
                                <li>Топка из котельной стали Thyssen&Krupp (6мм)</li>
                                <li>Не требует сборки</li>
                                <li>Установка непосредственно на деревянный пол (без дополнительной  изоляции)</li>
                                <li>Самозакрывающаяся дверца с блокировкой</li>
                                <li>Толщина стенок топки 6 мм</li>
                                <li>Длина топки 50см</li>
                            </ul>
                        </div>
                        <div class="col-md-2 col-xs-12 col-sm-6 catalog-item-price" style="padding-top: 50px;">
                            <p>199 843 ₽</p>
                            <a class="btn" href="#">Заказать</a>
                        </div>
                    </div>
                </div>
                <!--item-row-->
                <div class="row">
                    <div class="catalog-item-title">
                        <strong>FinTec Troll</strong>
                        <img src="~/Content/img/premiumLine.jpg" style="float:right;" />
                    </div>
                    <div class="row col-md-12">
                        <div class="col-md-4 col-xs-12 col-sm-6">
                            <img src="~/Content/img/Catalog/Furnaces/Troll.jpg" />
                        </div>
                        <div class="col-md-6 col-xs-12 col-sm-6 catalog-item-description" style="padding-top: 50px;">
                            <ul style="list-style:disc;list-style-position:inside;">
                                <li>100 % Made in Germany</li>
                                <li>Маркировка СЕ</li>
                                <li>Соответствует закону 1.BImSchV ступень II</li>
                                <li>Объем камней 20 кг</li>
                                <li>Мощность 7,8 кВт</li>
                                <li>Тип I испытан - cамозакрывающаяся дверца</li>
                                <li>Поставляется без камней</li>
                                <li>Печь может устанавливаться непосредственно на воспламеняющиеся материалы.</li>
                                <li>
                                    Безопасные расстояния от корпуса печи до воспламеняющихся материалов:<br />
                                    - сбоку	10 cm<br />
                                    - сзади	10 cm<br />
                                    - сверху печи 100 cm
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-2 col-xs-12 col-sm-6 catalog-item-price" style="padding-top: 50px;">
                            <p>142 760 ₽</p>
                            <a class="btn" href="#">Заказать</a>
                        </div>
                    </div>
                </div>
                <!--item-row-->
            </div>
            <div role="tabpanel" class="tab-pane fade" id="premium">

            </div>
        </div>
    </div>
    <!-- .row-->
</div>
<!-- .container-->
