@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title">
                    <h2>Снежные комнаты и льдогенераторы</h2>
                    <ul class="breadcrumb">
                        <li><a href="~/Home/Index">Главная</a></li>
                        <li class="active">Каталог</li>
                        <li class="active">Льдогенераторы</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- .row-->
    </div>
    <!-- .container-->
</div>
<!-- .breadcrumb-area-->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="history">
                <h3>Cнегогенераторы для банных зон и снежных комнат</h3>
                <div class="history-details">
                    <img src="~/Content/img/snowroom.jpg" alt="">
                    <img src="~/Content/img/icegen.jpg" alt="">
                    <p>
                        Одной из самых желанных процедур после посещения сауны и бани является охлаждение. Однако охладиться после банных процедур не всегда возможно. 
                        Благодаря оборудованию R-Snow для снежных комнат, это стало доступным в любое время года. R-Snow производит снег за считанные секунды, который является эффективной и 
                        быстрой процедурой охлаждения. При этом процесс обтирания снегом является приятным и очень полезным для организма.
                    </p>

                    <p>
                        <a href="#snowgen">Снегогенераторы R-Snow</a><br />
                        Модели в исполнении моноблок или сплит для мон-тажа за потолком.
                        <br /><strong>Моноблок</strong> — полностью готов к монтажу и заправлен хладагентом. Не требует технического помещения. Монтаж может быть осуществлен специалистом, не обладающим специальными знаниями и оборудованием для монтажа холодильной техники
                        <br /><strong>Сплит</strong> — оборудование, состоящее из двух частей—снежный барабан и компрессор с блоком управления. Готовое к монтажу, но незаправленное хладагентом. Установка осуществляется техническим специали-стом-холодильщиком, обладающим специальными знаниями и оборудованием для монтажа холодильной техники.
                    </p>
                    <p>
                        <a href="#climagen">Генератор морского климата R-Salt</a><br />
                        Генератор морского климата R-Salt используется в парных или солевых комнатах. В течение небольшого промежутка времени в помещении устанавливается соленый «Морской климат».
                        Генератор R-Salt c одной форсункой может использоваться в помещениях площадью до 25 м2
                        Оборудование полностью готовое к монтажу.
                        В комплект поставки входит 1 канистра солевого раствора 5л и 1 таблетка дезинфекции.
                    </p>
                    <p>
                        <a href="#icegen">Льдогенераторы R-Snow</a><br />
                        Мощный — 450 литров льда / сутки<br /> 
                        Надежный — морозильная камера и мотор-редуктор сделаны в Германии<br /> 
                        Умный— защита от заторов льда, контроль перемораживания, защита от прежде-временного включения после остановки. <br />
                        Защищенный—специальный поддон от протечек
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="snowgen" class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr class="info">
                            <th>
                                Cнегогенераторы потолочные R-Snow
                            </th>
                            <th style="width:150px;">
                                Цена
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>R-Snow MONO ES 200-1M</td>
                            <td>8 500 EUR</td>
                        </tr>
                        <tr>
                            <td>R-Snow MONO ES 300-1M</td>
                            <td>9 100 EUR</td>
                        </tr>
                        <tr>
                            <td>R-Snow SPLIT ES 200-1S</td>
                            <td>9 800 EUR</td>
                        </tr>
                        <tr>
                            <td>R-Snow SPLIT ES 300-1S</td>
                            <td>10 400 EUR</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div id="climagen" class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr class="info">
                            <th>
                                Генераторы морского климата R-Salt
                            </th>
                            <th style="width:150px;">
                                Цена
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>R-SALT SG-001 с канистрой 5л</td>
                            <td>1 980 EUR</td>
                        </tr>
                        <tr>
                            <td>Выносная панель включения с пьезокнопкой и подстветкой</td>
                            <td>150 EUR</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div id="icegen" class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr class="info">
                            <th>
                                Льдогенераторы R-Snow
                            </th>
                            <th style="width:150px;">
                                Цена
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Z1-250W</td>
                            <td>6 500 EUR</td>
                        </tr>
                        <tr>
                            <td>Z2-250W</td>
                            <td>6 700 EUR</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- .container-->