@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title">
                    <h2>Каталог оборудования для СПА</h2>
                    <ul class="breadcrumb">
                        <li><a href="~/Home/Index">Главная</a></li>
                        <li class="">Каталог</li>
                        <li class="active">СПА</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- .row-->
    </div>
    <!-- .container-->
</div>
<!-- .breadcrumb-area-->
<!-- .container-->
<div class="container">
    <div class="row">
        <div class="service-section">

            <div class="col-md-4 col-xs-12 col-sm-6">
                <div class="service-item">
                    <div class="service-thumb">
                        <img src="~/Content/img/Catalog/Index/ModulSauna.jpg" alt="">
                    </div>
                    <div class="service-description">
                        <a href="~/Catalog/Sauna"><h3>Модульные сауны</h3></a>
                        <p></p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-xs-12 col-sm-6">
                <div class="service-item">
                    <div class="service-thumb">
                        <img src="~/Content/img/Catalog/Index/MiniBass.jpg" alt="">
                    </div>
                    <div class="service-description">
                        <a href="~/Catalog/Spa"><h3>Мини бассейны</h3></a>
                        <p></p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-xs-12 col-sm-6">
                <div class="service-item">
                    <div class="service-thumb">
                        <img src="~/Content/img/Catalog/Index/SaltRooms.jpg" alt="">
                    </div>
                    <div class="service-description">
                        <a href="~/Catalog/SaltRoom"><h3>Соляные комнаты</h3></a>
                        <p></p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-xs-12 col-sm-6">
                <div class="service-item">
                    <div class="service-thumb">
                        <img src="~/Content/img/Catalog/Index/Hammam.jpg" alt="">
                    </div>
                    <div class="service-description">
                        <a href="~/Catalog/Hammam"><h3>Хаммамы</h3></a>
                        <p></p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-xs-12 col-sm-6">
                <div class="service-item">
                    <div class="service-thumb">
                        <img src="~/Content/img/Catalog/Index/SteamShower.jpg" alt="">
                    </div>
                    <div class="service-description">
                        <a href="~/Catalog/SteamShower"><h3>Пародушевые</h3></a>
                        <p></p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-xs-12 col-sm-6">
                <div class="service-item">
                    <div class="service-thumb">
                        <img src="~/Content/img/Catalog/Index/ExperienceShower.jpg" alt="">
                    </div>
                    <div class="service-description">
                        <a href="~/Catalog/SweetShower"><h3>Душ впечатлений</h3></a>
                        <p></p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-xs-12 col-sm-6">
                <div class="service-item">
                    <div class="service-thumb">
                        <img src="~/Content/img/Catalog/Index/SnowRooms.jpg" alt="">
                    </div>
                    <div class="service-description">
                        <a href="~/Catalog/Icegenerators"><h3>Cнежные комнаты</h3></a>
                        <p></p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>