@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title">
                    <h2>Relax Medical Systems®</h2>
                    <ul class="breadcrumb">
                        <li><a href="~/Home/Index">Главная</a></li>
                        <li class="">Каталог</li>
                        <li class="active">RMS</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- .row-->
    </div>
    <!-- .container-->
</div>
<!-- .breadcrumb-area-->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="history">
                 <div class="history-details">
                    <img src="~/Content/img/Catalog/rms/toplogo.png" alt="">
                    <p>
                        <strong>RMS® Co.</strong> - является ведущим в США производителем спа-оборудования для коммерческих и домашних спа-центров. <strong>RMS®</strong> производит профессиональные гидротерапевтические ванны и душевые кабины для коммерческого и персонального использования. Мы полностью привержены потребностям индустрии СПА и физической реабилитации. <strong>RMS ® , Co</strong> работает рука об руку с ведущими профессионалами отрасли для разработки лучших продуктов и программ. Мы используем самые передовые технологии и оборудование для производства самых эксклюзивных высококачественных спа-продуктов.
                        Благодаря улучшенной эргономике и лучшим премиальным материалам на всем, к чему вы прикасаетесь и чувствуете, продукты <strong>RMS®</strong> обеспечивают лучший спа-опыт для пользователя.
                        <strong>RMS®</strong> проектирует и производит наиболее полный спектр гидротерапевтического оборудования для профессионального использования в коммерческих дневных спа-салонах и спа-курортах или в домашних спа-центрах.

                    </p>
                    <br />
                    <h4>Разработка</h4>
                    <p>
                        Каждый производитель ванн заботится о людях внутри своей ванны, но как насчет людей снаружи? 
                        Начиная с проектирования прототипов для каждого из наших изделий, они проходят все этапы производства под постоянным контролем и строгим надзором. 
                        В составе <strong>RMS®</strong> приверженность удобству для всех, ванны спроектированы и построены с конической конструкцией юбки ванны, которая обеспечивает максимальное пространство для ног и колен для терапевта и спа-персонала для наиболее эргономичного позиционирования во время лечения.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- .row-->
    <div class="row" style="margin-top: 30px;">
        <div class="col-md-12">
            <h4>Каталог продукции</h4>
            <ul>
                <li><a href="~/content/img/catalog/rms/cs-1_regular.pdf" target="_blank">Каскадный душ CS-1 Regular</a></li>
                <li><a href="~/content/img/catalog/rms/e-15s.pdf" target="_blank">Гидромассажная ванна для верхних конечностей E-15S</a></li>
                <li><a href="~/content/img/catalog/rms/jumbo_line_x-tra.pdf" target="_blank">Интеллектуальные ванны нового поколения JUMBO LINE X-TRA</a></li>
                <li><a href="~/content/img/catalog/rms/sitz_bath.pdf" target="_blank">Сидячая поясная ванна и восходящий душ</a></li>
                <li><a href="~/content/img/catalog/rms/swiss_shower_ambassador_de-luxe.pdf" target="_blank">Швейцарский циркулярный душ AMBASSADOR DE-Luxe и Catalina Breeze</a></li>
            </ul>
        </div>
    </div>
    <!-- .row-->
</div>
<!-- .container-->