@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title">
                    <h2>Соляные комнаты</h2>
                    <ul class="breadcrumb">
                        <li><a href="~/Home/Index">Главная</a></li>
                        <li class="">Каталог</li>
                        <li class=""><a href="~/Catalog/Index">СПА</a></li>
                        <li class="active">Соляные комнаты</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- .row-->
    </div>
    <!-- .container-->
</div>
<!-- .breadcrumb-area-->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="history">
                <h3>Соляные комнаты от STARPOOL®</h3>
                <div class="history-details">
                    <img src="~/Content/img/Catalog/SaltRoom/SaltRoom.jpg" alt="">
                    <p>
                        В 21 веке соляная комната является неотъемлемой частью SPA-
                        процедур. Гималайская соль — это кристаллизованные морские
                        солевые отложения, которые были покрыты вулканической лавой. И до
                        сих пор эти солевые отложения хранятся глубоко в Гималайских горах
                        в их первоначальном, чистом, без каких-либо окружающих токсинов,
                        виде.<br />
                        Процедуры в соляных комнатах оказывают положительное влияние на
                        дыхательную систему человека и кожный покров тела.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- .row-->
    <div class="row">
        <div class="catalog-item-title">
            <strong>Соляная кабина</strong>
        </div>
        <div class="row col-md-12">
            <div class="col-md-4 col-xs-12 col-sm-6" style="padding-top: 22px;">
                <img src="~/Content/img/Catalog/SaltRoom/SaltCabine.jpg" />
            </div>
            <div class="col-md-6 col-xs-12 col-sm-6 catalog-item-description">
                <p>
                    Натуральные материалы: соль,
                    покрытие кабины из камня,
                    создают гармонии и уюта.
                    Встроенная печь регулирует
                    тепло (30°C) и влажность (40%),
                    создавая
                    способствующий
                    минеральной соли.
                </p>
                <ul style="list-style:disc;list-style-position:inside;">
                    <li>Размер – 285x285</li>
                    <li>Мин. высота потолка – 220 см</li>
                    <li>Высота двери – 215 см</li>
                    <li>Печь - Stufa Elettrica (6 кВт)</li>
                </ul>
            </div>
            <div class="col-md-2 col-xs-12 col-sm-6 catalog-item-price" style="padding-top: 50px;">
                <p>По запросу</p>
                <a class="btn btn-order" href="#">Заказать</a>
            </div>
        </div>
    </div>
    <!--item-row-->
    <div class="row">
        <div class="catalog-item-title">
            <strong>Соляная стена</strong>
        </div>
        <div class="row col-md-12">
            <div class="col-md-4 col-xs-12 col-sm-6" style="padding-top: 22px;">
                <img src="~/Content/img/Catalog/SaltRoom/SaltWall.jpg" />
            </div>
            <div class="col-md-6 col-xs-12 col-sm-6 catalog-item-description">
                <p>
                    Сочетает в себе преимущества
                    соли с расслабляющим эффектом света.
                    Печь регулирует микроклимат внутри.
                </p>
                <ul style="list-style:disc;list-style-position:inside;">
                    <li>Размеры – 285x250 / 600x250</li>
                    <li>Мин. высота потолка – 220 см</li>
                    <li>Высота двери – 215 см</li>
                    <li>Печь - Stufa Elettrica (6 и 15 кВт)</li>
                </ul>
            </div>
            <div class="col-md-2 col-xs-12 col-sm-6 catalog-item-price" style="padding-top: 50px;">
                <p>По запросу</p>
                <a class="btn btn-order" href="#">Заказать</a>
            </div>
        </div>
    </div>
    <!--item-row-->
    <div class="row">
        <div class="catalog-item-title">
            <strong>Соляная сауна</strong>
        </div>
        <div class="row col-md-12">
            <div class="col-md-4 col-xs-12 col-sm-6" style="padding-top: 22px;">
                <img src="~/Content/img/Catalog/SaltRoom/SaltSauna.jpg" />
            </div>
            <div class="col-md-6 col-xs-12 col-sm-6 catalog-item-description">
                <p>
                    Горячий воздух соляной сауны
                    стимулирует выведение из организма
                    всех вредных веществ. Способствует полной
                    релаксации. Температура внутри
                    сауны (50 - 60°C) и влажность
                    (20%).
                </p>
                <ul style="list-style:disc;list-style-position:inside;">
                    <li>Размер – 285x285</li>
                    <li>Мин. высота потолка – 220 см</li>
                    <li>Высота двери – 215 см</li>
                    <li>Печь - Stufa Elettrica (15 кВт)</li>
                </ul>
            </div>
            <div class="col-md-2 col-xs-12 col-sm-6 catalog-item-price" style="padding-top: 50px;">
                <p>По запросу</p>
                <a class="btn btn-order" href="#">Заказать</a>
            </div>
        </div>
    </div>
    <!--item-row-->
</div>
<!-- .container-->