@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type='text/javascript' src='~/content/fancybox/jquery.fancybox.min.js'></script>
<link rel='stylesheet' href='~/content/fancybox/jquery.fancybox.min.css' type='text/css' />

<script>
    $(document).ready(function () {
        $("[data-fancybox]").fancybox({
            'scrolling': 'yes'
        });
    });
</script>

<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title">
                    <h2>Модульные сауны</h2>
                    <ul class="breadcrumb">
                        <li><a href="~/Home/Index">Главная</a></li>
                        <li class="">Каталог</li>
                        <li class=""><a href="~/Catalog/Index">СПА</a></li>
                        <li class="active">Сауны</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- .row-->
    </div>
    <!-- .container-->
</div>
<!-- .breadcrumb-area-->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="history">
                <h3>МОДУЛЬНЫЕ САУНЫ WELLNESS SOLUTION</h3>
                <div class="history-details">
                    <img src="~/Content/img/sauna4.jpg" alt="">
                    <p>
                        Модульная сауна - современное и практичное решение для вашего дома или участка. Благодаря каркасной основе, время сбора сауны не составит больше 2-3 дней, что принесёт минимальные неудобства для жителей вашего дома.                    
                    </p>
                    <p>
                        При создании модульных саун <a href="~/home/index">WELLNESS SOLUTON</a> используются оборудование и материалы лучших европейских брендов.
                        
                    </p>
                    <p>
                        <img src="~/Content/img/brand_line.jpg" alt="" style="width:45%;float:none;">
                    </p>
                    <p>
                        В ходе разработки дизайна, бригада наших специалистов произведёт все нужные обмеры, а профессиональные дизайнеры помогут определиться с материалами и общим стилем сауны.
                        Помимо готовых примеров, мы можем предложить вам <strong>индивидуальный дизайн</strong>.
                    </p>
                    <div class="clearfix"></div>
                    <br />
                    <p>
                        Готовые примеры модульных саун:
                    </p>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="text-center">
                                <strong>Variant</strong>
                            </div>
                            <div class="gallery-item">
                                <a href="~/Content/img/Catalog/Sauna/variant.jpg" data-fancybox="gallery1" data-caption="Готовые примеры модульных саун - Variant">
                                    <img src="~/Content/img/Catalog/Sauna/variant.jpg" alt="" style="width:100%">
                                </a>
                            </div>
                            <div class="text-center">
                                <div>По запросу</div>
                                <a class="btn btn-order" href="#">Заказать</a>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="text-center">
                                <strong>Solide</strong>
                            </div>
                            <div class="gallery-item">
                                <a href="~/Content/img/Catalog/Sauna/solid.jpg" data-fancybox="gallery1" data-caption="Готовые примеры модульных саун - Solide">
                                    <img src="~/Content/img/Catalog/Sauna/solid.jpg" alt="" style="width:100%">
                                </a>
                            </div>
                            <div class="text-center">
                                <div>По запросу</div>
                                <a class="btn btn-order" href="#">Заказать</a>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="text-center">
                                <strong>Rubik</strong>
                            </div>
                            <div class="gallery-item">
                                <a href="~/Content/img/Catalog/Sauna/rubik.jpg" data-fancybox="gallery1" data-caption="Готовые примеры модульных саун - Rubik">
                                    <img src="~/Content/img/Catalog/Sauna/rubik.jpg" alt="" style="width:100%">
                                </a>
                            </div>
                            <div class="text-center">
                                <div>По запросу</div>
                                <a class="btn btn-order" href="#">Заказать</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- .row-->
    <div class="row">
        <div class="col-md-12">
            <div class="history">
                <h3>Модульные сауны STARPOOL®</h3>
                <div class="history-details">
                    <img src="~/Content/img/sauna3.jpg" alt="">
                    <p>
                        <img src="~/Content/img/starpoollogo.jpg" alt="" style="float:right;width:210px;margin:0;">
                        Сауны STARPOOL – это произведения искусства из Италии. Компания STARPOOL считает, что внешний вид продукции не может существовать отдельно от её функциональной направленности. Компании STARPOOL хорошо знакома аутентичная сущность дизайна, сделавшего Италию всемирным эталоном, которая она заключается в том, чтобы облечь содержимое высокого класса в привлекательную форму.  Детальная разработка внешнего вида выражается в гармоничных очертаниях, во вдумчивом использовании цвета, в осмысленной подсветке, она сопряжена с большим вниманием, уделяемым хорошему самочувствию человека и приятности окружения.
                    </p>
                    <div>  
                        <span>Модельный ряд:</span>                      
                        <ul>
                            <li><a href="~/Catalog/Sauna/SweetSauna90">● SWEET SAUNA 90</a></li>
                            <li><a href="~/Catalog/Sauna/SweetSaunaPro">● SWEET SAUNA PRO </a></li>
                            <li><a href="~/Catalog/Sauna/SweetSaunaSmart">● SWEET SAUNA SMART</a></li>
                            <li><a href="~/Catalog/Sauna/SweetSaunaSmartInfrared">● SWEET SAUND SMART INFRARED</a></li>
                            <li><a href="~/Catalog/Sauna/SweetSauna90Infrared">● SWEET SAUNA INFRARED / 90 COMBI</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- .row-->
</div>
<!-- .container-->