@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title">
                    <h2>Мини бассейны и СПА</h2>
                    <ul class="breadcrumb">
                        <li><a href="~/Home/Index">Главная</a></li>
                        <li class="active">Каталог</li>
                        <li class="active">Спа</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- .row-->
    </div>
    <!-- .container-->
</div>
<!-- .breadcrumb-area-->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="history">
                <h3>СПА-бассейны нового класса</h3>
                <div class="history-details">
                    <img src="~/Content/img/spa.jpg" alt="">
                    <p>
                        Ваш СПА-бассейн не должен быть похож на типовые
                        модели? Он должен отличаться техническим
                        оснащением и дизайном? И при этом быть надежным
                        и энергоэффективным? Вы поразитесь многообразию
                        моделей и их возможностям.
                        Серии Design, Premium и Comfort объединяют в себе
                        много хороших качеств: они сочетают инновационные
                        технологии с великолепным дизайном, высокое качество
                        с особым комфортом – словом, все то, что характерно
                        для любого изделия бренда Villeroy&Boch.
                        Представляем Вам СПА-бассейны нового класса с
                        уровнем качества, которое может предложить только
                        Villeroy&Boch.
                    </p>
                    <div>
                        <strong>Идеальное снятие стресса будней</strong>
                    </div>
                    <p>
                        Работа и личная жизнь отнимают у Вас много сил
                        и времени, поэтому его остается совсем немного
                        на то, чтобы снять накопившееся напряжение и
                        оздоровить себя. Сделайте свой домашний СПА-
                        бассейн местом отдыха и релакса, доступным для
                        Вас и Вашей семьи в любое время. Круглый год
                        Вы можете расслабляться в Вашем уличном СПА-
                        бассейне: летом и зимой на свежем воздухе.
                    </p>
                    <div>
                        <strong><a href="~/Content/docs/spa_VB.pdf" target="_blank">Каталог продукции Villeroy&Boch</a></strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- .row-->
</div>
<!-- .container-->