@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type='text/javascript' src='~/content/fancybox/jquery.fancybox.min.js'></script>
<link rel='stylesheet' href='~/content/fancybox/jquery.fancybox.min.css' type='text/css' />

<script>
    $(document).ready(function () {
        $("[data-fancybox]").fancybox({
            'scrolling': 'yes'
        });
    });
</script>

<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title">
                    <h2>Парогенераторы для сауны и хамама</h2>
                    <ul class="breadcrumb">
                        <li><a href="~/Home/Index">Главная</a></li>
                        <li class="">Каталог</li>
                        <li class="active">Парогенераторы</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- .row-->
    </div>
    <!-- .container-->
</div>
<!-- .breadcrumb-area-->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="history">
                <h3>Парогенераторы NORDMANN</h3>
            </div>
        </div>
    </div>
    <div class="row catalog-item-small">
        <div class="col-md-3">
            <div>
                <img src="~/Content/img/Catalog/SteamGenerators/АТ4.jpg" alt="" style="width:100%;">
            </div>
            <div>
                <a href="~/Catalog/SteamGenerators/AT4">Парогенератор AT4D 3.8 кВт</a>
            </div>
            <div class="text-center">
                <div>По запросу</div>
                <a class="btn btn-order" href="#">Заказать</a>
            </div>
        </div>
        <div class="col-md-3">
            <div>
                <img src="~/Content/img/Catalog/SteamGenerators/АТ4.jpg" alt="" style="width:100%;">
            </div>
            <div>
                <a href="~/Catalog/SteamGenerators/AT4">Парогенератор AT4D 6.0 кВт</a>
            </div>
            <div class="text-center">
                <div>По запросу</div>
                <a class="btn btn-order" href="#">Заказать</a>
            </div>
        </div>
        <div class="col-md-3">
            <div>
                <img src="~/Content/img/Catalog/SteamGenerators/АТ4.jpg" alt="" style="width:100%;">
            </div>
            <div>
                <a href="~/Catalog/SteamGenerators/AT4">Парогенератор AT4D 11.2 кВт</a>
            </div>
            <div class="text-center">
                <div>По запросу</div>
                <a class="btn btn-order" href="#">Заказать</a>
            </div>
        </div>
        <div class="col-md-3">
            <div>
                <img src="~/Content/img/Catalog/SteamGenerators/АТ4.jpg" alt="" style="width:100%;">
            </div>
            <div>
                <a href="~/Catalog/SteamGenerators/AT4">Парогенератор AT4D 17.3 кВт</a>
            </div>
            <div class="text-center">
                <div>По запросу</div>
                <a class="btn btn-order" href="#">Заказать</a>
            </div>
        </div>
        <div class="col-md-3">
            <div>
                <img src="~/Content/img/Catalog/SteamGenerators/АТ4.jpg" alt="" style="width:100%;">
            </div>
            <div>
                <a href="~/Catalog/SteamGenerators/AT4">Парогенератор AT4D 24.0 кВт</a>
            </div>
            <div class="text-center">
                <div>По запросу</div>
                <a class="btn btn-order" href="#">Заказать</a>
            </div>
        </div>
        <div class="col-md-3">
            <div>
                <img src="~/Content/img/Catalog/SteamGenerators/АТ4.jpg" alt="" style="width:100%;">
            </div>
            <div>
                <a href="~/Catalog/SteamGenerators/AT4">Парогенератор AT4D 33.7 кВт</a>
            </div>
            <div class="text-center">
                <div>По запросу</div>
                <a class="btn btn-order" href="#">Заказать</a>
            </div>
        </div>
        <div class="col-md-3">
            <div>
                <img src="~/Content/img/Catalog/SteamGenerators/АТ4.jpg" alt="" style="width:100%;">
            </div>
            <div class="text-center">
                <div>
                    <a href="~/Catalog/SteamGenerators/AT4">Парогенератор AT4D 48.8 кВт</a>
                </div>
                <div>По запросу</div>
                <a class="btn btn-order" href="#">Заказать</a>
            </div>
        </div>

        <div class="col-md-3">
            <div>
                <img src="~/Content/img/Catalog/SteamGenerators/ES4.jpg" alt="" style="width:100%;">
            </div>
            <div>
                <a href="~/Catalog/SteamGenerators/ES4">Парогенератор ES4 3.8 кВт</a>
            </div>
            <div class="text-center">
                <div>По запросу</div>
                <a class="btn btn-order" href="#">Заказать</a>
            </div>
        </div>
        <div class="col-md-3">
            <div>
                <img src="~/Content/img/Catalog/SteamGenerators/ES4.jpg" alt="" style="width:100%;">
            </div>
            <div>
                <a href="~/Catalog/SteamGenerators/ES4">Парогенератор ES4 6.0 кВт</a>
            </div>
            <div class="text-center">
                <div>По запросу</div>
                <a class="btn btn-order" href="#">Заказать</a>
            </div>
        </div>
        <div class="col-md-3">
            <div>
                <img src="~/Content/img/Catalog/SteamGenerators/ES4.jpg" alt="" style="width:100%;">
            </div>
            <div>
                <a href="~/Catalog/SteamGenerators/ES4">Парогенератор ES4 11.4 кВт</a>
            </div>
            <div class="text-center">
                <div>По запросу</div>
                <a class="btn btn-order" href="#">Заказать</a>
            </div>
        </div>
        <div class="col-md-3">
            <div>
                <img src="~/Content/img/Catalog/SteamGenerators/ES4.jpg" alt="" style="width:100%;">
            </div>
            <div>
                <a href="~/Catalog/SteamGenerators/ES4">Парогенератор ES4 17.5 кВт</a>
            </div>
            <div class="text-center">
                <div>По запросу</div>
                <a class="btn btn-order" href="#">Заказать</a>
            </div>
        </div>
        <div class="col-md-3">
            <div>
                <img src="~/Content/img/Catalog/SteamGenerators/ES4.jpg" alt="" style="width:100%;">
            </div>
            <div>
                <a href="~/Catalog/SteamGenerators/ES4">Парогенератор ES4 24.3 кВт</a>
            </div>
            <div class="text-center">
                <div>По запросу</div>
                <a class="btn btn-order" href="#">Заказать</a>
            </div>
        </div>
        <div class="col-md-3">
            <div>
                <img src="~/Content/img/Catalog/SteamGenerators/ES4.jpg" alt="" style="width:100%;">
            </div>
            <div>
                <a href="~/Catalog/SteamGenerators/ES4">Парогенератор ES4 34.2 кВт</a>
            </div>
            <div class="text-center">
                <div>По запросу</div>
                <a class="btn btn-order" href="#">Заказать</a>
            </div>
        </div>
        <div class="col-md-3">
            <div>
                <img src="~/Content/img/Catalog/SteamGenerators/ES4.jpg" alt="" style="width:100%;">
            </div>
            <div class="text-center">
                <div>
                    <a href="~/Catalog/SteamGenerators/ES4">Парогенератор ES4 49.4 кВт</a>
                </div>
                <div>По запросу</div>
                <a class="btn btn-order" href="#">Заказать</a>
            </div>
        </div>


    </div>
</div>
