@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title">
                    <h2>Каталог оборудования для СПА</h2>
                    <ul class="breadcrumb">
                        <li><a href="~/Home/Index">Главная</a></li>
                        <li class="">Каталог</li>
                        <li class=""><a href="~/Catalog/Index">СПА</a></li>
                        <li class="active">Пародушевые</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- .row-->
    </div>
    <!-- .container-->
</div>
<!-- .breadcrumb-area-->
<!-- .container-->
<div class="container">
    <div class="row">
        <div class="service-section">
            <div class="col-md-6">
                <div class="service-item">
                    <div class="service-thumb">
                        <img src="~/Content/img/Catalog/SteamShower/SweetSmart.jpg" alt="">
                    </div>
                    <div class="service-description">
                        <a href="~/Catalog/SteamShower/SweetSteamSmart"><h3>Sweet Steam Smart</h3></a>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="service-item">
                    <div class="service-thumb">
                        <img src="~/Content/img/Catalog/SteamShower/SweetSpa.jpg" alt="">
                    </div>
                    <div class="service-description">
                        <a href="~/Catalog/SteamShower/SweetSpa"><h3>Sweet Spa</h3></a>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

