@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title">
                    <h2>Душ впечатлений</h2>
                    <ul class="breadcrumb">
                        <li><a href="~/Home/Index">Главная</a></li>
                        <li class="">Каталог</li>
                        <li class=""><a href="~/Catalog/Index">СПА</a></li>
                        <li class="active">Душ впечатлений</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- .row-->
    </div>
    <!-- .container-->
</div>
<!-- .breadcrumb-area-->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="history">
                <h3>STARPOOL SWEETSHOWER</h3>
                <div class="history-details">
                    <img src="~/Content/img/Catalog/SweetShower/SweetShower1.jpg" alt="">
                    <p>
                        <strong>SweetShower</strong> – это душ, который переопределяет взаимосвязь между телом и водой. 
                        Цвета и струи различной интенсивности, ароматы и звуки сочетаются, создавая ощущение дождя благодаря верхнему диффузору. 
                        Теплый ливень, свежий бриз или летний дождь с запахом мяты и маракуйи делает незабываемыми моменты, проведенные в <strong>SweetShower</strong>.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- .row-->
    <div class="row" style="margin-top: 30px;">
        <div class="col-md-12">
            <h4>Варианты отделки</h4>
            <div class="col-md-3">
                <div>
                    <strong>Crystal black</strong>
                </div>
                <div>
                    <img src="~/Content/img/Catalog/SweetShower/black.jpg" alt="">
                </div>
                <div class="text-center">
                    <div>По запросу</div>
                    <a class="btn btn-order" href="#">Заказать</a>
                </div>
            </div>
            <div class="col-md-3">
                <div>
                    <strong>Crystal white</strong>
                </div>
                <div>
                    <img src="~/Content/img/Catalog/SweetShower/white.jpg" alt="">
                </div>
                <div class="text-center">
                    <div>По запросу</div>
                    <a class="btn btn-order" href="#">Заказать</a>
                </div>
            </div>
            <div class="col-md-3">
                <div>
                    <strong>Luxury calacatta</strong>
                </div>
                <div>
                    <img src="~/Content/img/Catalog/SweetShower/calacatta.jpg" alt="">
                </div>
                <div class="text-center">
                    <div>По запросу</div>
                    <a class="btn btn-order" href="#">Заказать</a>
                </div>
            </div>
            <div class="col-md-3">
                <div>
                    <strong>Luxury eramosa</strong>
                </div>
                <div>
                    <img src="~/Content/img/Catalog/SweetShower/eramosa.jpg" alt="">
                </div>
                <div class="text-center">
                    <div>По запросу</div>
                    <a class="btn btn-order" href="#">Заказать</a>
                </div>
            </div>
        </div>
    </div>
    <!-- .row-->
    <div class="row" style="margin-top:60px;">
        <div class="col-md-12">
            <h4>Технические характеристики</h4>
            <div class="table-responsive">
                <table class="table table-parameters">
                    <thead>
                        <tr>
                            <th>
                                ДУШЕВАЯ КАБИНА
                            </th>
                            <th>
                                SWEET SHOWER 
                            </th>
                            <th>
                                SWEET SHOWER VISION
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td colspan="2">
                                ПОЛ ОПЦИОНАЛЬНО
                            </td>
                        </tr>
                        <tr>
                            <td>РАЗМЕРЫ (СМ)</td>
                            <td>
                                <p>105 Д х 105 Ш х 233 В</p>
                                <p>105 Д х 195 Ш х 233 В</p>
                                <p>195 Д х 105 Ш х 233 В</p>
                            </td>
                            <td>
                                <p>130 Д х 105 Ш х 233 В</p>
                                <p>130 Д х 195 Ш х 233 В</p>
                                <p>220 Д х 105 Ш х 233 В</p>
                            </td>
                        </tr>
                        <tr>
                            <td>ПИТАНИЕ</td>
                            <td colspan="2">230В 1Р + N + PE</td>
                        </tr>
                        <tr>
                            <td>ПОТРЕБЛЕНИЕ</td>
                            <td colspan="2">200 Вт</td>
                        </tr>
                        <tr>
                            <td>РЕЖИМЫ</td>
                            <td colspan="2">
                                ДУШ ВПЕЧАТЛЕНИЙ
                            </td>
                        </tr>
                        <tr>
                            <td>ДВЕРЬ</td>
                            <td colspan="2">
                                <div>
                                    <p>РАМКА ДВЕРИ ИЗ СТАЛИ AISI316L</p>
                                    <p>ЗАКАЛЕННОЕ СТЕКЛО 10 ММ</p>
                                    <p>ШИРИНА ДВЕРИ 87 СМ</p>
                                    <p>РУЧКА – ДЕРЕВО/СТАЛЬ</p>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>МАТЕРИАЛ СТЕН</td>
                            <td colspan="2">
                                <div>
                                    <p><strong>CRYSTAL</strong>: СТЕКЛО БЕЛОГО ИЛИ ЧЕРНОГО ЦВЕТА</p>
                                    <p><strong>LUXURY</strong>: МРАМОР ДВУХ РИСУНКОВ НА ВЫБОР: ERAMOSA ИЛИ CALACATTA</p>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>МУЗЫКА</td>
                            <td colspan="2">SPA-MUSIC BY STARPOOL. MP3. Bluetooth (опционально)</td>
                        </tr>
                        <tr>
                            <td>ОСВЕЩЕНИЕ</td>
                            <td colspan="2">RGB LED-ПЛАНКА</td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                В ОТЛИЧИЕ ОТ ВЕРСИИ PERSONAL, ВЕРСИЯ PERSONAL PLUS ПОЗВОЛЯЕТ НАСЛАДИТЬСЯ ДОП.ОПЦИЯМИ: 1. ВЕРХНИЙ ДУШ С ВСТРОЕННЫМИ ДИФФУЗОРАМИ И ЛАМПОЙ БЕЛОГО СВЕТА ИМИТИРУЕТ ТЕПЛЫЙ ЛИВЕНЬ, СВЕЖИЙ БРИЗ ИЛИ ЛЕТНИЙ ДОЖДЬ С ЗАПАХОМ МЯТЫ И МАРАКУЙИ.
                                2. 4 WELLNESS РЕЖИМА: ПРЕДВАРИТЕЛЬНО НАСТРОЕННАЯ СМЕНА ЦВЕТОВЫХ СЦЕН, СОПРОВОЖДАЮЩАЯСЯ РАСПЫЛЕНИЕМ АРОМАТОВ И ПОДОБРАННОЙ МУЗЫКИ ДЛЯ СОЗДАНИЯ НАСТРОЕНИЯ.
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- .row-->
</div>
<!-- .container-->