@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function() {

        $('#slider').nivoSlider({
            directionNav: true,
            directionNavHide: false,
            controlNav: false,
            controlNavThumbs: false
        });
    });
</script>

<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title">
                    <h2>Модульные сауны</h2>
                    <ul class="breadcrumb">
                        <li><a href="~/Home/Index">Главная</a></li>
                        <li class="">Каталог</li>
                        <li><a href="~/Catalog/Sauna">Сауны</a></li>
                        <li class="active">Sweet Sauna 90</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- .row-->
    </div>
    <!-- .container-->
</div>
<!-- .breadcrumb-area-->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="history">
                <h3>Модульная сауна Sweet Sauna 90</h3>
                <div class="history-details">
                    <div class="pull-left" style="width: 48%;margin-right:30px;">
                        <div id="slider" class="theme-default nivoSlider">
                            <img src="~/Content/img/Catalog/Sauna/SweetSauna901.jpg" alt="">
                            <img src="~/Content/img/Catalog/Sauna/SweetSauna902.jpg" alt="">
                        </div>
                    </div>
                    <p>
                        <strong>SweetSauna 90</strong> – это уникальная среда, сочетающая традиции
                        финской сауны и современный взгляд на СПА. Сенсорная панель делает
                        использование сауны интуитивно понятным. Всего за несколько минут
                        достигается необходимая температура, потребляя 4,2 кВт, что
                        позволяет использовать Sweet Sauna 90 в домашних условиях.
                        Установка возможна везде, где имеется необходимое пространство и
                        источник энергии, даже в облицованных помещениях.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <br />
    <!-- .row-->
    <div class="row">
        <div class="col-md-12">
            <h4>Варианты отделки</h4>
            <div class="col-xs-6">
                <div>
                    <strong>Cortina</strong>
                </div>
                <div class="sel-matherial">
                    <img src="~/Content/img/Catalog/Sauna/cortina.jpg" alt="">
                </div>
                <div class="cost-matherial text-center">
                    <div>По запросу</div>
                    <a class="btn btn-order" href="#">Заказать</a>
                </div>
            </div>
            <div class="col-xs-6">
                <div>
                    <strong>Milano</strong>
                </div>
                <div class="sel-matherial">
                    <img src="~/Content/img/Catalog/Sauna/milano.jpg" alt="">
                </div>
                <div class="cost-matherial text-center">
                    <div>По запросу</div>
                    <a class="btn btn-order" href="#">Заказать</a>
                </div>
            </div>
        </div>
    </div>
    <!-- .row-->
    <div class="row" style="margin-top:60px;">
        <div class="col-md-12">
            <h4>Технические характеристики</h4>
            <div class="table-responsive">
                <table class="table table-parameters">
                    <thead>
                        <tr>
                            <th>
                                Модель
                            </th>
                            <th>
                                SWEET SAUNA 90 SOCIAL
                            </th>
                            <th>
                                SWEET SAUNA 90 PERSONAL / PERSONAL PLUS
                            </th>
                            <th>
                                SWEET SAUNA 90 SOCIAL XL
                            </th>
                            <th>
                                SWEET SAUNA 90 PERSONAL / PERSONAL PLUS XL
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td>
                                С ПОЛОМ
                            </td>
                            <td>
                                С ПОЛОМ
                            </td>
                            <td>
                                БЕЗ ПОЛА
                            </td>
                            <td>
                                С ПОЛОМ
                            </td>
                        </tr>
                        <tr>
                            <td>ДОСТУПНЫЕ РАЗМЕРЫ (СМ)</td>
                            <td>175 Д х 150 Ш х 230 В</td>
                            <td>200 Д х 150 Ш х 230 В</td>
                            <td>250 Д х 150 Ш х 230 В</td>
                            <td>275 Д х 150 Ш х 230 В</td>
                        </tr>
                        <tr>
                            <td>НЕОБХОДИМОЕ ПРОСТРАНСТВО ДЛЯ УСТАНОВКИ (СМ)</td>
                            <td>185 Д х 155 Ш х 240 В</td>
                            <td>210 Д х 155 Ш х 240 В</td>
                            <td>260 Д х 155 Ш х 240 В</td>
                            <td>285 Д х 155 Ш х 240 В</td>
                        </tr>                        
                        <tr>
                            <td>ВЕС (КГ)</td>
                            <td>810</td>
                            <td colspan="3">1260</td>
                        </tr>                        
                        <tr>
                            <td>ПИТАНИЕ</td>
                            <td>230В 1Р + N + PE</td>
                            <td colspan="3">400В 3Р + N + PE</td>
                        </tr>
                        <tr>
                            <td>ПОТРЕБЛЕНИЕ</td>
                            <td>4.5 кВт</td>
                            <td colspan="3">6.5 кВт</td>
                        </tr>
                        <tr>
                            <td>РЕЖИМ</td>
                            <td colspan="4">
                                 ФИНСКАЯ САУНА
                            </td>
                        </tr>
                        <tr>
                            <td>ТЕМПЕРАТУРА</td>
                            <td colspan="4">
                                80-90 ⁰С
                            </td>
                        </tr>
                        <tr>
                            <td>ВЛАЖНОСТЬ</td>
                            <td colspan="4">
                                10-20%
                            </td>
                        </tr>
                        <tr>
                            <td>ДВЕРЬ</td>
                            <td colspan="4">
                                ЗАКАЛЕНОЕ СТЕКЛО 10 ММ.
                                РУЧКА ИЗ ДЕРЕВА ВНУТРИ, ИЗ СТАЛИ СНАРУЖИ
                            </td>
                        </tr>
                        <tr>
                            <td>ШИРИНА ДВЕРИ</td>
                            <td>88 см</td>
                            <td colspan="3">131 см</td>
                        </tr>
                        <tr>
                            <td>МАТЕРИАЛ ЛАВКИ/ПОЛА/ПОТОЛКА</td>
                            <td colspan="4">ТЕРМООБРАБОТАННЫЙ ДУБ</td>
                        </tr>
                        <tr>
                            <td>МАТЕРИАЛ СТЕН</td>
                            <td colspan="4">
                                <div>
                                    <p><strong>CORTINA</strong>: СТИЛЬНЫЙ АСИММЕТРИЧНЫЙ РИСУНОК, РАЗГРАФЛЕННЫЙ НА СВЕТЛОМ ДУБЕ</p>
                                    <p><strong>MILANO</strong>: ЧЕРЕДОВАНИЕ СВЕТЛЫХ И ТЕМНЫХ ПРОФИЛЕЙ НАТУРАЛЬНОГО И ТЕРМООБРАБОТАННОГО ДУБА</p>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>МАТЕРИАЛ СТЕНЫ ЗА ПЕЧЬЮ</td>
                            <td colspan="4">
                                <div>
                                    <p><strong>CRYSTAL</strong>: СТЕКЛО С ОКРАСОМ ОБОРОТНОЙ  СТОРОНЫ В БЕЛЫЙ ИЛИ ЧЕРНЫЙ ЦВЕТ</p>
                                    <p><strong>LUXURY</strong>: МРАМОР ДВУХ РИСУНКОВ НА ВЫБОР</p>
                                </div>

                            </td>
                        </tr>
                        <tr>
                            <td>АРОМАТИЗАЦИЯ</td>
                            <td colspan="4">ВСТРОЕННЫЕ ДИФФУЗОРЫ. 4 ЗАПАХА</td>
                        </tr>
                        <tr>
                            <td>МУЗЫКА</td>
                            <td colspan="4">SPA-MUSIC BY STARPOOL. MP3, US, BLUETOOTH</td>
                        </tr>
                        <tr>
                            <td>ОСВЕЩЕНИЕ</td>
                            <td colspan="4">RGB LED-ПЛАНКА</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- .row-->
</div>
<!-- .container-->
