@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title">
                    <h2>О компании</h2>
                    <ul class="breadcrumb">
                        <li><a href="index.html">Главная</a></li>
                        <li class="active">О компании</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- .row-->
    </div>
    <!-- .container-->
</div>
<!-- .breadcrumb-area-->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="history">
                <h3>Wellness Solution</h3>
                <div class="history-details">
                    <img src="~/Content/img/about.jpg" alt="">
                    <img src="~/Content/img/about.jpg" alt="">
                    <p>
                        Компания <strong>Wellness Solution</strong> создала свою концепцию здорового образа жизни. Если вам небезразлично собственное здоровье, если вы не хотите становиться постоянным клиентом докторов, то самое время начинать заботиться о себе со всей тщательностью и знакомиться с практикой wellness                    
                    </p>
                    <p>
                        О здоровом образе жизни сегодня говорят невероятно много. Фитнесс, спа-салоны, сауны – всё это позволяет вам держать себя в тонусе ежедневно. Для нас Wellness стал не только образом жизни, но и философией. 
                    </p>
                    <p>
                        Наша компания имеет огромный опыт в этой сфере деятельности и является участником крупных строительных проектов, таких как: 
                        <ul>
                            <li>
                                <a href="~/home/gallery#generium">Генериум</a> - один из общественных бассейнов, построенный совместно с компанией ООО «ОЛПУЛС»  был закончен зимой 2016 года.
                            </li>
                            <li>
                                <a href="~/home/gallery#penza">Пенза</a> - частный бассейн с spa зоной, проектирование и строительство которого производила наша компания в тесном сотрудничестве с <a href="http://sv-dom.ru">ООО «ПСК СВ-Строй»</a> и ООО «ОЛПУЛС».
                            </li>
                        </ul>
                    </p>
                    <p>
                        Компания <strong>Wellness Solution</strong> предлагает свои услуги в таких сферах как:
                        <ul style="list-style:disc;list-style-position:inside;">
                            <li>
                                Строительство SPA комплексов с бассейнами и зон отдыха
                            </li>
                            <li>
                                Проектирование
                            </li>
                            <li>
                                Сервис оборудования
                            </li>
                            <li>
                                Устройство и монтаж модульных саун
                            </li>
                            <li>
                                Оборудование и аксессуары для саун
                            </li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- .row-->
</div>
<!-- .container-->
<div class="container">
    <div class="row">
        <div class="company-focus">
            <div class="col-md-6 col-xs-12">
                <div class="company-mision">
                    <h3>Проектирование &amp; дизайн</h3>
                    <img src="~/Content/img/mission.jpg" alt="">
                    <p>
                        Наша компания предлагает свои услуги по проектированию и строительству. Опытные специалисты компании Wellness Solution разработают проект бассейна или SPA-зоны, учитывая ваши пожелания, а также стандарты строительных нормативов. В процессе проектирования вы получите такую информацию как:
                        <ul style="list-style:disc;list-style-position:inside;">
                            <li>
                                Цена проекта
                            </li>
                            <li>
                                Количество материалов необходимых для строительства.
                            </li>
                            <li>
                                Размер и расположение технического помещения 
                            </li>
                            <li>
                                Расположение трубопроводов бассейна и точки подключения к коммуникациям 
                            </li>
                            <li>
                                Электрическая схема подключения оборудования для бассейна
                            </li>
                        </ul>
                    </p>
                    <p>
                        Использование самых эффективных технологий в строительстве и наличие профессиональной бригады, даёт нам возможность гарантировать реализацию объекта высокого качества.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="company-vision">
                    <h3>Сервис &amp; обслуживание </h3>
                    <img src="~/Content/img/vision.jpg" alt="">
                    <p>
                        Сервисное обслуживание бассейнов и SPA – это один из самых важных моментов в их эксплуатации. Проведение плановых осмотров позволит вам избежать многих неприятностей, а также сберечь время и деньги. 
                    </p>
                    <p>
                        Наша компания готова предоставить своих высококвалифицированных специалистов, способных в любое время произвести плановое обслуживание вашего бассейна. Профессиональная бригада готова не только устранить неисправность, но и спрогнозировать дальнейшее поведение бассейна, а значит, предпринять всё возможное для предотвращения появления новой проблемы.                    
                    </p>
                </div>
            </div>
        </div>
        <!--.company-focus -->
    </div>
    <!-- .row-->
</div>
<!-- .container-->