@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title">
                    <h2>Контакты</h2>
                    <ul class="breadcrumb">
                        <li><a href="index">Главная</a></li>
                        <li class="active">Контакты</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- .row-->
    </div>
    <!-- .container-->
</div>
<!-- .breadcrumb-area-->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="map-head">
                <h4>Как нас найти</h4>
            </div>
        </div>
        <div class="map-area">
            <div id="mapCanvas" class="map-canvas">
                <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A3d68042b0d5fe72d3df8a42d697ba38f725e1bfef5f6a99c93179d9eb44cbf01&amp;source=constructor" width="100%" height="400" frameborder="0"></iframe>
            </div>
        </div>
        <!-- .map-area-->
                <!-- .col-md-12-->
    </div>
    <!-- .row-->
</div>
<!-- .container-->

<div class="container">
    <div class="row">
        <div class="form-section">
            <div class="col-md-4 col-xs-12 col-sm-4">
                <div class="office-location">
                    <div class="contact-us head-office">
                        <h4>Главный офис</h4>
                        <address>
                            Москва, Колодезный переулок дом 3, строение 26
                        </address>
                        <address>
                            <span>Email :</span>
                            <a href="mailto:russiawellness@yandex.ru">russiawellness@yandex.ru</a>
                        </address>
                        <address>
                            <span>Тел :</span>
                            +7 (495) 961 68 45 <br />
                            +7 (985) 767 98 21 <br />
                        </address>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-xs-12 col-sm-8">
                <div id="contact-container">
                    <h4>Форма обратной связи</h4>
                    <p>Оставьте заявку на сайте и наши специалисты ответитят на все Ваши вопросы</p>
                    <div class="main-contact-form">
                        <input type="text" id="full-name" name="name" placeholder="Ваше имя">
                        <input type="email" id="email" name="email" placeholder="Email">
                        <input type="text" id="phone" name="phone" placeholder="Тел">
                        <input type="text" id="subject" name="subject" placeholder="Тема">
                        <textarea name="message" id="message" cols="30" rows="4" placeholder="Текст сообщения"></textarea>
                        <input type="button" class="btn btn-send-order" parentform="contact-container" value="Отправить">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>