@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="welcome-section">
                <div class="welcome-thumb">
                    <img src="~/Content/img/welcome.jpg" alt="welcome fontanero">
                </div>
                <div class="welcome-content">
                    <h3>Wellness Solution</h3>
                    <p>
                        Компания Wellness Solution создала свою концепцию здорового
                        образа жизни. Если вам небезразлично собственное здоровье, если
                        вы не хотите становиться постоянным клиентом докторов, то самое
                        время начинать заботиться о себе со всей тщательностью и
                        знакомиться с практикой wellness.
                    </p>
                    <p>
                        О здоровом образе жизни сегодня говорят невероятно много.
                        Фитнесс, спа-салоны, сауны – всё это позволяет вам держать себя в
                        тонусе ежедневно. Для нас Wellness стал не только образом жизни,
                        но и философией.
                    </p>
                    <a class="btn" href="~/home/about">Далее</a>
                </div>
            </div>
            <!-- .welcome-section-->
        </div>
        <!-- .col-md-12-->
    </div>
    <!-- .row-->
</div>
<!-- .container-->
<div class="container">
    <div class="row">
        <div class="service-section">
            <div class="col-md-12">
                <!-- Nav tabs -->
                <ul class="tablist" role="tablist">
                    <li>Сервис имеет значение</li>
                    <li role="presentation" class="active"><a href="#residential" aria-controls="residential" role="tab" data-toggle="tab">Частным лицам</a></li>
                    <li role="presentation"><a href="#commercial" aria-controls="commercial" role="tab" data-toggle="tab">Для бизнеса</a></li>
                </ul>
            </div>

            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="residential">
                    <div class="col-md-4 col-xs-12 col-sm-6">
                        <div class="service-item">
                            <div class="service-thumb">
                                <img src="~/Content/img/service/private1.jpg" alt="">
                            </div>
                            <div class="service-description">
                                <a href="~/Service/Construction"><h3>Строительство</h3></a>
                                <p>Строительство бассейнов, русских и финских саун, турецких бань и хамам</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12 col-sm-6">
                        <div class="service-item">
                            <div class="service-thumb">
                                <img src="~/Content/img/service/private2.jpg" alt="">
                            </div>
                            <div class="service-description">
                                <a href="~/Service/Design"><h3>Дизайн</h3></a>
                                <p>Дизайн и проектирование саун и бань</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12 col-sm-6">
                        <div class="service-item">
                            <div class="service-thumb">
                                <img src="~/Content/img/service/private3.jpg" alt="">
                            </div>
                            <div class="service-description">
                                <a href="~/Service/Maintenance"><h3>Сервис</h3></a>
                                <p>Техническое обслуживание оборудования бассейнов и SPA</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12 col-sm-6">
                        <div class="service-item">
                            <div class="service-thumb">
                                <img src="~/Content/img/service/private4.jpg" alt="">
                            </div>
                            <div class="service-description">
                                <a href="#"><h3>Сауны и бани</h3></a>
                                <p>Устройство и монтаж модульных саун и бань</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12 col-sm-6">
                        <div class="service-item">
                            <div class="service-thumb">
                                <img src="~/Content/img/service/private5.jpg" alt="">
                            </div>
                            <div class="service-description">
                                <a href="#"><h3>Оборудование</h3></a>
                                <p>Продажа оборудования для технического оснащения бассейнов</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12 col-sm-6">
                        <div class="service-item">
                            <div class="service-thumb">
                                <img src="~/Content/img/service/private6.jpg" alt="">
                            </div>
                            <div class="service-description">
                                <a href="#"><h3>Аксессуары</h3></a>
                                <p>Каталог сопутствующих товаров для саун и бань</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="commercial">
                    <div class="col-md-4 col-xs-12 col-sm-6">
                        <div class="service-item">
                            <div class="service-thumb">
                                <img src="~/Content/img/service/commercial1.jpg" alt="">
                            </div>
                            <div class="service-description">
                                <a href="~/Service/Construction"><h3>Строительство</h3></a>
                                <p>Строительство SPA комплексов с бассейнами и зон отдыха, банные комлексы и хамам</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12 col-sm-6">
                        <div class="service-item">
                            <div class="service-thumb">
                                <img src="~/Content/img/service/commercial2.jpg" alt="">
                            </div>
                            <div class="service-description">
                                <a href="~/Service/Design"><h3>Проектирование</h3></a>
                                <p>Архитектурное проектирование и дизайн SPA комплесов, бассенов, саун и бань</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12 col-sm-6">
                        <div class="service-item">
                            <div class="service-thumb">
                                <img src="~/Content/img/service/commercial3.jpg" alt="">
                            </div>
                            <div class="service-description">
                                <a href="~/Service/Maintenance"><h3>Сервис</h3></a>
                                <p>Техническое обслуживание оборудования бассейнов и SPA комплексов</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- .service-section-->
    </div>
    <!-- .row-->
</div>
<!-- .container-->
<div class="container">
    <div class="service-activity">
        <div class="row">
            <div class="col-md-12">
                <div class="activity-head">
                    <h2>Почему вы можете положиться со 100% уверенностью на компанию <span>Wellness Solution Russia</span></h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="activity-list-items">
                <div class="col-md-4 col-xs-12 col-sm-4">
                    <div class="activity-list">
                        <div class="activity-icon">
                            <i class="fa fa-book"></i>
                        </div>
                        <div class="activity-details">
                            <h4>Надежность</h4>
                            <p>более 100 довольных клиентов</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12 col-sm-4">
                    <div class="activity-list">
                        <div class="activity-icon">
                            <i class="fa fa-clock-o"></i>
                        </div>
                        <div class="activity-details">
                            <h4>Опыт</h4>
                            <p>мы работаем на рынке более 20 лет</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12 col-sm-4">
                    <div class="activity-list">
                        <div class="activity-icon">
                            <i class="fa fa-trophy"></i>
                        </div>
                        <div class="activity-details">
                            <h4>Достижения</h4>
                            <p>27 наград в различных конкурсах</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- .activity-list-items-->
        </div>
    </div>
    <!-- .service-activity-->
</div>
<!-- .container-->