.logs
.suo
Logs
bin
obj
packages
bundles
*.fxp
FoxApp/Service/*.BAK
.bak
.err
.pdb
.pidb
.suo
.user
.userprefs
_ReSharper.*
_UpgradeReport_Files
UpgradeLog.*
*.dbmdl
User.SqlSchemaCompare.scmp
User.publish.xml
*.user.ttinclude
*.xap
Backup
sh.exe.stackdump
WebHost/TempFiles/*
!WebHost/TempFiles/empty
!/
Quarta.Solution.v12.suo
*.BAK
*.PGT
*.PGX
*.ERR
*.suo
FoxApp/FoxBuchApp.PJT
FoxApp/FoxBuchApp.pjx
Quarta.Solution.v12.suo
Quarta.Solution.v12.suo
Quarta.Solution.v12.suo
node_modules
.idea
Quarta.Solution.v12.suo
Quarta.Solution.v12.suo
App-QuartaSolutions.iml
FoxApp/RegAsm.exe
FoxApp/Service/xxx.PRG
FoxApp/Service/start.prg
FoxApp/Service/Quarta.Solution.Service.exe.config
.vs/config/applicationhost.config
Analytics.DB/Analytics.DB.jfm
Quarta.Solution.DB/Quarta.Solution.DB.jfm
FoxApp/foxbuchapp_06.09.2016.dll
WebHost/Properties/PublishProfiles/TestZrp.pubxml.user
WebHost/Web.config
*.old
WebHost/Logs/del_nad_log.txt
