@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title">
                    <h2>Парогенераторы для сауны и хамама</h2>
                    <ul class="breadcrumb">
                        <li><a href="~/Home/Index">Главная</a></li>
                        <li class="">Каталог</li>
                        <li class=""><a href="~/Catalog/SteamGenerators">Парогенераторы</a></li>
                        <li class="active">NORDMANN AT 4</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- .row-->
    </div>
    <!-- .container-->
</div>
<!-- .breadcrumb-area-->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="history">
                <h3>NORDMANN AT 4</h3>
                <div class="history-details">
                    <div class="col-md-6">
                        <img style="margin:0" src="~/Content/img/Catalog/SteamGenerators/АТ4.jpg" alt="">
                        <img style="margin:0" src="~/Content/img/Catalog/SteamGenerators/АТ4_1.jpg" alt="">
                    </div>
                    <div class="col-md-6">
                        <p>
                            Совместимость с технологией «умный дом»
                        </p>
                        <p>
                            Пульт с сенсорным управлением (При помощи графического дисплея с диагональю в 3 дюйма важные рабочие параметры, такие как температура, освещение, вентиляция кабины и подача ароматов, обеспечивается легкость и простота в управлении)
                        <p>
                            С помощью панели управления обеспечивается дистанционное управление до 8 приборов. В гостиницах, фитнес-студиях и велнес-центрах паровую баню можно легко будет обслуживать со стойки регистрации или с другого центрально расположенного места.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- .row-->
    <div class="row" style="margin-top:60px;">
        <div class="col-md-12">
            <h4>Технические характеристики</h4>
            <div class="table-responsive">
                <table class="table table-parameters">
                    <thead>
                        <tr>
                            <th>
                                Паропроизоводительность, кг/ч
                            </th>
                            <th>5</th>
                            <th>8</th>
                            <th>15</th>
                            <th>23</th>
                            <th>32</th>
                            <th>45</th>
                            <th>65</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Диапазон производтельности, кг/ч</td>
                            <td>1 - 5</td>
                            <td>1,6 - 8</td>
                            <td>3 - 15</td>
                            <td>4,6 - 23</td>
                            <td>6,4 - 32</td>
                            <td>9 - 45</td>
                            <td>13 - 65</td>
                        </tr>
                        <tr>
                            <td>Номинальная мощность, кВт</td>
                            <td>3,8</td>
                            <td>6,0</td>
                            <td>11,3</td>
                            <td>17,3</td>
                            <td>24,0</td>
                            <td>33,8</td>
                            <td>48,8</td>
                        </tr>
                        <tr>
                            <td colspan="8">Напряжение нагрева 230В/1~/50 – 60 Гц*</td>
                        </tr>
                        <tr>
                            <td>Модель парогенератора</td>
                            <td>522</td>
                            <td>822</td>
                            <td colspan="5"></td>
                        </tr>
                        <tr>
                            <td>Номинальный ток, А</td>
                            <td>16,3</td>
                            <td>26,1</td>
                            <td colspan="5"></td>
                        </tr>
                        <tr>
                            <td colspan="8">Напряжение нагрева 400В/2~/50 – 60 Гц*</td>
                        </tr>
                        <tr>
                            <td>Модель парогенератора</td>
                            <td>524</td>
                            <td>824</td>
                            <td colspan="5"></td>
                        </tr>
                        <tr>
                            <td>Номинальный ток, А</td>
                            <td>9,4</td>
                            <td>15,0</td>
                            <td colspan="5"></td>
                        </tr>
                        <tr>
                            <td colspan="8">Напряжение нагрева 230В/3~/50 – 60 Гц*</td>
                        </tr>
                        <tr>
                            <td>Модель парогенератора</td>
                            <td>532</td>
                            <td>832</td>
                            <td>1532</td>
                            <td>2362</td>
                            <td>3262</td>
                            <td colspan="2"></td>
                        </tr>
                        <tr>
                            <td>Номинальный ток, А</td>
                            <td>9,4</td>
                            <td>15,1</td>
                            <td>28,2</td>
                            <td>43,3</td>
                            <td>60,2</td>
                            <td colspan="2"></td>
                        </tr>
                        <tr>
                            <td colspan="8">Напряжение нагрева 400В/3~/50 – 60 Гц*</td>
                        </tr>
                        <tr>
                            <td>Модель парогенератора</td>
                            <td>534</td>
                            <td>834</td>
                            <td>1534</td>
                            <td>2364</td>
                            <td>3264</td>
                            <td>4564</td>
                            <td>6564</td>
                        </tr>
                        <tr>
                            <td>Номинальный ток, А</td>
                            <td>5,4</td>
                            <td>8,7</td>
                            <td>16,2</td>
                            <td>24,9</td>
                            <td>34,6</td>
                            <td>48,7</td>
                            <td>70,4</td>
                        </tr>
                        <tr>
                            <td>Напряжение управления</td>
                            <td colspan="7">230 В/1~/50 – 60 Гц</td>
                        </tr>
                        <tr>
                            <td>Допустимое давление воды</td>
                            <td colspan="7">1…10 бар</td>
                        </tr>
                        <tr>
                            <td>Качество воды</td>
                            <td colspan="7">Водопроводная вода с проводимостью 125...1250 [мкСм/см]</td>
                        </tr>
                        <tr>
                            <td>Соответствие стандартам</td>
                            <td colspan="7">CE, VDE, ГОСТ</td>
                        </tr>
                        <tr>
                            <td>Ширина, мм</td>
                            <td colspan="2">428</td>
                            <td colspan="2">508</td>
                            <td colspan="3">563</td>
                        </tr>
                        <tr>
                            <td>Высота, мм</td>
                            <td colspan="2">575</td>
                            <td colspan="2">620</td>
                            <td colspan="3">640</td>
                        </tr>
                        <tr>
                            <td>Глубина, мм</td>
                            <td colspan="2">255</td>
                            <td colspan="2">345</td>
                            <td colspan="3">354</td>
                        </tr>
                        <tr>
                            <td>Вес нетто, кг</td>
                            <td colspan="2">12</td>
                            <td colspan="2">19</td>
                            <td colspan="2">28</td>
                            <td>30</td>
                        </tr>
                        <tr>
                            <td>Заправленный вес, кг</td>
                            <td colspan="2">19</td>
                            <td colspan="2">29</td>
                            <td colspan="2">65</td>
                            <td>67</td>
                        </tr>
                        <tr>
                            <td>Соединитель водоснабжения</td>
                            <td colspan="7">G 3/4 (наружная резьба)</td>
                        </tr>
                        <tr>
                            <td>Соединитель дренажа</td>
                            <td colspan="7">22 мм (внешний диаметр)</td>
                        </tr>
                        <tr>
                            <td>Паровой соединитель </td>
                            <td colspan="2">1 x ⌀ 22 мм</td>
                            <td colspan="2">1 x ⌀ 35 мм</td>
                            <td colspan="3">2 x ⌀ 35 мм </td>
                        </tr>
                    </tbody>
                </table>
                <div>*другие значения нагрева по запросу</div>
            </div>
        </div>
    </div>
    <!-- .row-->
</div>
<!-- .container-->