@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title">
                    <h2>Проектирование и дизайн</h2>
                    <ul class="breadcrumb">
                        <li><a href="~/home/index">Главная</a></li>
                        <li class="active">Услуги</li>
                        <li class="active">Проектирование</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- .row-->
    </div>
    <!-- .container-->
</div>
<!-- .breadcrumb-area-->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="history">
                <h3>Проектирование и дизайн SPA</h3>
                <div class="history-details">
                    <img src="~/Content/img/about.jpg" alt="">
                    <p>
                        Проект— первое о чем стоит подумать, если вы решили построить SPA.
                    </p>
                    <p>
                        SPA влючает целый комплекс работ связанных со строительством помещения,монтажом инженерных систем,которые включают в себя сложные конструктивные решения требующие точных расчётом.Легкомысленное отношение или непрофессиональная работа может привести к большому количеству проблем при дальнейшей эксплуатации.

                            Проектное решение позволяет нам определить:
                            <ul style="list-style:disc;list-style-position:inside;">
                                <li>
                                    объём материалов,необходимых для выполнения задач;
                                </li>
                                <li>
                                    стоимость работ;
                                </li>
                                <li>
                                    расположение технологическое оборудование для инженерных систем;
                                </li>
                                <li>
                                    расположение магистральных трубопроводов и точки подключения к коммуникациям;
                                </li>
                                <li>
                                    электрическая схема подключения оборудования;
                                </li>
                            </ul>

                    </p>
                    <p>
                        Наши специалисты разработают проект  с учетом ваших пожеланий, с соблюдением строительных норм и правил. Мы подготовим необходимую документацию для утверждения в органах «Государственной экспертизы» это особенно необходимо для общественных SPA и бассейнов. 
                    </p>
                    <p>
                        <div>
                            Проектирование можно разбить на следующие стадии:
                            <ul style="list-style:disc;list-style-position:inside;">
                                <li>
                                    Стадия <a href="#design-project">«Эскизный Проект»</a> (предпроектное предложение)
                                </li>
                                <li>
                                    Стадия <a href="#design-project-doc">«Проектная документация»</a>
                                </li>
                                <li>
                                    Стадия <a href="#design-work-doc">«Рабочая документация»</a>
                                </li>
                                <li>
                                    Стадия <a href="#design-work-project">«Рабочий проект»</a>
                                </li>
                            </ul>
                        </div>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- .row-->
</div>
<!-- .container-->
<div class="container">
    <div class="row">
        <div class="company-focus">
            <div class="col-md-6 col-xs-12">
                <div id="design-project" class="company-mision">
                    <h3>«Эскизный Проект»</h3>
                    <p>
                        Предпроектное предложение является стадией проектирования и сооружений, не подлежащей согласованию с органами государственного надзора. Эскизный проект способствует более детальной проработке всех параметров объекта перед принятием окончательных решений по всем разделам, которые включает проектирование зданий и сооружений.
                    </p>
                    <p>
                        Эскизный проект выполняется с целью:
                        <ul style="list-style:disc;list-style-position:inside;">
                            <li>
                                градостроительного обоснования размещения объекта нового строительства;
                            </li>
                            <li>
                                демонстрации внешнего вида и внутренних планировок проектируемого объекта;
                            </li>
                            <li>
                                определения инвестиционной привлекательности проекта;
                            </li>
                            <li>
                                возможности строительства или реконструкции объекта на данном участке с учетом градостроительных, историко-культурных, социально-экономических, санитарно-гигиенических и экологических требований;
                            </li>
                        </ul>
                    </p>
                    <p>
                        Состав эскизного проекта:
                        <ul style="list-style:disc;list-style-position:inside;">
                            <li>
                                Пояснительная записка
                            </li>
                            <li>
                                Ситуационный план с прилегающими территориями
                            </li>
                            <li>
                                Генеральный план (схема организации земельного участка)
                            </li>
                            <li>
                                Поэтажные планы с экспликациями помещений
                            </li>
                            <li>
                                Разрезы с описанием «пирогов» и конструктивных элементов
                            </li>
                            <li>
                                Фасады
                            </li>
                            <li>
                                Цветовое и объемное решений фасадов
                            </li>
                            <li>
                                Фотомонтаж объекта в существующей ситуации
                            </li>
                            <li>
                                3D Визуализация
                            </li>
                        </ul>
                    </p>
                    <p>
                        Проектная документация на стадии «Эскизный проект» разрабатывается в объеме, необходимом для получения исходно-разрешительной документации.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div id="design-project-doc" class="company-vision">
                    <h3>«Проектная документация»</h3>
                    <p>
                        Утверждаемая стадия проектирования объектов строительства и реконструкции. Разрабатывается в соответствии с государственными нормами, правилами и стандартами.
                        В настоящее время состав разделов проектной документации указан во многих нормативных актах и в частности Постановлением Правительства РФ №87 от 16 февраля 2008г. «О составе разделов проектной документации и требованиях к их содержанию».
                    </p>
                    <p>
                        Состав проектной документации включает в себя:
                        <ul style="list-style:disc;list-style-position:inside;">
                            <li>
                                Пояснительная записка
                            </li>
                            <li>
                                Схема планировочной организации земельного участка
                            </li>
                            <li>
                                Архитектурные решения
                            </li>
                            <li>
                                Конструктивные и объемно-планировочные решения
                            </li>
                            <li>
                                Система электроснабжения
                            </li>
                            <li>
                                Система водоснабжения
                            </li>
                            <li>
                                Система водоотведения
                            </li>
                            <li>
                                Система вентиляции и кондиционирования
                            </li>
                            <li>
                                Система отопления
                            </li>
                            <li>
                                Сети связи (телевидение, телефонизация и радиофикация, компьютерная сеть)
                            </li>
                            <li>
                                Технологические решения
                            </li>
                            <li>
                                Проект организации строительства
                            </li>
                            <li>
                                Проект организации работ по сносу или демонтажу объектов капитального строительства
                            </li>
                            <li>
                                Мероприятия по охране окружающей среды
                            </li>
                            <li>
                                Мероприятия по обеспечению пожарной безопасности
                            </li>
                            <li>
                                Мероприятия по обеспечению доступа инвалидов
                            </li>
                            <li>
                                Мероприятия по обеспечению соблюдения требований энергетической эффективности и требований оснащенности зданий, строений и сооружений приборами учета используемых энергетических ресурсов
                            </li>
                            <li>
                                Проект автоматической пожарной сигнализации и оповещения людей о пожаре.
                            </li>
                        </ul>
                    </p>
                    <p>
                        Дополнительные разделы:
                        <ul style="list-style:disc;list-style-position:inside;">
                            <li>
                                видеонаблюдение
                            </li>
                            <li>
                                контроль и управление доступом
                            </li>
                            <li>
                                автоматизация (диспетчеризация) инженерных систем
                            </li>
                            <li>
                                охранная сигнализация
                            </li>
                            <li>
                                система пожаротушения
                            </li>
                            <li>
                                вертикальный транспорт (лифт)
                            </li>
                            <li>
                                проект внутриплощадочных инженерных сетей
                            </li>
                            <li>
                                проект внеплощадочных инженерных сетей
                            </li>
                            <li>
                                проектная документация на стадии «Проект» является основой для разработки «Рабочей документации».
                            </li>
                            <li>
                                проектная документация на стадии «Проект» необходима для согласования в государственных надзорных инстанциях.
                            </li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- .row-->
</div>
<!-- .container-->
<div class="container">
    <div class="row">
        <div class="company-focus">
            <div class="col-md-6 col-xs-12">
                <div id ="design-work-doc" class="company-mision">
                    <h3>«Рабочая документация»</h3>
                    <p>
                        Стадия рабочая документация включает в себя предыдущую стадию - проектную документацию» и комплект документов, необходимых для производства строительных и монтажных работ. Состав рабочей документации на новое строительство или реконструкцию зданий и сооружений определяется соответствующими государственными стандартами и уточняется заказчиком и проектировщиком в договоре на проектирование.
                    </p>
                    <p>
                        В две стадии (проектная и рабочая документация) разрабатывают проекты, когда проектируют особо сложные объекты с новыми конструктивными решениями, сложными архитектурно-строительными решениями.
                    </p>
                    <p>
                        Рабочая документация зданий и сооружений при двухстадийном проектировании разрабатывается после утверждения документации на стадии «Проектная документация» в соответствии с принятыми в нем решениями.
                    </p>
                    <p>
                        Проектная документация при затрагивании несущих конструкций здания ОБЯЗАТЕЛЬНО подлежит государственной экспертизе.
                    </p>
                    <p>
                        Также необходимо отметить, что проектная организация, разработавшая проектную документацию, несет полную ответственность за предлагаемые проектные решения, поэтому инженеры вправе затребовать у заказчика необходимые данные и документацию для проектирования или убедить в проведении дополнительного технического обследования.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div id="design-work-project" class="company-vision">
                    <h3>«Рабочий проект»</h3>
                    <p>
                        Одностадийное проектирование (рабочий проект)дает возможность сократить срок разработки проекта в 1,5-2 раза и снизить стоимость проектирования на 30%. В составе Рабочего проекта разрешается в отдельных случаях при необходимости для объектов средней сложности разрабатывать проектные решения в объеме Проекта, а затем дорабатывать по ним рабочие чертежи.                    </p>
                    <p>
                        Состав проектной документации может быть уменьшен или увеличен, в зависимости от Технического задания на проектирование.

                        Во многих случаях, заказчики не уделяют большого внимания Рабочей документации, пытаясь сделать все параллельно (строительство и рабочую документацию), что приводит к затягиванию сроков работ и дополнительным денежным затратам. Мы Вам советуем соблюдать очередность. Делая все постепенно, но качественно. Когда готов полный комплект рабочей документации, можно не опасаясь приступать к строительству.

                        Возможно также выполнить разработку проектной документации на стадии «Рабочий проект» с выделение утверждаемой части для прохождения необходимых согласований в надзорных государственных инстанциях.

                        Необходимые документы, для разработки Вашего, индивидуального, проекта определят наши специалисты, по факту тех документов, которые есть у Вас на руках.

                        Следует сказать, что любая проектная документация подлежит согласованию с государственными надзорными органами.

                        Проектирование зданий можно доверить только высококвалифицированным специалистам, настоящим профессионалам своего дела, которые быстро и качественно выполнят порученную работу.
                    </p>
                </div>
            </div>
        </div>
        <!--.company-focus -->
    </div>
    <!-- .row-->
</div>
<!-- .container-->