@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title">
                    <h2>Сервисное обслуживание</h2>
                    <ul class="breadcrumb">
                        <li><a href="~/Home/Index">Главная</a></li>
                        <li class="active">Услуги</li>
                        <li class="active">Сервис</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- .row-->
    </div>
    <!-- .container-->
</div>
<!-- .breadcrumb-area-->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="history">
                <h3>Сервисное обслуживание</h3>
                <div class="history-details">
                    <img src="~/Content/img/vision.jpg" alt="">
                    <p>
                        SPA зона - это комплекс современного оборудования, работа которого связана прежде всего с соблюдением санитарных норм и правил, правил техники безопастности, пожаробезопастности ,
                        по-этому постоянно приходится следить за техническим состоянием оборудования. Постоянный контроль, периодическая замена расходных материалов, обслуживание, иными словами сервис, 
                        осуществляется профессионально подготовленными людьми.Особого внимания заслуживает технологическое оборудование, бассейна, сауны, паровых бань и т.д. 
                    </p>
                    <p>
                        Взять к примеру сервис бассейна: замер пробы воды, проверить работоспособность всей системы, при необходимости всё почистить, откалибровать. 
                        Вам самостоятельно придется контролировать наличие химических растворов в дозировочных емкостях, надо будет знать какой именно раствор вам необходим так как у разных 
                        производителей оборудования разные реагенты. Так же надо знать где именно можно купить тот или иной реагент, самостоятельно ездить за ним. 
                        Если же, например, засорился какой-нибудь из инжекторов впрыска, то собственноручно его почистить может далеко не каждый. 
                        В первую очередь расположение инжектора напрямую зависит от грамотного проектирования и монтажа. Иногда бывает, что он располагается в крайне неудобном труднодоступном месте. 
                        Не редко люди, самостоятельно выкручивая или вкручивая его в систему срывают резьбу. Теперь представьте сколько их в системе, если каждый из них отвечает за отдельный анализ 
                        (хлор, кислород, рН, альгицид, коагулянт). Бывают ситуации, когда вызова специалиста просто не избежать. Единоразовый выезд, как правило, стоит дорого и не дает всех преимуществ. 
                        Всего этого можно избежать, позвонив специалисту и встав у него на обслуживании! 
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- .row-->
</div>
<!-- .container-->
