@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title">
                    <h2>Шезлонг Starlounge</h2>
                    <ul class="breadcrumb">
                        <li><a href="~/Home/Index">Главная</a></li>
                        <li><a href="~/Catalog/Accessories">Аксессуары</a></li>
                        <li><a href="~/Catalog/Accessories/Deckchairs">Шезлонги</a></li>
                        <li class="active">Starlounge</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- .row-->
    </div>
    <!-- .container-->
</div>
<!-- .breadcrumb-area-->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="history">
                <div class="col-md-12">
                    <div class="col-md-6">
                        <div>
                            <img style="max-width:400px;" src="~/Content/img/Catalog/Accessories/Deckchairs/Starlounge.jpg" alt="">
                        </div>
                        <div class="text-center">
                            <div>По запросу</div>
                            <a class="btn btn-order" href="#">Заказать</a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p> - Волнистая форма: Эргономичная форма шезлонга Starlongue оптимально следует формам тела. Ноги остаются приподнятыми при подъеме колен слегка выше уровня сердца, что способствует циркуляции крови.  </p>
                        <p> - Противоскользящие опоры</p>
                        <p> - Высококачественные ткани и прострочка </p>
                        <p>
                            - Высококачественные ткани и прострочка
                        </p>
                        <p>
                            - Легкость и удобство в переноске: Прочный и устойчивый, и одновременно с этим очень легкий благодаря своей деревянной раме; наполнение из недеформируемого пенополиуретана с подбивкой из волокна Dacron 
                        </p>
                        <p>
                            Размеры (см): 190 x 70 x 70<br />
                            Структура: Многослойная фанера с нескользящими опорами (h = 2 см)<br />
                            Сиденье: Наполнение из недеформируемого пенополиуретана с подбивкой из волокна Dacron<br />
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-parameters">
                    <tbody>
                        <tr>
                            <td>Обивка</td>
                            <td>Ткань</td>
                            <td>Экокожа</td>
                            <td>Натуральная кожа</td>
                            <td>Натуральная кожа с ворсом</td>
                        </tr>
                        <tr>
                            <td>Цвет</td>
                            <td>
                                1.Темно-серый<br />
                                2. Винный<br />
                                3. Серо-голубой<br />
                                4. Оливковый<br />
                                5. Бежевый<br />
                                6. Серый металлик<br />
                                7. Серо-коричневый металлик<br />
                                8. Шоколадный металлик<br />
                                9. Зеленый металлик<br />
                                10. Сливовый металлик<br />
                            </td>
                            <td>
                                1.Кремовый<br />
                                2.Темно-коричневый<br />
                                3.Фисташковый<br />
                                4.Кирпичный<br />
                                5.Сизый<br />
                            </td>
                            <td>
                                1. Темная горчица<br />
                                2. Выгоревшая земля<br />
                                3. Армейский зеленый<br />
                                4. Черный<br />
                                5. Ледяной серый<br />
                            </td>
                            <td>
                                1. Черный<br />
                                2. Лесной орех<br />
                                3. Масло чайного дерева<br />
                                4. Рыжий<br />
                                5. Пятнистый<br />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- .row-->
</div>
<!-- .container-->
