@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title">
                    <h2>Шезлонг Sweet Chair Luxury</h2>
                    <ul class="breadcrumb">
                        <li><a href="~/Home/Index">Главная</a></li>
                        <li><a href="~/Catalog/Accessories">Аксессуары</a></li>
                        <li><a href="~/Catalog/Accessories/Deckchairs">Шезлонги</a></li>
                        <li class="active">Sweet Chair Luxury</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- .row-->
    </div>
    <!-- .container-->
</div>
<!-- .breadcrumb-area-->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="history">
                <div class="col-md-12">
                    <div class="col-md-6">
                        <div>
                            <img src="~/Content/img/Catalog/Accessories/Deckchairs/SweetChairLuxury.jpg" alt="">
                        </div>
                        <div class="text-center">
                            <div>По запросу</div>
                            <a class="btn btn-order" href="#">Заказать</a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p> 
                            -Cистема инфракрасного обогрева: излучаемое тепло распределяется по все гладкой и однородной поверхности камня и способствует полной релаксации тела. 
                        </p>
                        <p> 
                            - Цифровой терморегулятор: возможность регулировать температуру до 41.5°C. 
                        </p>
                        <p> 
                            - Кожаный подголовник: с ним лежак Sweet Chair становится идеальной кроватью для комфортного отдыха.
                        </p>
                        <p>
                            - Ролики: прикрученные к основанию лежака ролики обеспечивают удобство его передвижения и защиту покрытия от повреждений и следов.
                        </p>
                        <p>
                            - Опция: кнопка регулировки угла наклона поможет каждому найти свою идеальную позицию для отдыха или чтения. 
                        </p>
                        <p>
                            Предназначен для использования на улице или в помещении<br />
                            Размер: 193 х 68 х 84 (длина х ширина х высота)<br />
                            Вес: 190 кг<br />
                            Питание: 230В, 1~<br />
                            Потребление: 220-240В/ 800Вт для нагрева. 110-120В/ 950 Вт , 250 Вт для поддержания температуры<br />
                            Требования к установке: евророзетка с заземлением 16А<br />
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <h3>Вариант отделки</h3>
                <table class="table table-parameters">
                    <tbody>
                        <tr>
                            <td>Limestone</td>
                            <td>
                                сидение из известняка, основание из нержавеющей стали, покрытой водостойким стекловолокном темно-коричего цвета
                            </td>
                        </tr>
                        <tr>
                            <td>Calacatta</td>
                            <td>
                                сидение из белого мрамора с кожаной подушкой черного цвета, основание из нержавеющей стали, покрытой водостойким стекловолокном черного цвета
                            </td>
                        </tr>
                        <tr>
                            <td>Eramosa</td>
                            <td>
                                сидение из мрамора с серыми жилками и кожаной подушкой темно-коричнего цвета, основание из нержавеющей стали, покрытой водостойким стекловолокном темно-коричнего цвета
                            </td>
                        </tr>
                        <tr>
                            <td>Nero Marquinia</td>
                            <td>
                                сидение из черного мрамора и кожаной подушкой черного цвета, основание из нержавеющей стали, покрытой водостойким стекловолокном черного цвета
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- .row-->
</div>
<!-- .container-->
