@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title">
                    <h2>Тепловые шезлонги SOMMERHUBER</h2>
                    <ul class="breadcrumb">
                        <li><a href="~/Home/Index">Главная</a></li>
                        <li class="">Каталог</li>
                        <li class=""><a href="~/Catalog/Accessories">Аксессуары</a></li>
                        <li class="active">Тепловые шезлонги</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- .row-->
    </div>
    <!-- .container-->
</div>
<!-- .breadcrumb-area-->
<div class="container">
    <div class="row catalog-item-small">
        <div class="col-md-4">
            <div>
                <img src="~/Content/img/Catalog/Accessories/HeatDeckchairs/LoungerOne.jpg" alt="" style="width:100%;">
            </div>
            <div>
                <strong>Lounger One</strong>
            </div>
            <div class="item-medium-info">
                <ul>
                    <li>Обогрев: инфракрасный</li>
                    <li>Мощность 709 W</li>
                    <li>Подключение 230 V</li>
                    <li>Температура ~34°C ±2°C</li>
                    <li>Готовый к подключению продукт</li>
                    <li>Размер (см): 185 x 66 x 100</li>
                    <li>Вес: 85 кг</li>
                    <li>Нагрузка до 250 кг</li>
                    <li>Доступно в 18 цветах</li>
                </ul>
            </div>
            <div class="text-center">
                <div>По запросу</div>
                <a class="btn btn-order" href="#">Заказать</a>
            </div>
        </div>
        <div class="col-md-4">
            <div>
                <img src="~/Content/img/Catalog/Accessories/HeatDeckchairs/LoungerTwo.jpg" alt="" style="width:100%;">
            </div>
            <div>
                <strong>Lounger Two</strong>
            </div>
            <div class="item-medium-info">
                <ul>
                    <li>Обогрев: инфракрасный</li>
                    <li>Мощность 739 W</li>
                    <li>Подключение 230 V</li>
                    <li>Температура ~34°C ±2°C</li>
                    <li>Готовый к подключению продукт</li>
                    <li>Размер (см): 200 x 69 x 85</li>
                    <li>Вес: 140 кг</li>
                    <li>Нагрузка до 140 кг</li>
                    <li>Доступно в 18 цветах</li>
                </ul>
            </div>
            <div class="text-center">
                <div>По запросу</div>
                <a class="btn btn-order" href="#">Заказать</a>
            </div>
        </div>
        <div class="col-md-4">
            <div>
                <img src="~/Content/img/Catalog/Accessories/HeatDeckchairs/LoungerTwoPlus.jpg" alt="" style="width:100%;">
            </div>
            <div>
                <strong>Lounger Two Plus</strong>
            </div>
            <div class="item-medium-info">
                <ul>
                    <li>Обогрев: инфракрасный</li>
                    <li>Мощность 739 W</li>
                    <li>Подключение 230 V</li>
                    <li>Температура ~34°C ±2°C</li>
                    <li>Готовый к подключению продукт</li>
                    <li>Размер (см): 200 x 69 x 60</li>
                    <li>Вес: 90 кг</li>
                    <li>Нагрузка до 200 кг</li>
                    <li>Доступно в 18 цветах</li>
                </ul>
            </div>
            <div class="text-center">
                <div>По запросу</div>
                <a class="btn btn-order" href="#">Заказать</a>
            </div>
        </div>
    </div>
</div>
