
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title">
                    <h2>Печи для бани и сауны</h2>
                    <ul class="breadcrumb">
                        <li><a href="~/Home/Index">Главная</a></li>
                        <li class="">Каталог</li>
                        <li><a href="~/Catalog/Index">СПА</a></li>
                        <li class="active">Печи</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- .row-->
    </div>
    <!-- .container-->
</div>
<!-- .breadcrumb-area-->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="history">
                <h3>Печи для бани и сауны FinTec</h3>
                <div class="history-details">
                    <img src="~/Content/img/furnace.jpg" alt="">
                    <p>
                        <a href="#">FinTec Sauna- und Wellnesstechnik GmbH</a> – немецкая
                        компания из баварской Франконии, имеющая
                        большой опыт в разработке и изготовлении
                        электрических и дровяных печей для частных
                        и общественных саун. Уже более 12 лет мы
                        производим продукцию класса Премиум, удачно
                        сочетая новейшие технологии и национальные
                        ремесленные традиции, классические приемы и
                        собственные know-how. Благодаря высокому уровню
                        профессиональной подготовки и многолетнему
                        опыту наших специалистов мы имеем возможность
                        предложить продукцию, не имеющую аналогов в
                        мире.
                        Каждая модель – Premium или Standart –
                        ориентирована на свою целевую аудиторию и
                        пользуется устойчивым спросом как в странах
                        Европы, так и всего мира.
                    </p>
                    <div>
                        <strong>Высокое качество для удовольствия от продукта</strong>
                    </div>
                    <p>
                        Дровяная печь для сауны – источник тепла необыкновенного
                        свойства.
                        Благодаря особенно большому аккумулятору тепла из оливин-
                        диабаза SaunaGranit все печи модельного ряда FinTec 
                        отличаются особо равномерной отдачей тепла.
                        Высококачественные жаростойкие стали с толщиной материала
                        6 мм гарантируют долгую эксплуатацию, а соответственно и
                        удовлетворенность клиента. Самозакрывающаяся дверца с
                        остеклением позволяет любоваться игрой пламени в топке печи.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- .row-->
</div>
<!-- .container-->
<div class="container">
    <div class="row">
        <div class="service-section" style="padding-bottom: 0;">
            <div class="col-md-12">
                <!-- Nav tabs -->
                <ul class="tablist" role="tablist">
                    <li>Печи FinTec</li>
                    <li role="presentation" class="active"><a href="#standart" aria-controls="standart" role="tab" data-toggle="tab">Дровяные</a></li>
                    <li role="presentation"><a href="#premium" aria-controls="premium" role="tab" data-toggle="tab">Электрические</a></li>
                </ul>
            </div>
        </div>
        <!-- .service-section-->
        <div class="tab-content col-md-12">
            <div role="tabpanel" class="tab-pane active" id="standart">
                <div class="page-title">
                    <p>
                        Все наши дровяные печи
                        FinTec Standart Line имеют
                        высокоэффективное
                        отведение дымовых газов,
                        что, с одной стороны,
                        значительно повышает
                        КПД и положительно
                        сказывается на расходе
                        дров, а с другой, рабочая
                        температура в сауне
                        достигается быстрее.
                        Кроме этого, такое
                        отведение дымовых
                        газов дает возможность чистки печи через специальные
                        отверстия.
                        Газоотводящая труба может быть подсоединена как
                        горизонтально, так и вертикально (для моделей с выносной
                        топкой только вертикально). Диаметр газоотводящей
                        трубы стандартно изготавливается 115 мм, однако по
                        заказу также возможны 130 или 150 мм, что значительно
                        облегчает подключение печи. Тем более что во многих
                        странах Евросоюза печи, работающие на дровах, должны
                        иметь диаметр газоотводящей трубы минимум DN130.
                    </p>
                </div>
                <!--item-row-->
                <div class="row">
                    <div class="catalog-item-title">
                        <strong>FinTec Iwo Klassik</strong>
                        <img src="~/Content/img/standardLine.jpg" style="float:right;"/>
                    </div>
                    <div class="row col-md-12">
                        <div class="col-md-4 col-xs-12 col-sm-6">
                            <img src="~/Content/img/Catalog/Furnaces/IwoKlassik.jpg" />
                        </div>
                        <div class="col-md-6 col-xs-12 col-sm-6 catalog-item-description" style="padding-top: 50px;">
                            <ul style="list-style:disc;list-style-position:inside;">
                                <li>Маркировка CE</li>
                                <li>Объем сауны до 25 м3</li>
                                <li>Объем камней 60 кг</li>
                                <li>Толщина стенок топки 6мм</li>
                                <li>Длина топки 47,5 см</li>
                                <li>Размеры (В*Ш*Г*) 81*43*51см</li>
                                <li>Дверца с жаростойким стеклом</li>
                                <li>Подключение дымовой трубы сверху/сзади</li>
                                <li>Имеет 2 отверстия для чистки в верхней части камеры сгорания</li>
                            </ul>
                        </div>
                        <div class="col-md-2 col-xs-12 col-sm-6 catalog-item-price" style="padding-top: 50px;">
                            <p>93 000,00 ₽</p>
                            <a class="btn btn-order" href="#">Заказать</a>
                        </div>
                    </div>
                </div>
                <!--item-row-->
                <div class="row">
                    <div class="catalog-item-title">
                        <strong>FinTec Iwo Trend</strong>
                        <img src="~/Content/img/standardLine.jpg" style="float:right;" />
                    </div>
                    <div class="row col-md-12">
                        <div class="col-md-4 col-xs-12 col-sm-6">
                            <img src="~/Content/img/Catalog/Furnaces/IwoTrend.jpg" />
                        </div>
                        <div class="col-md-6 col-xs-12 col-sm-6 catalog-item-description" style="padding-top: 50px;">
                            <ul style="list-style:disc;list-style-position:inside;">
                                <li>Маркировка CE</li>
                                <li>Соответствует закону 1.BImSchV (ступень I)</li>
                                <li>Объем сауны до 25 м3</li>
                                <li>Объем камней 60 кг</li>
                                <li>Толщина стенок топки 6мм</li>
                                <li>Длина топки 47,5 см</li>
                                <li>Размеры (В*Ш*Г*) 81*43*51см</li>
                                <li>Дверца с жаростойким стеклом</li>
                                <li>Подключение дымовой трубы сверху/сзади</li>
                                <li>Имеет 2 отверстия для чистки в верхней части камеры сгорания</li>
                                <li>Более экономична</li>
                                <li>Более чистый процесс сгорания без выброса пыли</li>
                            </ul>
                        </div>
                        <div class="col-md-2 col-xs-12 col-sm-6 catalog-item-price" style="padding-top: 50px;">
                            <p>98 000,00 ₽</p>
                            <a class="btn btn-order" href="#">Заказать</a>
                        </div>
                    </div>
                </div>
                <!--item-row-->
                <div class="row">
                    <div class="catalog-item-title">
                        <strong>FinTec Iwo Trend MH с выносной топкой</strong>
                        <img src="~/Content/img/standardLine.jpg" style="float:right;" />
                    </div>
                    <div class="row col-md-12">
                        <div class="col-md-4 col-xs-12 col-sm-6">
                            <img src="~/Content/img/Catalog/Furnaces/IwoTrendMH.jpg" />
                        </div>
                        <div class="col-md-6 col-xs-12 col-sm-6 catalog-item-description" style="padding-top: 50px;">
                            <ul style="list-style:disc;list-style-position:inside;">
                                <li>Маркировка CE</li>
                                <li>Соответствует закону 1.BImSchV (ступень I)</li>
                                <li>Объем сауны до 25 м3</li>
                                <li>Объем камней 60 кг</li>
                                <li>Толщина стенок топки 6мм</li>
                                <li>Длина топки 47,5 см</li>
                                <li>Размеры (В*Ш*Г*) 81*43*51см</li>
                                <li>Дверца с жаростойким стеклом</li>
                                <li>Подключение дымовой трубы сверху/сзади</li>
                                <li>Имеет 2 отверстия для чистки в верхней части камеры сгорания</li>
                                <li>Более экономична</li>
                                <li>Более чистый процесс сгорания без выброса пыли</li>
                            </ul>
                        </div>
                        <div class="col-md-2 col-xs-12 col-sm-6 catalog-item-price" style="padding-top: 50px;">
                            <p>106 000,00 ₽</p>
                            <a class="btn btn-order" href="#">Заказать</a>
                        </div>
                    </div>
                </div>
                <!--item-row-->
                <div class="row">
                    <div class="catalog-item-title">
                        <strong>FinTec Iwo Reflex</strong>
                        <img src="~/Content/img/standardLine.jpg" style="float:right;" />
                    </div>
                    <div class="row col-md-12">
                        <div class="col-md-4 col-xs-12 col-sm-6">
                            <img src="~/Content/img/Catalog/Furnaces/IwoReflex.jpg" />
                        </div>
                        <div class="col-md-6 col-xs-12 col-sm-6 catalog-item-description" style="padding-top: 50px;">
                            <ul style="list-style:disc;list-style-position:inside;">
                                <li>Маркировка CE</li>
                                <li>Соответствует закону 1.BImSchV (ступень I)</li>
                                <li>Объем сауны до 25 м3</li>
                                <li>Объем камней 60 кг</li>
                                <li>Толщина стенок топки 6мм</li>
                                <li>Длина топки 47,5 см</li>
                                <li>Размеры (В*Ш*Г*) 81*43*51см</li>
                                <li>Дверца с жаростойким стеклом</li>
                                <li>Подключение дымовой трубы сверху/сзади</li>
                                <li>Имеет 2 отверстия для чистки в верхней части камеры сгорания</li>
                                <li>Более экономична</li>
                                <li>Более чистый процесс сгорания без выброса пыли</li>
                            </ul>
                        </div>
                        <div class="col-md-2 col-xs-12 col-sm-6 catalog-item-price" style="padding-top: 50px;">
                            <p>152 000,00 ₽</p>
                            <a class="btn btn-order" href="#">Заказать</a>
                        </div>
                    </div>
                </div>
                <!--item-row-->
                <div class="row">
                    <div class="catalog-item-title">
                        <strong>FinTec Iwo Rubin</strong>
                        <img src="~/Content/img/standardLine.jpg" style="float:right;" />
                    </div>
                    <div class="row col-md-12">
                        <div class="col-md-4 col-xs-12 col-sm-6">
                            <img src="~/Content/img/Catalog/Furnaces/IwoRubin.jpg" />
                        </div>
                        <div class="col-md-6 col-xs-12 col-sm-6 catalog-item-description" style="padding-top: 50px;">
                            <ul style="list-style:disc;list-style-position:inside;">
                                <li>Маркировка CE</li>
                                <li>Соответствует закону 1.BImSchV (ступень I)</li>
                                <li>Объем сауны до 25 м3</li>
                                <li>Объем камней 60 кг</li>
                                <li>Толщина стенок топки 6мм</li>
                                <li>Длина топки 47,5 см</li>
                                <li>Размеры (В*Ш*Г*) 81*43*51см</li>
                                <li>Дверца с жаростойким стеклом</li>
                                <li>Подключение дымовой трубы сверху/сзади</li>
                                <li>Имеет 2 отверстия для чистки в верхней части камеры сгорания</li>
                                <li>Более экономична</li>
                                <li>Более чистый процесс сгорания без выброса пыли</li>
                            </ul>
                        </div>
                        <div class="col-md-2 col-xs-12 col-sm-6 catalog-item-price" style="padding-top: 50px;">
                            <p>99 000,00 ₽</p>
                            <a class="btn btn-order" href="#">Заказать</a>
                        </div>
                    </div>
                </div>
                <!--item-row-->
                <div class="row">
                    <div class="catalog-item-title">
                        <strong>FinTec Iwo Kjeld</strong>
                        <img src="~/Content/img/standardLine.jpg" style="float:right;" />
                    </div>
                    <div class="row col-md-12">
                        <div class="col-md-4 col-xs-12 col-sm-6">
                            <img src="~/Content/img/Catalog/Furnaces/Kjeld.jpg" />
                        </div>
                        <div class="col-md-6 col-xs-12 col-sm-6 catalog-item-description" style="padding-top: 50px;">
                            <ul style="list-style:disc;list-style-position:inside;">
                                <li>Маркировка CE</li>
                                <li>Объем сауны до 25 м3</li>
                                <li>Объем камней 180 кг</li>
                                <li>Толщина стенок топки 6мм</li>
                                <li>Длина топки 47,5 см</li>
                                <li>Размеры (В*Ш*Г*) 73*43*51см</li>
                                <li>Корзина для камней круглой формы из стали с покрытием</li>
                                <li>Дверца с жаростойким стеклом</li>
                                <li>Подключение дымовой трубы сверху/сзади</li>
                                <li>Имеет 2 отверстия для чистки в верхней части камеры сгорания</li>
                            </ul>
                        </div>
                        <div class="col-md-2 col-xs-12 col-sm-6 catalog-item-price" style="padding-top: 50px;">
                            <p>113 000,00 ₽</p>
                            <a class="btn btn-order" href="#">Заказать</a>
                        </div>
                    </div>
                </div>
                <!--item-row-->
                <div class="row">
                    <div class="catalog-item-title">
                        <strong>FinTec Iwo Kjeld MH с выносной топкой</strong>
                        <img src="~/Content/img/standardLine.jpg" style="float:right;" />
                    </div>
                    <div class="row col-md-12">
                        <div class="col-md-4 col-xs-12 col-sm-6">
                            <img src="~/Content/img/Catalog/Furnaces/KjeldMH.jpg" />
                        </div>
                        <div class="col-md-6 col-xs-12 col-sm-6 catalog-item-description" style="padding-top: 50px;">
                            <ul style="list-style:disc;list-style-position:inside;">
                                <li>Маркировка CE</li>
                                <li>Объем сауны до 25 м3</li>
                                <li>Объем камней 180 кг</li>
                                <li>Толщина стенок топки 6мм</li>
                                <li>Длина топки 47,5 см</li>
                                <li>Размеры (В*Ш*Г*) 73*43*51см</li>
                                <li>Корзина для камней круглой формы из стали с покрытием</li>
                                <li>Дверца с жаростойким стеклом</li>
                                <li>Подключение дымовой трубы сверху/сзади</li>
                                <li>Имеет 2 отверстия для чистки в верхней части камеры сгорания</li>
                            </ul>
                        </div>
                        <div class="col-md-2 col-xs-12 col-sm-6 catalog-item-price" style="padding-top: 50px;">
                            <p>134 000,00 ₽</p>
                            <a class="btn btn-order" href="#">Заказать</a>
                        </div>
                    </div>
                </div>
                <!--item-row-->
                <div class="row">
                    <div class="catalog-item-title">
                        <strong>FinTec Arthur</strong>
                        <img src="~/Content/img/standardLine.jpg" style="float:right;" />
                    </div>
                    <div class="row col-md-12">
                        <div class="col-md-4 col-xs-12 col-sm-6">
                            <img src="~/Content/img/Catalog/Furnaces/Arthur.jpg" />
                        </div>
                        <div class="col-md-6 col-xs-12 col-sm-6 catalog-item-description" style="padding-top: 50px;">
                            <ul style="list-style:disc;list-style-position:inside;">
                                <li>Маркировка CE</li>
                                <li>Объем сауны до 25 м3</li>
                                <li>Объем камней 160 кг</li>
                                <li>Толщина стенок топки 6мм</li>
                                <li>Длина топки 47,5 см</li>
                                <li>Размеры (В*Ш*Г*) 73*43*51см</li>
                                <li>Корзина для камней круглой формы из стали с покрытием</li>
                                <li>Дверца с жаростойким стеклом</li>
                                <li>Подключение дымовой трубы сверху/сзади</li>
                                <li>Имеет 2 отверстия для чистки в верхней части камеры сгорания</li>
                            </ul>
                        </div>
                        <div class="col-md-2 col-xs-12 col-sm-6 catalog-item-price" style="padding-top: 50px;">
                            <p>164 000,00 ₽</p>
                            <a class="btn btn-order" href="#">Заказать</a>
                        </div>
                    </div>
                </div>
                <!--item-row-->
                <div class="row">
                    <div class="catalog-item-title">
                        <strong>FinTec Arthur MH с выносной топкой</strong>
                        <img src="~/Content/img/standardLine.jpg" style="float:right;" />
                    </div>
                    <div class="row col-md-12">
                        <div class="col-md-4 col-xs-12 col-sm-6">
                            <img src="~/Content/img/Catalog/Furnaces/ArthurMH.jpg" />
                        </div>
                        <div class="col-md-6 col-xs-12 col-sm-6 catalog-item-description" style="padding-top: 50px;">
                            <ul style="list-style:disc;list-style-position:inside;">
                                <li>Маркировка CE</li>
                                <li>Объем сауны до 25 м3</li>
                                <li>Объем камней 160 кг</li>
                                <li>Толщина стенок топки 6мм</li>
                                <li>Длина топки 47,5 см</li>
                                <li>Размеры (В*Ш*Г*) 73*43*51см</li>
                                <li>Корзина для камней круглой формы из стали с покрытием</li>
                                <li>Дверца с жаростойким стеклом</li>
                                <li>Подключение дымовой трубы сверху/сзади</li>
                                <li>Имеет 2 отверстия для чистки в верхней части камеры сгорания</li>
                            </ul>
                        </div>
                        <div class="col-md-2 col-xs-12 col-sm-6 catalog-item-price" style="padding-top: 50px;">
                            <p>200 000,00 ₽</p>
                            <a class="btn btn-order" href="#">Заказать</a>
                        </div>
                    </div>
                </div>
                <!--item-row-->
                <div class="row">
                    <div class="catalog-item-title">
                        <strong>FinTec Lora Robust</strong>
                        <img src="~/Content/img/premiumLine.jpg" style="float:right;" />
                    </div>
                    <div class="row col-md-12">
                        <div class="col-md-4 col-xs-12 col-sm-6">
                            <img src="~/Content/img/Catalog/Furnaces/LoraRobust.jpg" />
                        </div>
                        <div class="col-md-6 col-xs-12 col-sm-6 catalog-item-description" style="padding-top: 50px;">
                            <ul style="list-style:disc;list-style-position:inside;">
                                <li>100 % Made in Germany</li>
                                <li>Маркировка СЕ</li>
                                <li>Соответствует закону 1.BImSchV ступень I и II</li>
                                <li>Тип I испытан на многократное использование: возможно подключение двух или более печей к одному дымоходу</li>
                                <li>Мощность 14,6 кВт</li>
                                <li>Объем сауны до 16 м3</li>
                                <li>Объем камней 180 кг</li>
                                <li>Нержавеющая сталь</li>
                                <li>Топка из котельной стали Thyssen&Krupp (6мм)</li>
                                <li>Не требует сборки</li>
                                <li>Установка непосредственно на деревянный пол (без дополнительной  изоляции)</li>
                                <li>Самозакрывающаяся дверца с блокировкой</li>
                                <li>Толщина стенок топки 6 мм</li>
                                <li>Длина топки 50см</li>
                                <li>Размеры (В*Ш*Г*) 73*69*51см</li>
                            </ul>
                        </div>
                        <div class="col-md-2 col-xs-12 col-sm-6 catalog-item-price" style="padding-top: 50px;">
                            <p>174 000,00 ₽</p>
                            <a class="btn btn-order" href="#">Заказать</a>
                        </div>
                    </div>
                </div>
                <!--item-row-->
                <div class="row">
                    <div class="catalog-item-title">
                        <strong>FinTec Lora Banja</strong>
                        <img src="~/Content/img/premiumLine.jpg" style="float:right;" />
                    </div>
                    <div class="row col-md-12">
                        <div class="col-md-4 col-xs-12 col-sm-6">
                            <img src="~/Content/img/Catalog/Furnaces/LoraBanja.jpg" />
                        </div>
                        <div class="col-md-6 col-xs-12 col-sm-6 catalog-item-description" style="padding-top: 50px;">
                            <ul style="list-style:disc;list-style-position:inside;">
                                <li>100 % Made in Germany</li>
                                <li>Маркировка СЕ</li>
                                <li>Соответствует закону 1.BImSchV ступень I и II</li>
                                <li>Тип I испытан на многократное использование: возможно подключение двух или более печей к одному дымоходу</li>
                                <li>Мощность 14,6 кВт</li>
                                <li>Объем сауны до 16 м3</li>
                                <li>Объем камней 180 кг</li>
                                <li>Нержавеющая сталь</li>
                                <li>Топка из котельной стали Thyssen&Krupp (6мм)</li>
                                <li>Надпись «С лёгким паром!» из нержавеющей стали</li>
                                <li>Не требует сборки</li>
                                <li>Установка непосредственно на деревянный пол (без дополнительной  изоляции)</li>
                                <li>Самозакрывающаяся дверца с блокировкой</li>
                                <li>Толщина стенок топки 6 мм</li>
                                <li>Длина топки 50см</li>
                                <li>Размеры (В*Ш*Г*) 73*69*51см</li>
                            </ul>
                        </div>
                        <div class="col-md-2 col-xs-12 col-sm-6 catalog-item-price" style="padding-top: 50px;">
                            <p>202 000,00 ₽</p>
                            <a class="btn btn-order" href="#">Заказать</a>
                        </div>
                    </div>
                </div>
                <!--item-row-->
                <div class="row">
                    <div class="catalog-item-title">
                        <strong>FinTec Skult</strong>
                        <img src="~/Content/img/premiumLine.jpg" style="float:right;" />
                    </div>
                    <div class="row col-md-12">
                        <div class="col-md-4 col-xs-12 col-sm-6">
                            <img src="~/Content/img/Catalog/Furnaces/Skult.jpg" />
                        </div>
                        <div class="col-md-6 col-xs-12 col-sm-6 catalog-item-description" style="padding-top: 50px;">
                            <ul style="list-style:disc;list-style-position:inside;">
                                <li>100 % Made in Germany</li>
                                <li>Маркировка СЕ</li>
                                <li>Соответствует закону 1.BImSchV ступень I и II</li>
                                <li>Тип I испытан на многократное использование: возможно подключение двух или более печей к одному дымоходу</li>
                                <li>Мощность 17,8 кВт</li>
                                <li>Объем сауны до 16 м3</li>
                                <li>Объем камней 180 кг</li>
                                <li>Нержавеющая сталь</li>
                                <li>Топка из котельной стали Thyssen&Krupp (6мм)</li>
                                <li>Не требует сборки</li>
                                <li>Установка непосредственно на деревянный пол (без дополнительной  изоляции)</li>
                                <li>Самозакрывающаяся дверца с блокировкой</li>
                                <li>Толщина стенок топки 6 мм</li>
                                <li>Длина топки 50см</li>
                            </ul>
                        </div>
                        <div class="col-md-2 col-xs-12 col-sm-6 catalog-item-price" style="padding-top: 50px;">
                            <p>178 000,00 ₽</p>
                            <a class="btn btn-order" href="#">Заказать</a>
                        </div>
                    </div>
                </div>
                <!--item-row-->
                <div class="row">
                    <div class="catalog-item-title">
                        <strong>FinTec Skult с выносной топкой</strong>
                        <img src="~/Content/img/premiumLine.jpg" style="float:right;" />
                    </div>
                    <div class="row col-md-12">
                        <div class="col-md-4 col-xs-12 col-sm-6">
                            <img src="~/Content/img/Catalog/Furnaces/Skult.jpg" />
                        </div>
                        <div class="col-md-6 col-xs-12 col-sm-6 catalog-item-description" style="padding-top: 50px;">
                            <ul style="list-style:disc;list-style-position:inside;">
                                <li>100 % Made in Germany</li>
                                <li>Маркировка СЕ</li>
                                <li>Соответствует закону 1.BImSchV ступень I и II</li>
                                <li>Тип I испытан на многократное использование: возможно подключение двух или более печей к одному дымоходу</li>
                                <li>Мощность 17,8 кВт</li>
                                <li>Объем сауны до 16 м3</li>
                                <li>Объем камней 180 кг</li>
                                <li>Нержавеющая сталь</li>
                                <li>Топка из котельной стали Thyssen&Krupp (6мм)</li>
                                <li>Не требует сборки</li>
                                <li>Установка непосредственно на деревянный пол (без дополнительной  изоляции)</li>
                                <li>Самозакрывающаяся дверца с блокировкой</li>
                                <li>Толщина стенок топки 6 мм</li>
                                <li>Длина топки 50см</li>
                            </ul>
                        </div>
                        <div class="col-md-2 col-xs-12 col-sm-6 catalog-item-price" style="padding-top: 50px;">
                            <p>206 000,00 ₽</p>
                            <a class="btn btn-order" href="#">Заказать</a>
                        </div>
                    </div>
                </div>
                <!--item-row-->
                <div class="row">
                    <div class="catalog-item-title">
                        <strong>FinTec Troll</strong>
                        <img src="~/Content/img/premiumLine.jpg" style="float:right;" />
                    </div>
                    <div class="row col-md-12">
                        <div class="col-md-4 col-xs-12 col-sm-6">
                            <img src="~/Content/img/Catalog/Furnaces/Troll.jpg" />
                        </div>
                        <div class="col-md-6 col-xs-12 col-sm-6 catalog-item-description" style="padding-top: 50px;">
                            <ul style="list-style:disc;list-style-position:inside;">
                                <li>100 % Made in Germany</li>
                                <li>Маркировка СЕ</li>
                                <li>Соответствует закону 1.BImSchV ступень II</li>
                                <li>Объем камней 20 кг</li>
                                <li>Мощность 7,8 кВт</li>
                                <li>Тип I испытан - cамозакрывающаяся дверца</li>
                                <li>Поставляется без камней</li>
                                <li>Возможные цвета: Перламутровый медный металлик/Глубокий черный металлик</li>
                                <li>Печь может устанавливаться непосредственно на воспламеняющиеся материалы.</li>
                                <li>
                                    Безопасные расстояния от корпуса печи до воспламеняющихся материалов:<br />
                                    - сбоку	10 cm<br />
                                    - сзади	10 cm<br />
                                    - сверху печи 100 cm
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-2 col-xs-12 col-sm-6 catalog-item-price" style="padding-top: 50px;">
                            <p>149 000,00 ₽</p>
                            <a class="btn btn-order" href="#">Заказать</a>
                        </div>
                    </div>
                </div>
                <!--item-row-->
            </div>
            
            
            
            <div role="tabpanel" class="tab-pane fade" id="premium">
                <div class="page-title">
                    <p>
                        Электрокаменки FinTec изготавливаются в Германии на собственном производстве. При выборе материалов - никаких
                        компромиссов, печи высотой чуть больше метра полностью изготовлены из нержавеющей стали. Корпус печи
                        представляет собой цилиндр из металлических стержней, благодаря чему 160 кг камней остаются открытыми, что
                        положительно сказывается на скорости прогрева помещения и мягкости отдаваемого пара. Особенностью этих печей
                        являются их нагревательные элементы, рассчитанные с особенно низкой нагрузкой на см² и изготовленные в Германии из
                        стали AISI 309. Все дополнительные элементы для подключения (кабельные вводы и т.д.) поставляются исключительно
                        немецкими производителями известных марок. Поскольку электрокаменки FinTec были разработаны и испытаны
                        специально для саун коммерческого масштаба, они отличаются высокой надежностью и долгим сроком службы.
                    </p>
                </div>
                <!--item-row-->
                <div class="row">
                    <div class="catalog-item-title">
                        <strong>FinTec Arne 12 кВт</strong>
                        <img src="~/Content/img/standardLine.jpg" style="float:right;" />
                    </div>
                    <div class="row col-md-12">
                        <div class="col-md-6 col-xs-12 col-sm-6">
                            <img src="~/Content/img/Catalog/Furnaces/Arne.jpg" />
                        </div>
                        <div class="col-md-4 col-xs-12 col-sm-6 catalog-item-description" style="padding-top: 50px;">
                            <ul style="list-style:disc;list-style-position:inside;">
                                <li>Маркировка CE</li>
                                <li><strong>Мощность 12 кВт</strong></li>
                                <li>Объем сауны 10 – 18&nbsp;м³</li>
                                <li>Корпус из нержавеющей стали</li>
                                <li>Одноконтурное подключение (12 кВт)</li>
                                <li>Объем камней 60 кг</li>
                                <li>Размеры (В*Ш*Г) 70*56*66 см</li>
                            </ul>
                        </div>
                        <div class="col-md-2 col-xs-12 col-sm-6 catalog-item-price" style="padding-top: 50px;">
                            <p>94 000,00 ₽</p>
                            <a class="btn btn-order" href="#">Заказать</a>
                        </div>
                    </div>
                </div>
                <!--item-row-->
                <div class="row">
                    <div class="catalog-item-title">
                        <strong>FinTec Arne 14 кВт</strong>
                        <img src="~/Content/img/standardLine.jpg" style="float:right;" />
                    </div>
                    <div class="row col-md-12">
                        <div class="col-md-6 col-xs-12 col-sm-6">
                            <img src="~/Content/img/Catalog/Furnaces/Arne.jpg" />
                        </div>
                        <div class="col-md-4 col-xs-12 col-sm-6 catalog-item-description" style="padding-top: 50px;">
                            <ul style="list-style:disc;list-style-position:inside;">
                                <li>Маркировка CE</li>
                                <li><strong>Мощность 14.1 кВт</strong></li>
                                <li>Объем сауны 13 – 20&nbsp;м³</li>
                                <li>Корпус из нержавеющей стали</li>
                                <li>Одноконтурное подключение (12 кВт/6 кВт)</li>
                                <li>Объем камней 80 кг</li>
                                <li>Размеры (В*Ш*Г) 70*56*66 см</li>
                            </ul>
                        </div>
                        <div class="col-md-2 col-xs-12 col-sm-6 catalog-item-price" style="padding-top: 50px;">
                            <p>96 000,00 ₽</p>
                            <a class="btn btn-order" href="#">Заказать</a>
                        </div>
                    </div>
                </div>
                <!--item-row-->
                <div class="row">
                    <div class="catalog-item-title">
                        <strong>FinTec Arne 18 кВт</strong>
                        <img src="~/Content/img/standardLine.jpg" style="float:right;" />
                    </div>
                    <div class="row col-md-12">
                        <div class="col-md-6 col-xs-12 col-sm-6">
                            <img src="~/Content/img/Catalog/Furnaces/Arne.jpg" />
                        </div>
                        <div class="col-md-4 col-xs-12 col-sm-6 catalog-item-description" style="padding-top: 50px;">
                            <ul style="list-style:disc;list-style-position:inside;">
                                <li>Маркировка CE</li>
                                <li><strong>Мощность 18 кВт</strong></li>
                                <li>Объем сауны 18 – 32&nbsp;м³</li>
                                <li>Корпус из нержавеющей стали</li>
                                <li>Одноконтурное подключение (12 кВт/8.1 кВт)</li>
                                <li>Объем камней 80 кг</li>
                                <li>Размеры (В*Ш*Г) 70*56*66 см</li>
                            </ul>
                        </div>
                        <div class="col-md-2 col-xs-12 col-sm-6 catalog-item-price" style="padding-top: 50px;">
                            <p>100 000,00 ₽</p>
                            <a class="btn btn-order" href="#">Заказать</a>
                        </div>
                    </div>
                </div>
                <!--item-row-->
                <div class="row">
                    <div class="catalog-item-title">
                        <strong>FinTec Arne 20 кВт</strong>
                        <img src="~/Content/img/standardLine.jpg" style="float:right;" />
                    </div>
                    <div class="row col-md-12">
                        <div class="col-md-6 col-xs-12 col-sm-6">
                            <img src="~/Content/img/Catalog/Furnaces/Arne.jpg" />
                        </div>
                        <div class="col-md-4 col-xs-12 col-sm-6 catalog-item-description" style="padding-top: 50px;">
                            <ul style="list-style:disc;list-style-position:inside;">
                                <li>Маркировка CE</li>
                                <li><strong>Мощность 20.1 кВт</strong></li>
                                <li>Объем сауны 20 – 34&nbsp;м³</li>
                                <li>Корпус из нержавеющей стали</li>
                                <li>Одноконтурное подключение (12 кВт/8.1 кВт)</li>
                                <li>Объем камней 80 кг</li>
                                <li>Размеры (В*Ш*Г) 70*56*66 см</li>
                            </ul>
                        </div>
                        <div class="col-md-2 col-xs-12 col-sm-6 catalog-item-price" style="padding-top: 50px;">
                            <p>106 000,00 ₽</p>
                            <a class="btn btn-order" href="#">Заказать</a>
                        </div>
                    </div>
                </div>
                <!--item-row-->            
                <div class="row">
                    <div class="catalog-item-title">
                        <strong>FinTec Arne 24 кВт</strong>
                        <img src="~/Content/img/standardLine.jpg" style="float:right;" />
                    </div>
                    <div class="row col-md-12">
                        <div class="col-md-6 col-xs-12 col-sm-6">
                            <img src="~/Content/img/Catalog/Furnaces/Arne.jpg" />
                        </div>
                        <div class="col-md-4 col-xs-12 col-sm-6 catalog-item-description" style="padding-top: 50px;">
                            <ul style="list-style:disc;list-style-position:inside;">
                                <li>Маркировка CE</li>
                                <li><strong>Мощность 24.3 кВт</strong></li>
                                <li>Объем сауны 32 – 46&nbsp;м³</li>
                                <li>Корпус из нержавеющей стали</li>
                                <li>Одноконтурное подключение (12 кВт/8.1 кВт)</li>
                                <li>Объем камней 80 кг</li>
                                <li>Размеры (В*Ш*Г) 70*56*66 см</li>
                            </ul>
                        </div>
                        <div class="col-md-2 col-xs-12 col-sm-6 catalog-item-price" style="padding-top: 50px;">
                            <p>126 000,00 ₽</p>
                            <a class="btn btn-order" href="#">Заказать</a>
                        </div>
                    </div>
                </div>
                <!--item-row-->
                <div class="row">
                    <div class="catalog-item-title">
                        <strong>FinTec Irmina 6 кВт antrazit</strong>
                        <img src="~/Content/img/standardLine.jpg" style="float:right;" />
                    </div>
                    <div class="row col-md-12">
                        <div class="col-md-6 col-xs-12 col-sm-6">
                            <img src="~/Content/img/Catalog/Furnaces/Irmina.jpg" />
                        </div>
                        <div class="col-md-4 col-xs-12 col-sm-6 catalog-item-description" style="padding-top: 50px;">
                            <ul style="list-style:disc;list-style-position:inside;">
                                <li>Настенное крепление</li>
                                <li>Выносной пульт управления в комплекте (функция Timer и датчик температуры)</li>
                                <li><strong>Мощность 6 кВт</strong></li>
                                <li>Объем сауны 5 – 12&nbsp;м³</li>
                                <li>Корпус с порошковым покрытием цвет антрацит</li>
                                <li>Объем камней 15 кг</li>
                                <li>Поставляется без камней</li>
                                <li>Размеры (В*Ш*Г) 57*41,5*30 см</li>
                            </ul>
                        </div>
                        <div class="col-md-2 col-xs-12 col-sm-6 catalog-item-price" style="padding-top: 50px;">
                            <p>68 000,00 ₽</p>
                            <a class="btn btn-order" href="#">Заказать</a>
                        </div>
                    </div>
                </div>
                <!--item-row-->
                <div class="row">
                    <div class="catalog-item-title">
                        <strong>FinTec Irmina 6 кВт silber</strong>
                        <img src="~/Content/img/standardLine.jpg" style="float:right;" />
                    </div>
                    <div class="row col-md-12">
                        <div class="col-md-6 col-xs-12 col-sm-6">
                            <img src="~/Content/img/Catalog/Furnaces/Irmina2.jpg" />
                        </div>
                        <div class="col-md-4 col-xs-12 col-sm-6 catalog-item-description" style="padding-top: 50px;">
                            <ul style="list-style:disc;list-style-position:inside;">
                                <li>Настенное крепление</li>
                                <li>Выносной пульт управления в комплекте (функция Timer и датчик температуры)</li>
                                <li><strong>Мощность 6 кВт</strong></li>
                                <li>Объем сауны 5 – 12&nbsp;м³</li>
                                <li>Корпус из нержавеющей стали</li>
                                <li>Объем камней 15 кг</li>
                                <li>Поставляется без камней</li>
                                <li>Размеры (В*Ш*Г) 57*41,5*30 см</li>
                            </ul>
                        </div>
                        <div class="col-md-2 col-xs-12 col-sm-6 catalog-item-price" style="padding-top: 50px;">
                            <p>69 000,00 ₽</p>
                            <a class="btn btn-order" href="#">Заказать</a>
                        </div>
                    </div>
                </div>
                <!--item-row-->
                <div class="row">
                    <div class="catalog-item-title">
                        <strong>FinTec Irmina 9 кВт antrazit</strong>
                        <img src="~/Content/img/standardLine.jpg" style="float:right;" />
                    </div>
                    <div class="row col-md-12">
                        <div class="col-md-6 col-xs-12 col-sm-6">
                            <img src="~/Content/img/Catalog/Furnaces/Irmina.jpg" />
                        </div>
                        <div class="col-md-4 col-xs-12 col-sm-6 catalog-item-description" style="padding-top: 50px;">
                            <ul style="list-style:disc;list-style-position:inside;">
                                <li>Настенное крепление</li>
                                <li>Выносной пульт управления в комплекте (функция Timer и датчик температуры)</li>
                                <li><strong>Мощность 9 кВт</strong></li>
                                <li>Объем сауны 7 – 14&nbsp;м³</li>
                                <li>Корпус с порошковым покрытием цвет антрацит</li>
                                <li>Объем камней 15 кг</li>
                                <li>Поставляется без камней</li>
                                <li>Размеры (В*Ш*Г) 57*41,5*30 см</li>
                            </ul>
                        </div>
                        <div class="col-md-2 col-xs-12 col-sm-6 catalog-item-price" style="padding-top: 50px;">
                            <p>70 000,00 ₽</p>
                            <a class="btn btn-order" href="#">Заказать</a>
                        </div>
                    </div>
                </div>
                <!--item-row-->
                <div class="row">
                    <div class="catalog-item-title">
                        <strong>FinTec Irmina 9 кВт silber</strong>
                        <img src="~/Content/img/standardLine.jpg" style="float:right;" />
                    </div>
                    <div class="row col-md-12">
                        <div class="col-md-6 col-xs-12 col-sm-6">
                            <img src="~/Content/img/Catalog/Furnaces/Irmina2.jpg" />
                        </div>
                        <div class="col-md-4 col-xs-12 col-sm-6 catalog-item-description" style="padding-top: 50px;">
                            <ul style="list-style:disc;list-style-position:inside;">
                                <li>Настенное крепление</li>
                                <li>Выносной пульт управления в комплекте (функция Timer и датчик температуры)</li>
                                <li><strong>Мощность 9 кВт</strong></li>
                                <li>Объем сауны 7 – 14&nbsp;м³</li>
                                <li>Корпус из нержавеющей стали</li>
                                <li>Объем камней 15 кг</li>
                                <li>Поставляется без камней</li>
                                <li>Размеры (В*Ш*Г) 57*41,5*30 см</li>
                            </ul>
                        </div>
                        <div class="col-md-2 col-xs-12 col-sm-6 catalog-item-price" style="padding-top: 50px;">
                            <p>71 000,00 ₽</p>
                            <a class="btn btn-order" href="#">Заказать</a>
                        </div>
                    </div>
                </div>
                <!--item-row-->
                <div class="row">
                    <div class="catalog-item-title">
                        <strong>FinTec Bjorn 9 кВт</strong>
                        <img src="~/Content/img/premiumLine.jpg" style="float:right;" />
                    </div>
                    <div class="row col-md-12">
                        <div class="col-md-4 col-xs-12 col-sm-6">
                            <img src="~/Content/img/Catalog/Furnaces/Bjorn.jpg" />
                        </div>
                        <div class="col-md-6 col-xs-12 col-sm-6 catalog-item-description" style="padding-top: 50px;">
                            <ul style="list-style:disc;list-style-position:inside;">
                                <li>100 % Made in Germany</li>
                                <li>Маркировка СЕ</li>
                                <li><strong>Мощность 9 кВт</strong></li>
                                <li>Объем сауны 7 – 15&nbsp;м³</li>
                                <li>100% нержавеющая сталь</li>
                                <li>Одноконтурное подключение (9,0 кВт)</li>
                                <li>Объем камней 160 кг</li>
                                <li>Размеры: высота 110 см,  диаметр 38 см</li>
                            </ul>
                        </div>
                        <div class="col-md-2 col-xs-12 col-sm-6 catalog-item-price" style="padding-top: 50px;">
                            <p>170 000,00 ₽</p>
                            <a class="btn btn-order" href="#">Заказать</a>
                        </div>
                    </div>
                </div>
                <!--item-row-->          
                <div class="row">
                    <div class="catalog-item-title">
                        <strong>FinTec Bjorn 12 кВт</strong>
                        <img src="~/Content/img/premiumLine.jpg" style="float:right;" />
                    </div>
                    <div class="row col-md-12">
                        <div class="col-md-4 col-xs-12 col-sm-6">
                            <img src="~/Content/img/Catalog/Furnaces/Bjorn.jpg" />
                        </div>
                        <div class="col-md-6 col-xs-12 col-sm-6 catalog-item-description" style="padding-top: 50px;">
                            <ul style="list-style:disc;list-style-position:inside;">
                                <li>100 % Made in Germany</li>
                                <li>Маркировка СЕ</li>
                                <li><strong>Мощность 12 кВт</strong></li>
                                <li>Объем сауны 10 – 18&nbsp;м³</li>
                                <li>100% нержавеющая сталь</li>
                                <li>Двухконтурное подключение (9,0 кВт/ 3,0 кВт)</li>
                                <li>Объем камней 160 кг</li>
                                <li>Размеры: высота 110 см,  диаметр 38 см</li>
                            </ul>
                        </div>
                        <div class="col-md-2 col-xs-12 col-sm-6 catalog-item-price" style="padding-top: 50px;">
                            <p>182 000,00 ₽</p>
                            <a class="btn btn-order" href="#">Заказать</a>
                        </div>
                    </div>
                </div>
                <!--item-row-->         
                <div class="row">
                    <div class="catalog-item-title">
                        <strong>FinTec Bjorn 15 кВт</strong>
                        <img src="~/Content/img/premiumLine.jpg" style="float:right;" />
                    </div>
                    <div class="row col-md-12">
                        <div class="col-md-4 col-xs-12 col-sm-6">
                            <img src="~/Content/img/Catalog/Furnaces/Bjorn.jpg" />
                        </div>
                        <div class="col-md-6 col-xs-12 col-sm-6 catalog-item-description" style="padding-top: 50px;">
                            <ul style="list-style:disc;list-style-position:inside;">
                                <li>100 % Made in Germany</li>
                                <li>Маркировка СЕ</li>
                                <li><strong>Мощность 15 кВт</strong></li>
                                <li>Объем сауны 13 – 20&nbsp;м³</li>
                                <li>100% нержавеющая сталь</li>
                                <li>Двухконтурное подключение (9,0 кВт/ 6,0 кВт)</li>
                                <li>Объем камней 160 кг</li>
                                <li>Размеры: высота 110 см,  диаметр 38 см</li>
                            </ul>
                        </div>
                        <div class="col-md-2 col-xs-12 col-sm-6 catalog-item-price" style="padding-top: 50px;">
                            <p>193 000,00 ₽</p>
                            <a class="btn btn-order" href="#">Заказать</a>
                        </div>
                    </div>
                </div>
                <!--item-row-->     
                <div class="row">
                    <div class="catalog-item-title">
                        <strong>FinTec Bjorn 18 кВт</strong>
                        <img src="~/Content/img/premiumLine.jpg" style="float:right;" />
                    </div>
                    <div class="row col-md-12">
                        <div class="col-md-4 col-xs-12 col-sm-6">
                            <img src="~/Content/img/Catalog/Furnaces/Bjorn.jpg" />
                        </div>
                        <div class="col-md-6 col-xs-12 col-sm-6 catalog-item-description" style="padding-top: 50px;">
                            <ul style="list-style:disc;list-style-position:inside;">
                                <li>100 % Made in Germany</li>
                                <li>Маркировка СЕ</li>
                                <li><strong>Мощность 18 кВт</strong></li>
                                <li>Объем сауны 16 – 22&nbsp;м³</li>
                                <li>100% нержавеющая сталь</li>
                                <li>Двухконтурное подключение (9,0 кВт/ 9,0 кВт)</li>
                                <li>Объем камней 160 кг</li>
                                <li>Размеры: высота 110 см,  диаметр 38 см</li>
                            </ul>
                        </div>
                        <div class="col-md-2 col-xs-12 col-sm-6 catalog-item-price" style="padding-top: 50px;">
                            <p>203 000,00 ₽</p>
                            <a class="btn btn-order" href="#">Заказать</a>
                        </div>
                    </div>
                </div>
                <!--item-row-->                                           
                <div class="row">
                    <div class="catalog-item-title">
                        <strong>FinTec Bjorn 20 кВт</strong>
                        <img src="~/Content/img/premiumLine.jpg" style="float:right;" />
                    </div>
                    <div class="row col-md-12">
                        <div class="col-md-4 col-xs-12 col-sm-6">
                            <img src="~/Content/img/Catalog/Furnaces/Bjorn.jpg" />
                        </div>
                        <div class="col-md-6 col-xs-12 col-sm-6 catalog-item-description" style="padding-top: 50px;">
                            <ul style="list-style:disc;list-style-position:inside;">
                                <li>100 % Made in Germany</li>
                                <li>Маркировка СЕ</li>
                                <li><strong>Мощность 20,4 кВт</strong></li>
                                <li>Объем сауны 20 – 24&nbsp;м³</li>
                                <li>100% нержавеющая сталь</li>
                                <li>Двухконтурное подключение (8,4 кВт/ 12,0 кВт)</li>
                                <li>Объем камней 160 кг</li>
                                <li>Размеры: высота 110 см,  диаметр 38 см</li>
                            </ul>
                        </div>
                        <div class="col-md-2 col-xs-12 col-sm-6 catalog-item-price" style="padding-top: 50px;">
                            <p>218 000,00 ₽</p>
                            <a class="btn btn-order" href="#">Заказать</a>
                        </div>
                    </div>
                </div>
                <!--item-row-->  
                <div class="row">
                    <div class="catalog-item-title">
                        <strong>FinTec Bjorn 25 кВт</strong>
                        <img src="~/Content/img/premiumLine.jpg" style="float:right;" />
                    </div>
                    <div class="row col-md-12">
                        <div class="col-md-4 col-xs-12 col-sm-6">
                            <img src="~/Content/img/Catalog/Furnaces/Bjorn.jpg" />
                        </div>
                        <div class="col-md-6 col-xs-12 col-sm-6 catalog-item-description" style="padding-top: 50px;">
                            <ul style="list-style:disc;list-style-position:inside;">
                                <li>100 % Made in Germany</li>
                                <li>Маркировка СЕ</li>
                                <li><strong>Мощность 25,2 кВт</strong></li>
                                <li>Объем сауны 22 – 28&nbsp;м³</li>
                                <li>100% нержавеющая сталь</li>
                                <li>Двухконтурное подключение (8,4 кВт/ 16,8 кВт)</li>
                                <li>Объем камней 160 кг</li>
                                <li>Размеры: высота 110 см,  диаметр 38 см</li>
                            </ul>
                        </div>
                        <div class="col-md-2 col-xs-12 col-sm-6 catalog-item-price" style="padding-top: 50px;">
                            <p>230 000,00 ₽</p>
                            <a class="btn btn-order" href="#">Заказать</a>
                        </div>
                    </div>
                </div>
                <!--item-row-->  
                <div class="row">
                    <div class="catalog-item-title">
                        <strong>FinTec KAISA 9 кВт</strong>
                        <img src="~/Content/img/premiumLine.jpg" style="float:right;" />
                    </div>
                    <div class="row col-md-12">
                        <div class="col-md-4 col-xs-12 col-sm-6">
                            <img src="~/Content/img/Catalog/Furnaces/Kaisa.jpg" />
                        </div>
                        <div class="col-md-6 col-xs-12 col-sm-6 catalog-item-description" style="padding-top: 50px;">
                            <ul style="list-style:disc;list-style-position:inside;">
                                <li>100 % Made in Germany</li>
                                <li>Маркировка СЕ</li>
                                <li><strong>Мощность 9 кВт</strong></li>
                                <li>Объем сауны 7 – 14&nbsp;м³</li>
                                <li>100% нержавеющая сталь</li>
                                <li>Одноконтурное подключение (9 кВт)</li>
                                <li>Объем камней 160 кг</li>
                                <li>Размеры: высота 110 см,  диаметр 38 см</li>
                            </ul>
                        </div>
                        <div class="col-md-2 col-xs-12 col-sm-6 catalog-item-price" style="padding-top: 50px;">
                            <p>121 000,00 ₽</p>
                            <a class="btn btn-order" href="#">Заказать</a>
                        </div>
                    </div>
                </div>
                <!--item-row-->  
                <div class="row">
                    <div class="catalog-item-title">
                        <strong>FinTec KAISA 9 кВт</strong>
                        <img src="~/Content/img/premiumLine.jpg" style="float:right;" />
                    </div>
                    <div class="row col-md-12">
                        <div class="col-md-4 col-xs-12 col-sm-6">
                            <img src="~/Content/img/Catalog/Furnaces/Kaisa2.jpg" />
                        </div>
                        <div class="col-md-6 col-xs-12 col-sm-6 catalog-item-description" style="padding-top: 50px;">
                            <ul style="list-style:disc;list-style-position:inside;">
                                <li>100 % Made in Germany</li>
                                <li>Маркировка СЕ</li>
                                <li><strong>Мощность 9 кВт</strong></li>
                                <li>Объем сауны 7 – 14&nbsp;м³</li>
                                <li>100% нержавеющая сталь</li>
                                <li>Одноконтурное подключение (9 кВт)</li>
                                <li>Объем камней 160 кг</li>
                                <li>Размеры: высота 110 см,  диаметр 38 см</li>
                            </ul>
                        </div>
                        <div class="col-md-2 col-xs-12 col-sm-6 catalog-item-price" style="padding-top: 50px;">
                            <p>130 000,00 ₽</p>
                            <a class="btn btn-order" href="#">Заказать</a>
                        </div>
                    </div>
                </div>
                <!--item-row-->
                <div class="row">
                    <div class="catalog-item-title">
                        <strong>FinTec KAISA 6кВт</strong>
                        <img src="~/Content/img/premiumLine.jpg" style="float:right;" />
                    </div>
                    <div class="row col-md-12">
                        <div class="col-md-4 col-xs-12 col-sm-6">
                            <img src="~/Content/img/Catalog/Furnaces/Kaisa.jpg" />
                        </div>
                        <div class="col-md-6 col-xs-12 col-sm-6 catalog-item-description" style="padding-top: 50px;">
                            <ul style="list-style:disc;list-style-position:inside;">
                                <li>100 % Made in Germany</li>
                                <li>Маркировка СЕ</li>
                                <li><strong>Мощность 6 кВт</strong></li>
                                <li>Объем сауны 5 – 12&nbsp;м³</li>
                                <li>100% нержавеющая сталь</li>
                                <li>Одноконтурное подключение (9 кВт)</li>
                                <li>Объем камней 160 кг</li>
                                <li>Размеры: высота 110 см,  диаметр 38 см</li>
                            </ul>
                        </div>
                        <div class="col-md-2 col-xs-12 col-sm-6 catalog-item-price" style="padding-top: 50px;">
                            <p>119 000,00 ₽</p>
                            <a class="btn btn-order" href="#">Заказать</a>
                        </div>
                    </div>
                </div>
                <!--item-row-->
                <div class="row">
                    <div class="catalog-item-title">
                        <strong>FinTec KAISA 6 кВт</strong>
                        <img src="~/Content/img/premiumLine.jpg" style="float:right;" />
                    </div>
                    <div class="row col-md-12">
                        <div class="col-md-4 col-xs-12 col-sm-6">
                            <img src="~/Content/img/Catalog/Furnaces/Kaisa2.jpg" />
                        </div>
                        <div class="col-md-6 col-xs-12 col-sm-6 catalog-item-description" style="padding-top: 50px;">
                            <ul style="list-style:disc;list-style-position:inside;">
                                <li>100 % Made in Germany</li>
                                <li>Маркировка СЕ</li>
                                <li><strong>Мощность 6 кВт</strong></li>
                                <li>Объем сауны 5 – 12&nbsp;м³</li>
                                <li>100% нержавеющая сталь</li>
                                <li>Одноконтурное подключение (9 кВт)</li>
                                <li>Объем камней 160 кг</li>
                                <li>Размеры: высота 110 см,  диаметр 38 см</li>
                            </ul>
                        </div>
                        <div class="col-md-2 col-xs-12 col-sm-6 catalog-item-price" style="padding-top: 50px;">
                            <p>129 000,00 ₽</p>
                            <a class="btn btn-order" href="#">Заказать</a>
                        </div>
                    </div>
                </div>
                <!--item-row-->
                <div class="row">
                    <div class="catalog-item-title">
                        <strong>FinTec KAJA 6 кВт</strong>
                        <img src="~/Content/img/premiumLine.jpg" style="float:right;" />
                    </div>
                    <div class="row col-md-12">
                        <div class="col-md-4 col-xs-12 col-sm-6">
                            <img src="~/Content/img/Catalog/Furnaces/Kaja.jpg" />
                        </div>
                        <div class="col-md-6 col-xs-12 col-sm-6 catalog-item-description" style="padding-top: 50px;">
                            <ul style="list-style:disc;list-style-position:inside;">
                                <li>100 % Made in Germany</li>
                                <li>Долговечность за счет материала из высококачественной нержавеющей стали</li>
                                <li>Минимальные расстояния для безопасного использования и незначительная занимаемая площадь для  максимальной экономии пространства</li>
                                <li>Современный классический дизайн печи </li>
                                <li><strong>Мощность 6 кВт</strong></li>
                                <li>Объем сауны 4 – 7&nbsp;м³</li>
                                <li>Размер (В*Ш*Г) - 75,6x48,3x30,5 см</li>
                                <li>Вариативность в дизайне: можно установить на стену или на пол</li>
                                <li>Увеличенная закладка камней для создания идеального «мягкого пара»</li>
                                <li>Разумная технология</li>
                                <li>Простота и практичность в использовании</li>
                                <li>Надежность и гигиеничность в эксплуатации</li>
                            </ul>
                        </div>
                        <div class="col-md-2 col-xs-12 col-sm-6 catalog-item-price" style="padding-top: 50px;">
                            <div style="height:200px;">
                                <span>Навесная</span>
                                <p>82 000,00 ₽</p>
                                <a class="btn btn-order" href="#">Заказать</a>
                            </div>
                            <div>
                                <span>Напольная</span>
                                <p>92 000,00 ₽</p>
                                <a class="btn btn-order" href="#">Заказать</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--item-row-->
                <div class="row">
                    <div class="catalog-item-title">
                        <strong>FinTec KAJA 9 кВт</strong>
                        <img src="~/Content/img/premiumLine.jpg" style="float:right;" />
                    </div>
                    <div class="row col-md-12">
                        <div class="col-md-4 col-xs-12 col-sm-6">
                            <img src="~/Content/img/Catalog/Furnaces/Kaja.jpg" />
                        </div>
                        <div class="col-md-6 col-xs-12 col-sm-6 catalog-item-description" style="padding-top: 50px;">
                            <ul style="list-style:disc;list-style-position:inside;">
                                <li>100 % Made in Germany</li>
                                <li>Долговечность за счет материала из высококачественной нержавеющей стали</li>
                                <li>Минимальные расстояния для безопасного использования и незначительная занимаемая площадь для  максимальной экономии пространства</li>
                                <li>Современный классический дизайн печи </li>
                                <li><strong>Мощность 9 кВт</strong></li>
                                <li>Объем сауны 9 – 12&nbsp;м³</li>
                                <li>Размер (В*Ш*Г) - 75,6x48,3x30,5 см</li>
                                <li>Вариативность в дизайне: можно установить на стену или на пол</li>
                                <li>Увеличенная закладка камней для создания идеального «мягкого пара»</li>
                                <li>Разумная технология</li>
                                <li>Простота и практичность в использовании</li>
                                <li>Надежность и гигиеничность в эксплуатации</li>
                            </ul>
                        </div>
                        <div class="col-md-2 col-xs-12 col-sm-6 catalog-item-price" style="padding-top: 50px;">
                            <div style="height:200px;">
                                <span>Навесная</span>
                                <p>83 000,00 ₽</p>
                                <a class="btn btn-order" href="#">Заказать</a>
                            </div>
                            <div>
                                <span>Напольная</span>
                                <p>94 000,00 ₽</p>
                                <a class="btn btn-order" href="#">Заказать</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--item-row-->
                <div class="row">
                    <div class="catalog-item-title">
                        <strong>FinTec KAJA 10 кВт</strong>
                        <img src="~/Content/img/premiumLine.jpg" style="float:right;" />
                    </div>
                    <div class="row col-md-12">
                        <div class="col-md-4 col-xs-12 col-sm-6">
                            <img src="~/Content/img/Catalog/Furnaces/Kaja.jpg" />
                        </div>
                        <div class="col-md-6 col-xs-12 col-sm-6 catalog-item-description" style="padding-top: 50px;">
                            <ul style="list-style:disc;list-style-position:inside;">
                                <li>100 % Made in Germany</li>
                                <li>Долговечность за счет материала из высококачественной нержавеющей стали</li>
                                <li>Минимальные расстояния для безопасного использования и незначительная занимаемая площадь для  максимальной экономии пространства</li>
                                <li>Современный классический дизайн печи </li>
                                <li><strong>Мощность 10,5 кВт</strong></li>
                                <li>Объем сауны 10 – 14&nbsp;м³</li>
                                <li>Размер (В*Ш*Г) - 75,6x48,3x30,5 см</li>
                                <li>Вариативность в дизайне: можно установить на стену или на пол</li>
                                <li>Увеличенная закладка камней для создания идеального «мягкого пара»</li>
                                <li>Разумная технология</li>
                                <li>Простота и практичность в использовании</li>
                                <li>Надежность и гигиеничность в эксплуатации</li>
                            </ul>
                        </div>
                        <div class="col-md-2 col-xs-12 col-sm-6 catalog-item-price" style="padding-top: 50px;">
                            <div style="height:200px;">
                                <span>Навесная</span>
                                <p>84 000,00 ₽</p>
                                <a class="btn btn-order" href="#">Заказать</a>
                            </div>
                            <div>
                                <span>Напольная</span>
                                <p>94 000,00 ₽</p>
                                <a class="btn btn-order" href="#">Заказать</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--item-row-->
                <div class="row">
                    <div class="catalog-item-title">
                        <strong>FinTec DIEMO 9 кВт</strong>
                        <img src="~/Content/img/premiumLine.jpg" style="float:right;" />
                    </div>
                    <div class="row col-md-12">
                        <div class="col-md-6 col-xs-12 col-sm-6">
                            <img src="~/Content/img/Catalog/Furnaces/Diemo.jpg" />
                        </div>
                        <div class="col-md-4 col-xs-12 col-sm-6 catalog-item-description" style="padding-top: 50px;">
                            <ul style="list-style:disc;list-style-position:inside;">
                                <li>100 % Made in Germany</li>
                                <li><strong>Мощность 9 кВт</strong></li>
                                <li>Объем сауны 7 – 14&nbsp;м³</li>
                                <li>Объем камней 15 кг</li>
                                <li>Корпус - 100% нержавеющая сталь</li>
                                <li>Вес 36 кг</li>
                                <li>Размер (В*Ш*Г) - 87x92x20 cм</li>
                                <li>Используется как вспомогательная печь</li>
                            </ul>
                        </div>
                        <div class="col-md-2 col-xs-12 col-sm-6 catalog-item-price" style="padding-top: 50px;">
                            <p>151 000,00 ₽</p>
                            <a class="btn btn-order" href="#">Заказать</a>
                        </div>
                    </div>
                </div>
                <!--item-row-->
                <div class="row">
                    <div class="catalog-item-title">
                        <strong>FinTec DIEMO 12 кВт</strong>
                        <img src="~/Content/img/premiumLine.jpg" style="float:right;" />
                    </div>
                    <div class="row col-md-12">
                        <div class="col-md-6 col-xs-12 col-sm-6">
                            <img src="~/Content/img/Catalog/Furnaces/Diemo.jpg" />
                        </div>
                        <div class="col-md-4 col-xs-12 col-sm-6 catalog-item-description" style="padding-top: 50px;">
                            <ul style="list-style:disc;list-style-position:inside;">
                                <li>100 % Made in Germany</li>
                                <li><strong>Мощность 12 кВт</strong></li>
                                <li>Объем сауны 10 – 17&nbsp;м³</li>
                                <li>Объем камней 15 кг</li>
                                <li>Корпус - 100% нержавеющая сталь</li>
                                <li>Вес 36 кг</li>
                                <li>Размер (В*Ш*Г) - 87x92x20 cм</li>
                                <li>Используется как вспомогательная печь</li>
                            </ul>
                        </div>
                        <div class="col-md-2 col-xs-12 col-sm-6 catalog-item-price" style="padding-top: 50px;">
                            <p>151 000,00 ₽</p>
                            <a class="btn btn-order" href="#">Заказать</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- .row-->
</div>
<!-- .container-->
