@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title">
                    <h2>Хаммам</h2>
                    <ul class="breadcrumb">
                        <li><a href="~/Home/Index">Главная</a></li>
                        <li class="">Каталог</li>
                        <li class=""><a href="~/Catalog/Index">СПА</a></li>
                        <li class="active">Хаммам</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- .row-->
    </div>
    <!-- .container-->
</div>
<!-- .breadcrumb-area-->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="history">
                <h3>STARPOOL SweetSteamPro</h3>
                <div class="history-details">
                    <img src="~/Content/img/Catalog/Hammam/SweetStreamPro.jpg" alt="">
                    <p>
                        Благодаря передней стенке и стеклянной двери границы между внутренней и наружной частью стираются, создавая непрерывность пространств. 
                        В <strong>SweetSteamPro</strong> богатые традиции велнеса встречаются с творчеством, новаторством и дизайном для создания концепции большого выразительного 
                        содержания. Экстравагантный проект, свершающий революцию в области проектирования паровых бань. 
                        <strong>SweetSteamPro</strong> представляет собой модульную систему со специально подобранной отделкой и инновационными технологиями и качественно повышает характеристики изделия, всегда стремившегося улучшить самочувствие человека.  
                    </p>
                    <p>
                        <ul style="list-style:disc;">
                            <li>
                                максимальный уровень гигиены благодаря стеклянному покрытию стен (площадь затирки менее 1%)
                            </li>
                            <li>
                                специально подобранные надежные материалы, например, solid surface сидений (инертный и антибактериальный)
                            </li>
                            <li>
                                запатентованные технологии для повышения целебных свойств среды (благодаря использованию метода Air Stam System® пар с ароматом эвкалипта подается в кабину из цилиндра с покрытием solid surface, смешивается с воздухом и равномерно распределяется, не допуская расслоения и обеспечивая повышение качества пара)
                                Solid surface – это прочный, эстетичный, практичный материал, преимущества в сравнении с натуральным камнем:<br />
                                - непористость, а значит высокая гигиеничность<br />
                                - ремонтопригодность<br />
                                - теплый материал, не обжигает<br />
                            </li>
                            <li>
                                простота установки (SweetSteamPro серийно уже имеет внутреннюю отделку и самое разнообразное оснащение).
                            </li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- .row-->
    <div class="row">
        <div class="col-md-12">
            <h4>Варианты отделки</h4>
            <div class="col-md-3">
                <div>
                    <strong>Crystal black</strong>
                </div>
                <div>
                    <img src="~/Content/img/Catalog/SweetShower/black.jpg" alt="">
                </div>
                <div class="text-center">
                    <div>По запросу</div>
                    <a class="btn btn-order" href="#">Заказать</a>
                </div>
            </div>
            <div class="col-md-3">
                <div>
                    <strong>Crystal white</strong>
                </div>
                <div>
                    <img src="~/Content/img/Catalog/SweetShower/white.jpg" alt="">
                </div>
                <div class="text-center">
                    <div>По запросу</div>
                    <a class="btn btn-order" href="#">Заказать</a>
                </div>
            </div>
            <div class="col-md-3">
                <div>
                    <strong>Luxury calacatta</strong>
                </div>
                <div>
                    <img src="~/Content/img/Catalog/SweetShower/calacatta.jpg" alt="">
                </div>
                <div class="text-center">
                    <div>По запросу</div>
                    <a class="btn btn-order" href="#">Заказать</a>
                </div>
            </div>
            <div class="col-md-3">
                <div>
                    <strong>Luxury eramosa</strong>
                </div>
                <div>
                    <img src="~/Content/img/Catalog/SweetShower/eramosa.jpg" alt="">
                </div>
                <div class="text-center">
                    <div>По запросу</div>
                    <a class="btn btn-order" href="#">Заказать</a>
                </div>
            </div>
        </div>
    </div>
    <!-- .row-->
    <div class="row" style="margin-top:60px;">
        <div class="col-md-12">
            <h4>Технические характеристики</h4>
            <div class="table-responsive">
                <table class="table table-parameters">
                    <thead>
                        <tr>
                            <th>
                                ПРОФЕССИОНАЛЬНАЯ СЕРИЯ ПАРОВЫХ КАБИН
                            </th>
                            <th>
                                SWEET STEAM PRO
                            </th>
                            <th>
                                SWEET STEAM PRO VISION
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td colspan="2">
                                БЕЗ ПОЛА
                            </td>
                        </tr>
                        <tr>
                            <td>РАЗМЕРЫ (СМ)</td>
                            <td colspan="2">
                                <p>195 Д х 195 Ш х 233 В</p>
                                <p>285 Д х 195 Ш х 233 В</p>
                                <p>285 Д х 285 Ш х 233 В</p>
                                <p>375 Д х 285 Ш х 233 В</p>
                                <p>375 Д х 375 Ш х 233 В</p>
                            </td>
                        </tr>
                        <tr>
                            <td>ПИТАНИЕ</td>
                            <td colspan="2">400 В 3~</td>
                        </tr>
                        <tr>
                            <td>ПОТРЕБЛЕНИЕ</td>
                            <td colspan="2">6.5-18.5 кВт</td>
                        </tr>
                        <tr>
                            <td>РЕЖИМЫ</td>
                            <td colspan="2">
                                ХАММАМ
                            </td>
                        </tr>
                        <tr>
                            <td>ТЕМПЕРАТУРА</td>
                            <td colspan="2">
                                43-45 ⁰С
                            </td>
                        </tr>
                        <tr>
                            <td>ВЛАЖНОСТЬ</td>
                            <td colspan="2">
                                98 %
                            </td>
                        </tr>
                        <tr>
                            <td>ДВЕРЬ</td>
                            <td>
                                РАМКА ДВЕРИ ИЗ СТАЛИ AISI316L
                                ЗАКАЛЕННОЕ СТЕКЛО 10 ММ.
                                ШИРИНА ДВЕРИ 87 СМ
                                РУЧКА – ДЕРЕВО/СТАЛЬ
                            </td>
                            <td>
                                РАМКА ПО ПЕРИМЕТРУ ПОРТАЛА ИЗ НАТУРАЛЬНОГО ДУБА 3 СМ.
                                ЗАКАЛЕННОЕ СТЕКЛО 10ММ.
                                ШИРИНА ДВЕРИ 87 СМ
                                РУЧКА – ДЕРЕВО/СТАЛЬ
                            </td>
                        </tr>
                        <tr>
                            <td>МАТЕРИАЛ ЛАВКИ И ЦИЛИНДРА ПАРОГЕНЕРАТОРА</td>
                            <td colspan="2">
                                ИСКУСТВЕННЫЙ КАМЕНЬ ПО ТЕХНОЛОГИИ SOLID SURFACE
                            </td>
                        </tr>
                        <tr>
                            <td>МАТЕРИАЛ СТЕН</td>
                            <td colspan="2">
                                <div>
                                    <p><strong>CRYSTAL</strong>: СТЕКЛО БЕЛОГО ИЛИ ЧЕРНОГО ЦВЕТА</p>
                                    <p><strong>LUXURY</strong>: МРАМОР ДВУХ РИСУНКОВ НА ВЫБОР: ERAMOSA ИЛИ CALACATTA</p>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>УПРАВЛЕНИЕ</td>
                            <td colspan="2">
                                ОСУЩЕСТВЛЯЕТСЯ ИЗ ТЕХНИЧЕСКОГО ПОМЕЩЕНИЯ, ЗА ИСКЛЮЧЕНИЕМ ДУША И АВАРИЙНОЙ КНОПКИ, КОТОРЫЕ РАЗМЕЩЕНЫ ВНУТРИ КАБИНЫ.
                            </td>
                        </tr>
                        <tr>
                            <td>МУЗЫКА</td>
                            <td colspan="2">SPA-MUSIC BY STARPOOL. MP3. Bluetooth (опционально)</td>
                        </tr>
                        <tr>
                            <td>ОСВЕЩЕНИЕ</td>
                            <td colspan="2">RGB LED-ПЛАНКА</td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                КАБИНЫ ОСНАЩЕНЫ КОМПЛЕКТОМ ХОЛОДНОГО ДУША
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- .row-->
</div>
<!-- .container-->