@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type='text/javascript' src='~/content/fancybox/jquery.fancybox.min.js'></script>
<link rel='stylesheet' href='~/content/fancybox/jquery.fancybox.min.css' type='text/css' />

<script>
    $(document).ready(function () {
        $("[data-fancybox]").fancybox({
            'scrolling': 'yes'
        });
    });
</script>

<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title">
                    <h2>Портфолио</h2>
                    <ul class="breadcrumb">
                        <li><a href="index">Главная</a></li>
                        <li class="active">Портфолио</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- .row-->
    </div>
    <!-- .container-->
</div>
<div class="container">
    <div class="gallery-container">
        <div class="form-section">
            <div class="row">
                <div class="col-md-12">
                    <div id="penza" class="activity-head">
                        <h2>Частный SPA-комплекс <span>«Пенза»</span></h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-xs-12 col-sm-6">
                    <div class="gallery-item">
                        <a href="~/Content/img/gallery/penza/1_1.jpg" data-fancybox="gallery1" data-caption="Частный SPA-комплекс «ПЕНЗА»">
                            <img src="~/Content/img/gallery/penza/1_2.jpg" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12 col-sm-6">
                    <div class="gallery-item">
                        <a href="~/Content/img/gallery/penza/2_1.jpg" data-fancybox="gallery1" data-caption="Частный SPA-комплекс «ПЕНЗА»">
                            <img src="~/Content/img/gallery/penza/2_2.jpg" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12 col-sm-6">
                    <div class="gallery-item">
                        <a href="~/Content/img/gallery/penza/3_1.jpg" data-fancybox="gallery1" data-caption="Частный SPA-комплекс «ПЕНЗА»">
                            <img src="~/Content/img/gallery/penza/3_2.jpg" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12 col-sm-6">
                    <div class="gallery-item">
                        <a href="~/Content/img/gallery/penza/4_1.jpg" data-fancybox="gallery1" data-caption="Частный SPA-комплекс «ПЕНЗА»">
                            <img src="~/Content/img/gallery/penza/4_2.jpg" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12 col-sm-6">
                    <div class="gallery-item">
                        <a href="~/Content/img/gallery/penza/5_1.jpg" data-fancybox="gallery1" data-caption="Частный SPA-комплекс «ПЕНЗА»">
                            <img src="~/Content/img/gallery/penza/5_2.jpg" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12 col-sm-6">
                    <div class="gallery-item">
                        <a href="~/Content/img/gallery/penza/6_1.jpg" data-fancybox="gallery1" data-caption="Частный SPA-комплекс «ПЕНЗА»">
                            <img src="~/Content/img/gallery/penza/6_2.jpg" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12 col-sm-6">
                    <div class="gallery-item">
                        <a href="~/Content/img/gallery/penza/7_1.jpg" data-fancybox="gallery1" data-caption="Частный SPA-комплекс «ПЕНЗА»">
                            <img src="~/Content/img/gallery/penza/7_2.jpg" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12 col-sm-6">
                    <div class="gallery-item">
                        <a href="~/Content/img/gallery/penza/8_1.jpg" data-fancybox="gallery1" data-caption="Частный SPA-комплекс «ПЕНЗА»">
                            <img src="~/Content/img/gallery/penza/8_2.jpg" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12 col-sm-6">
                    <div class="gallery-item">
                        <a href="~/Content/img/gallery/penza/9_1.jpg" data-fancybox="gallery1" data-caption="Частный SPA-комплекс «ПЕНЗА»">
                            <img src="~/Content/img/gallery/penza/9_2.jpg" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="gallery-container">
        <div class="form-section">
            <div class="row">
                <div class="col-md-12">
                    <div id="generium" class="activity-head">
                        <h2>Общественный бассейн <span>«Генериум»</span></h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-xs-12 col-sm-6">
                    <div class="gallery-item">
                        <a href="~/Content/img/gallery/generium/1_1.jpg" data-fancybox="gallery2" data-caption="Бассейн «ГЕНЕРИУМ»">
                            <img src="~/Content/img/gallery/generium/1_2.jpg" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12 col-sm-6">
                    <div class="gallery-item">
                        <a href="~/Content/img/gallery/generium/2_1.jpg" data-fancybox="gallery2" data-caption="Бассейн «ГЕНЕРИУМ»">
                            <img src="~/Content/img/gallery/generium/2_2.jpg" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12 col-sm-6">
                    <div class="gallery-item">
                        <a href="~/Content/img/gallery/generium/3_1.jpg" data-fancybox="gallery2" data-caption="Бассейн «ГЕНЕРИУМ»">
                            <img src="~/Content/img/gallery/generium/3_2.jpg" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12 col-sm-6">
                    <div class="gallery-item">
                        <a href="~/Content/img/gallery/generium/4_1.jpg" data-fancybox="gallery2" data-caption="Бассейн «ГЕНЕРИУМ»">
                            <img src="~/Content/img/gallery/generium/4_2.jpg" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12 col-sm-6">
                    <div class="gallery-item">
                        <a href="~/Content/img/gallery/generium/5_1.jpg" data-fancybox="gallery2" data-caption="Бассейн «ГЕНЕРИУМ»">
                            <img src="~/Content/img/gallery/generium/5_2.jpg" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12 col-sm-6">
                    <div class="gallery-item">
                        <a href="~/Content/img/gallery/generium/6_1.jpg" data-fancybox="gallery2" data-caption="Бассейн «ГЕНЕРИУМ»">
                            <img src="~/Content/img/gallery/generium/6_2.jpg" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12 col-sm-6">
                    <div class="gallery-item">
                        <a href="~/Content/img/gallery/generium/7_1.jpg" data-fancybox="gallery2" data-caption="Бассейн «ГЕНЕРИУМ»">
                            <img src="~/Content/img/gallery/generium/7_2.jpg" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12 col-sm-6">
                    <div class="gallery-item">
                        <a href="~/Content/img/gallery/generium/8_1.jpg" data-fancybox="gallery2" data-caption="Бассейн «ГЕНЕРИУМ»">
                            <img src="~/Content/img/gallery/generium/8_2.jpg" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12 col-sm-6">
                    <div class="gallery-item">
                        <a href="~/Content/img/gallery/generium/9_1.jpg" data-fancybox="gallery2" data-caption="Бассейн «ГЕНЕРИУМ»">
                            <img src="~/Content/img/gallery/generium/9_2.jpg" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="gallery-container">
        <div class="form-section">
            <div class="row">
                <div class="col-md-12">
                    <div id="generium" class="activity-head">
                        <h2>SPA-комплекс <span>«Сокольники»</span></h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-xs-12 col-sm-6">
                    <div class="gallery-item">
                        <a href="~/Content/img/gallery/sokolniky/1_1.jpg" data-fancybox="gallery3" data-caption="Бассейн «СОКОЛЬНИКИ»">
                            <img src="~/Content/img/gallery/sokolniky/1_2.jpg" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12 col-sm-6">
                    <div class="gallery-item">
                        <a href="~/Content/img/gallery/sokolniky/2_1.jpg" data-fancybox="gallery3" data-caption="Бассейн «СОКОЛЬНИКИ»">
                            <img src="~/Content/img/gallery/sokolniky/2_2.jpg" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12 col-sm-6">
                    <div class="gallery-item">
                        <a href="~/Content/img/gallery/sokolniky/3_1.jpg" data-fancybox="gallery3" data-caption="Бассейн «СОКОЛЬНИКИ»">
                            <img src="~/Content/img/gallery/sokolniky/3_2.jpg" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12 col-sm-6">
                    <div class="gallery-item">
                        <a href="~/Content/img/gallery/sokolniky/4_1.jpg" data-fancybox="gallery3" data-caption="Бассейн «СОКОЛЬНИКИ»">
                            <img src="~/Content/img/gallery/sokolniky/4_2.jpg" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12 col-sm-6">
                    <div class="gallery-item">
                        <a href="~/Content/img/gallery/sokolniky/5_1.jpg" data-fancybox="gallery3" data-caption="Бассейн «СОКОЛЬНИКИ»">
                            <img src="~/Content/img/gallery/sokolniky/5_2.jpg" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12 col-sm-6">
                    <div class="gallery-item">
                        <a href="~/Content/img/gallery/sokolniky/6_1.jpg" data-fancybox="gallery3" data-caption="Бассейн «СОКОЛЬНИКИ»">
                            <img src="~/Content/img/gallery/sokolniky/6_2.jpg" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12 col-sm-6">
                    <div class="gallery-item">
                        <a href="~/Content/img/gallery/sokolniky/7_1.jpg" data-fancybox="gallery3" data-caption="Бассейн «СОКОЛЬНИКИ»">
                            <img src="~/Content/img/gallery/sokolniky/7_2.jpg" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12 col-sm-6">
                    <div class="gallery-item">
                        <a href="~/Content/img/gallery/sokolniky/8_1.jpg" data-fancybox="gallery3" data-caption="Бассейн «СОКОЛЬНИКИ»">
                            <img src="~/Content/img/gallery/sokolniky/8_2.jpg" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12 col-sm-6">
                    <div class="gallery-item">
                        <a href="~/Content/img/gallery/sokolniky/9_1.jpg" data-fancybox="gallery3" data-caption="Бассейн «СОКОЛЬНИКИ»">
                            <img src="~/Content/img/gallery/sokolniky/9_2.jpg" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

