@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title">
                    <h2>Оборудование для СПА UNBESCHEIDEN BADEN BADEN</h2>
                    <ul class="breadcrumb">
                        <li><a href="~/Home/Index">Главная</a></li>
                        <li class="">Каталог</li>
                        <li class=""><a href="~/Catalog/Unbescheiden">Unbescheiden</a></li>
                        <li class="active">Медицинские бальнеологические ванны для пресной воды</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- .row-->
    </div>
    <!-- .container-->
</div>
<!-- .breadcrumb-area-->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="history">
                <h3>Медицинские бальнеологические ванны для пресной воды</h3>
                <div class="row">
                    <div class="col-md-12">
                        <table>
                            <tr>
                                <td>
                                    <a href="~/Content/img/Catalog/Unbescheiden/balneologicheskie-vanny_1.jpg" data-fancybox="vichy_prestige" data-caption="Медицинские бальнеологические ванны для пресной воды">
                                        <img style="margin:0;" src="~/Content/img/Catalog/Unbescheiden/balneologicheskie-vanny_1.jpg" alt="">
                                    </a>
                                </td>
                                <td>
                                    <table>
                                        <tr>
                                            <td style="padding-left:5px;padding-bottom:5px;">
                                                <a href="~/Content/img/Catalog/Unbescheiden/balneologicheskie-vanny_2.jpg" data-fancybox="vichy_prestige" data-caption="Медицинские бальнеологические ванны для пресной воды">
                                                    <img style="width:49.5%;" src="~/Content/img/Catalog/Unbescheiden/balneologicheskie-vanny_2.jpg" alt="">
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="padding-left:5px;">
                                                <a href="~/Content/img/Catalog/Unbescheiden/balneologicheskie-vanny_3.jpg" data-fancybox="vichy_prestige" data-caption="Медицинские бальнеологические ванны для пресной воды">
                                                    <img style="width:49.5%;" src="~/Content/img/Catalog/Unbescheiden/balneologicheskie-vanny_3.jpg" alt="">
                                                </a>
                                            </td>
                                        </tr>
                                    </table>                                   
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- .row-->
    <div class="row service-section">
        <div class="col-md-12">
            <!-- Nav tabs -->
            <ul class="tablist" role="tablist">
                <li role="presentation" class="active"><a href="#description" aria-controls="description" role="tab" data-toggle="tab">Описание</a></li>
                <li role="presentation"><a href="#characteristic" aria-controls="characteristic" role="tab" data-toggle="tab">Особенности</a></li>
                <li role="presentation"><a href="#performans" aria-controls="performans" role="tab" data-toggle="tab">Возможности</a></li>
                <li role="presentation"><a href="#complectation" aria-controls="complectation" role="tab" data-toggle="tab">Комплектация</a></li>

                <div style="float:right;">
                    <div style="float:left;margin-right:10px;">Цена по запросу</div>
                    <a class="btn btn-order" style="margin-top:0;" href="#">Заказать</a>
                </div>
            </ul>
        </div>
    </div>
    <div class="tab-content col-md-12">
        <div role="tabpanel" class="tab-pane active" id="description">
            Корпус ванны/каркас:<br />
            - Анатомический корпус ванны со сформованным подголовником выполнен из высококачественного акрилового стекла способом глубокого бесшовного вытяжения (цвет: белый, бледно-голубой)<br />
            - С тыльной стороны армирован специальным ламинатом<br />
            - Со всех сторон имеет обшивку из влагостойкого пластика белого цвета<br />
            - 4 регулируемые по высоте ножки<br />
            - Ревизионное окошко у ножной части обшивки<br />
            - Встроенный слив DN 40 с шаром-заглушкой и цепочкой<br />
            <br />
            Серийное оснащение/арматура:<br />
            - Встроенная арматура наполнения DN 20 с горловиной наполнения DN 25<br />
            - Встроенная душевая арматура со шлангом, душевой лейкой и держателем<br />
            - Монтажный сантехнический комплект<br />
        </div>

        <div role="tabpanel" class="tab-pane" id="characteristic">
            Встроенная система проведения автоматического воздушно-пузырькового массажа «Жемчужное дно»:<br />
            - 20 воздушных дюз диаметром 2 мм, симметрично встроенных (2х10) в дно ванны.<br />
            - Снабжение дюз воздухом осуществляется через два пластиковых канала, соединенных с воздушным компрессором.<br />
            - Воздушный компрессор (80 л/мин) встроен под корпусванны и закреплен на стальном каркасе (вкл. систему промывки)<br />
            <br />
            Арматура для СО2-насыщенной воды:<br />
            - Арматура наполнения СО2-насыщенной воды (вкл. монтажный комплект для СО2-насыщенной воды)<br />
            - Оснащение ванны встроенным автоматическим газоотсосом (специальная крышка с вырезом из ПВХ белого цвета; встроенный отсасывающий вентилятор с таймером; 1 отверстие, встроенное в борт ванны на уровне воды, с водоуловителем)<br />
        </div>

        <div role="tabpanel" class="tab-pane" id="performans">
            «Тихая вода» для проведения процедур с лекарственными растворами (например, скипидарные, бишофитные,йодо-бромные, хвойные, травяные ванны и т.д.) на пресной воде.<br /><br />
            Процедуры с СО2-насыщенной пресной водой и лекарственными растворами (например, скипидарные, бишофитные, йодо-бромные, хвойные, травяные ванны) на пресной воде.<br /><br />
            Проведение автоматического воздушно-пузырькового (жемчужного) массажа с лекарственными растворами (например хвойные, травяные ванны) на пресной воде.<br /><br />
            Проведение автоматического воздушно-пузырькового (жемчужного) массажа, процедур с СО2-насыщенной пресной водой и лекарственными растворами (например хвойные, травяные ванны) на пресной воде.<br />
        </div>

        <div role="tabpanel" class="tab-pane" id="complectation">
            Принадлежности и аксессуары:<br />
            - Упор для ног, регулируемый (3 уровня)<br />
            - 1-ступенчатая лесенка, хромоникелевая сталь<br />
            - Резиновая надувная подушка для пациента<br />
            <br />
            Дополнительное функциональное оснащение:<br />
            - Встроенные в бортики ванны поручни<br />
            - Арматура наполнения ванны через термостат<br />
        </div>
    </div>
    <!-- .row-->
</div>
<!-- .container-->