@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title">
                    <h2>Оборудование для СПА UNBESCHEIDEN BADEN BADEN</h2>
                    <ul class="breadcrumb">
                        <li><a href="~/Home/Index">Главная</a></li>
                        <li class="">Каталог</li>
                        <li class=""><a href="~/Catalog/Unbescheiden">Unbescheiden</a></li>
                        <li class="active">Душевая кафедра</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- .row-->
    </div>
    <!-- .container-->
</div>
<!-- .breadcrumb-area-->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="history">
                <h3>Душевая кафедра (душ Шарко, циркулярный, восходящий, головной)</h3>
                <div class="row">
                    <div class="col-md-12">
                        <table>
                            <tr>
                                <td>
                                    <a href="~/Content/img/Catalog/Unbescheiden/dushevaya_kafedra_1.jpg" data-fancybox="vichy_prestige" data-caption="Душевая кафедра">
                                        <img style="margin:0;" src="~/Content/img/Catalog/Unbescheiden/dushevaya_kafedra_1.jpg" alt="">
                                    </a>
                                </td>
                                <td>
                                    <table>
                                        <tr>
                                            <td style="padding-left:5px;padding-bottom:5px;">
                                                <a href="~/Content/img/Catalog/Unbescheiden/dushevaya_kafedra_2.jpg" data-fancybox="vichy_prestige" data-caption="Душевая кафедра">
                                                    <img style="width:46.3%;" src="~/Content/img/Catalog/Unbescheiden/dushevaya_kafedra_2.jpg" alt="">
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="padding-left: 5px;">
                                                <a href="~/Content/img/Catalog/Unbescheiden/dushevaya_kafedra_3.jpg" data-fancybox="vichy_prestige" data-caption="Душевая кафедра">
                                                    <img style="width:46.3%;" src="~/Content/img/Catalog/Unbescheiden/dushevaya_kafedra_3.jpg" alt="">
                                                </a>
                                            </td>
                                        </tr>
                                    </table>                                   
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- .row-->
    <div class="row service-section">
        <div class="col-md-12">
            <!-- Nav tabs -->
            <ul class="tablist" role="tablist">
                <li role="presentation" class="active"><a href="#description" aria-controls="description" role="tab" data-toggle="tab">Описание</a></li>
                <li role="presentation"><a href="#characteristic" aria-controls="characteristic" role="tab" data-toggle="tab">Характеристики</a></li>
                <li role="presentation"><a href="#complectation" aria-controls="complectation" role="tab" data-toggle="tab">Комплектация</a></li>

                <div style="float:right;">
                    <div style="float:left;margin-right:10px;">Цена по запросу</div>
                    <a class="btn btn-order" style="margin-top:0;" href="#">Заказать</a>
                </div>
            </ul>
        </div>
    </div>
    <div class="tab-content col-md-12">
        <div role="tabpanel" class="tab-pane active" id="description">
            Состоит из: пульта кафедры душа Шарко и трех периферийных душей: циркулярного, восходящего и дождевого<br />
            <br />
            <strong>Общие сведения и серийное оснащение</strong><br />
            Пульт кафедры душа Шарко<br />
            Специальное оснащение:<br />
            - Центральное управление периферийными душами с пульта Шарко<br />
            Периферийные души:<br />
            - Профессиональный медицинский циркулярный душ 160 дюзы диаметром 1,5 мм + встроенный дождевой душ<br />
            - Дождевой душ, диаметр 120 мм, с душевым рукавом DN 20 и душевой розой<br />
            Восходящий душ со стульчаком<br />
            - Стульчак на четырех ножках.<br />
            Дугообразное сиденье выполнено из акрилового стекла. В центре сиденья отверстие для проведения терапии восходящего душа<br />
            Встроенный насос повышения давления воды до минимум 3,5 атм.<br />
            - Повышение давления воды при давлении воды в сети < 2,5 бар<br />
            - Насос оснащен виброгасителями<br />
            - Насосная часть выполнена из высококачественной стали<br />
        </div>

        <div role="tabpanel" class="tab-pane" id="characteristic">
            <strong>Основные технические параметры</strong><br />
            - Среднее повышение давления воды: 2 бар<br />
            - Максимально допустимая температура: 120° С<br />
            - Допустимая внешняя температура: 50° С<br />
            - Электропитание: 230 В, ~, 50 Гц, 0,37 кВт<br />
            - Класс изоляции: F, мотор IP 54<br />
        </div>

        <div role="tabpanel" class="tab-pane" id="complectation">
            Принадлежности и аксессуары<br />
            - Монтажный сантехнический комплект<br />
            - Брызгозащитный экран с поручнями для пациента к душу Шарко (2000х1000х500 мм)<br />
            <br />
            Напольная решетка для душа Шарко:<br />
            - Металлический Т-образный профиль<br />
            - Алюминиевая рама, г-образная<br />
            - Рифленый пластик серого цвета<br />
            - Монтируется на трап душа Шарко<br />
            - Размеры: 300 х 100 мм<br />
            <br />
            Напольная решетка для периферийных душей:<br />
            - Металлический Т-образный профиль<br />
            - Алюминиевая рам, г-образная<br />
            - Рифленый пластик серого цвета<br />
            - Монтируется на трап периферийного/отдельностоящего душа<br />
            - Размеры: 1000 х 500 мм<br />
        </div>
    </div>
    <!-- .row-->
</div>
<!-- .container-->