@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title">
                    <h2>Оборудование для СПА UNBESCHEIDEN BADEN BADEN</h2>
                    <ul class="breadcrumb">
                        <li><a href="~/Home/Index">Главная</a></li>
                        <li class="">Каталог</li>
                        <li class=""><a href="~/Catalog/Unbescheiden">Unbescheiden</a></li>
                        <li class="active">Горизонтальный душ Vichy Classic</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- .row-->
    </div>
    <!-- .container-->
</div>
<!-- .breadcrumb-area-->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="history">
                <h3>Горизонтальный душ Vichy Classic Модель 5.58-4 D</h3>
                <div class="row">
                    <div class="col-md-12">
                        <table>
                            <tr>
                                <td>
                                    <a href="~/Content/img/Catalog/Unbescheiden/dush-vishi_1.jpg" data-fancybox="vichy_prestige" data-caption="Горизонтальный душ Vichy Classic Модель 5.58-4 D">
                                        <img style="margin:0;" src="~/Content/img/Catalog/Unbescheiden/dush-vishi_1.jpg" alt="">
                                    </a>
                                </td>
                                <td>
                                    <table>
                                        <tr>
                                            <td style="padding-left:5px;padding-bottom:5px;">
                                                <a href="~/Content/img/Catalog/Unbescheiden/dush-vishi_2.jpg" data-fancybox="vichy_prestige" data-caption="Горизонтальный душ Vichy Classic Модель 5.58-4 D">
                                                    <img style="width:34%;" src="~/Content/img/Catalog/Unbescheiden/dush-vishi_2.jpg" alt="">
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="padding-left: 5px;padding-bottom:5px;">
                                                <a href="~/Content/img/Catalog/Unbescheiden/dush-vishi_3.jpg" data-fancybox="vichy_prestige" data-caption="Горизонтальный душ Vichy Classic Модель 5.58-4 D">
                                                    <img style="width:34%;" src="~/Content/img/Catalog/Unbescheiden/dush-vishi_3.jpg" alt="">
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="padding-left: 5px;">
                                                <a href="~/Content/img/Catalog/Unbescheiden/dush-vishi_4.jpg" data-fancybox="vichy_prestige" data-caption="Горизонтальный душ Vichy Classic Модель 5.58-4 D">
                                                    <img style="width:34%;" src="~/Content/img/Catalog/Unbescheiden/dush-vishi_4.jpg" alt="">
                                                </a>
                                            </td>
                                        </tr>
                                    </table>                                   
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- .row-->
    <div class="row service-section">
        <div class="col-md-12">

            <!-- Nav tabs -->
            <ul class="tablist" role="tablist">
                <li role="presentation" class="active"><a href="#description" aria-controls="description" role="tab" data-toggle="tab">Описание</a></li>
                <li role="presentation"><a href="#complectation" aria-controls="complectation" role="tab" data-toggle="tab">Комплектация</a></li>

                <div style="float:right;">
                    <div style="float:left;margin-right:10px;">Цена по запросу</div>
                    <a class="btn btn-order" style="margin-top:0;" href="#">Заказать</a>
                </div>
            </ul>
        </div>
    </div>
    <div class="tab-content col-md-12">
        <div role="tabpanel" class="tab-pane active" id="description">
            Оснащение:<br />
            - Горизонтальная душевая рейка, антикоррозийное исполнение, белого цвета, с возможностью регулировки высот- 5 индивидуально регулируемых и перекрываемых душевых головок из ПВХ<br />
            - Брызгозащитный экран для лица выполнен из акрилового стекла<br />
            - Настенная опорная консоль, антикоррозийное исполнение, белого цвета<br />
            <br />
            Термостат с дополнительным шлангом:<br />
            - Термостат открытого монтажа DN 20 с отводными уголками, S-соединениями и розетками<br />
            - 1 распределитель DN 20<br />
            - 2 угловых регулировочных вентиля<br />
            - 1 обливной шланг DN 20 (длина 2,4 м)<br />
            - Все видимые части хромированы и отполированы<br />
            <br />
            Влагостойкая массажная кушетка:<br />
            - Цельнотянутая кушетка из пластика белого цвета<br />
            - Встроенные опоры для рук<br />
            - Размеры: 2250х800х770 мм<br />
            <br />
            Специальный влагостойкий матрас для лежанки:<br />
            - Мягкий матрас для влагостойкой кушетки серого цвета<br />
            - Размеры: 1685 х 680 х 15 мм<br />
            - Головная часть с вырезом для лица<br />
            <br />
            Напольная решетка:<br />
            - Металлический Т-образный профиль<br />
            - Алюминиевая рама, г-образная<br />
            - Рифленый пластик серого цвета<br />
            - Монтируется на трап периферийного/отдельностоящего душа<br />
            - Размеры: 1000 х 500 мм<br />
            <br />
            Дополнительное функциональное оснащение:<br />
            - Арматура для отпуска процедур с минеральной водой<br />
            - Арматурный настенный блок c обшивкой из акрилового стекла<br />
            - Термостат DN 20<br />
            - Поручни из ПВХ<br />
            - Арматура для подачи минеральной воды в горизонтальный душ Виши и в шланг обливного душа<br />
            - 1 обливной шланг DN 20 (длина 2,4 м)<br />
            - Шаровые вентили и трубопровод выполнены из ПВХ<br />
        </div>

        <div role="tabpanel" class="tab-pane" id="complectation">
            <strong>Основные технические параметры</strong><br />
            - Стандартная рабочая высота:	1350 мм<br />
            - Диапазон перестановки:	+ 400 мм<br />
            - Длина душевой рейки:	2000 мм<br />
        </div>
    </div>
    <!-- .row-->
</div>
<!-- .container-->