@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title">
                    <h2>Оборудование для СПА UNBESCHEIDEN BADEN BADEN</h2>
                    <ul class="breadcrumb">
                        <li><a href="~/Home/Index">Главная</a></li>
                        <li class="">Каталог</li>
                        <li class=""><a href="~/Catalog/Unbescheiden">Unbescheiden</a></li>
                        <li class="active">Камерные ванны для терапии верхних и нижних конечностей</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- .row-->
    </div>
    <!-- .container-->
</div>
<!-- .breadcrumb-area-->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="history">
                <h3>Камерные ванны для терапии верхних и нижних конечностей</h3>
                <div class="row">
                    <div class="col-md-12">
                        <table>
                            <tr>
                                <td>
                                    <a href="~/Content/img/Catalog/Unbescheiden/kamernye_vanny_1.jpg" data-fancybox="vichy_prestige" data-caption="Камерные ванны для терапии верхних и нижних конечностей">
                                        <img style="margin:0;" src="~/Content/img/Catalog/Unbescheiden/kamernye_vanny_1.jpg" alt="">
                                    </a>
                                </td>
                                <td>
                                    <table>
                                        <tr>
                                            <td style="padding-left:5px;padding-bottom:5px;">
                                                <a href="~/Content/img/Catalog/Unbescheiden/kamernye_vanny_2.jpg" data-fancybox="vichy_prestige" data-caption="Камерные ванны для терапии верхних и нижних конечностей">
                                                    <img style="width:31%;" src="~/Content/img/Catalog/Unbescheiden/kamernye_vanny_2.jpg" alt="">
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="padding-left: 5px;padding-bottom:5px;">
                                                <a href="~/Content/img/Catalog/Unbescheiden/kamernye_vanny_3.jpg" data-fancybox="vichy_prestige" data-caption="Камерные ванны для терапии верхних и нижних конечностей">
                                                    <img style="width:31%;" src="~/Content/img/Catalog/Unbescheiden/kamernye_vanny_3.jpg" alt="">
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="padding-left: 5px;">
                                                <a href="~/Content/img/Catalog/Unbescheiden/kamernye_vanny_4.jpg" data-fancybox="vichy_prestige" data-caption="Камерные ванны для терапии верхних и нижних конечностей">
                                                    <img style="width:30%;" src="~/Content/img/Catalog/Unbescheiden/kamernye_vanny_4.jpg" alt="">
                                                </a>
                                            </td>
                                        </tr>
                                    </table>                                   
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- .row-->
    <div class="row service-section">
        <div class="col-md-12">

            <!-- Nav tabs -->
            <ul class="tablist" role="tablist">
                <li role="presentation" class="active"><a href="#description" aria-controls="description" role="tab" data-toggle="tab">Описание</a></li>
                <li role="presentation"><a href="#complectation" aria-controls="complectation" role="tab" data-toggle="tab">Комплектация</a></li>

                <div style="float:right;">
                    <div style="float:left;margin-right:10px;">Цена по запросу</div>
                    <a class="btn btn-order" style="margin-top:0;" href="#">Заказать</a>
                </div>
            </ul>
        </div>
    </div>
    <div class="tab-content col-md-12">
        <div role="tabpanel" class="tab-pane active" id="description">
            Модель 0.9-4 4-камерная электрогальваническая ванна<br />
            Модель 0.9-6 4-камерная ванна для лечебных растворов («тихая вода»)<br />
            Модель 0.9-8 2-камерная струйно-контрастная ванна для ног (автоматическая)<br />
            Модель 0.9-9 4-камерная струйно-контрастная ванна (автоматическая)<br />
            Модель 0.8-3 вихревая ванна для рук<br />
            Модель 0.8-5 2-камерная вихревая ванна для ног<br />
            <br />
            <strong>Общие сведения</strong><br />
            Корпус 4-камерной ванны:<br />
            - Корпус 2-камерной ванны для ног выполнен из высоко- качественного акрилового стекла способом глубокого бесшовного вытяжения<br />
            - С тыльной стороны армирован специальным ламинатом<br />
            - Корпуса двух отдельных камер для рук выполнены из высококачественного акрилового стекла способом глубокого бесшовного вытяжения, закреплены на двух латунно-хромовых поворотных консолях, покрытых белым пластиком под давлением<br />
            - Цвет корпуса ванны белый, бледно-голубой<br />
            - Наружная обшивка - влагостойкий пластик белого цвета<br />
            Корпус камерной ванны для рук:<br />
            - Корпус ванны для рук выполнен из высококачественного акрилового стекла способом глубокого бесшовного вытяжения<br />
            - Цвет корпуса ванны белый, бледно-голубой<br />
            - Каркас выполнен из высококачественной стали<br />
            - Со всех сторон имеет обшивку из влагостойкого пластика белого цвета<br />
            Корпус 2-камерной ванны для ног:<br />
            - Выполнен из высококачественного акрилового стекла способом глубокого бесшовного вытяжения<br />
            - С тыльной стороны армирован специальным ламинатом<br />
            - Цвет корпуса ванны белый, бледно-голубой или зеленый<br />
            - Каркас выполнен из высококачественной стали<br />
            - Со всех сторон имеет обшивку из влагостойкого пластика белого цвета<br />
            Серийное оснащение 4-камерной ванны:<br />
            - 1 центральный термостат DN 15 для предварительной установки температуры наполнения ванны, со стопором/ограничителем температуры горячей воды<br />
            - 4 отдельных вентиля наполнения (по одному на каждую ванну)<br />
            - 4 сливных вентиля DN 32 с встроенными сливными и переливными обсадными трубками из пластика<br />
            - Сливные желоба ванн для рук смонтированы внутри поворотных консолей<br />
            - Встроенная душевая арматура DN 15 с душем, шлангом и держателем для смыва ванны<br />
            Серийное оснащение вихревых ванн:<br />
            - Автоматическое наполнение ванны, управляемое уровнем.<br />
            - Встроенный центральный термостат DN 15 для предварительной установки температуры наполнения ванны<br />
            - Встроенные в корпус ванны струйно-вихревые направленные дюзы<br />
            - Слив через шаровой вентиль с рычагом<br />
            - Встроенная душевая арматура DN 15 с душем, шлангом и держателем<br />
            Встроенная система для проведения камерной электрогальванотерапии<br />
            - Программирование и управление:<br />
            Встроенная панель управления с ЖК-дисплеем<br />
            Пульт управления смонтирован на поворотной консоли с рабочей высотой<br />
            Управление и выбор процедуры - в меню<br />
            Управление осуществляется одной кнопкой<br />
            Программирование электрогальванических процедур: в меню имеется 12 стандартных программ форм протекания тока. Возможно свободное программирование форм токов и создание индивидуальных программ терапии<br />
            - Индикация на дисплее:<br />
            времени терапии, напряжения, силы тока, формы протекания тока, полярности электродов, вида тока, инструкции для пользователя, возможных ошибок работы 8 различных форм токов:<br />
            Гальванический ток<br />
            Импульсные токи (пульсирующие):<br />
            Ток Фарадея, монофазный, 20 Гц<br />
            Прямоугольный монофазный ток 140 Гц, пульс/пауза 2/5 мс<br />
            Прямоугольный ток, 50 Гц с 0,5 Гц синус-пульсацией (ЧЭНС)<br />
            Прямоугольный ток, 50 Гц с 2 Гц синус-пульсацией (ЧЭНС)<br />
            Диадинамический ток (MF), 50 Гц<br />
            Постоянная гальванизация, 12 Гц<br />
            Импульсная гальванизация , 12 Гц, импульс 2 Гц.<br />
            Электроды:<br />
            8 съемных электродов из хромоникелевой (нержавеющей) стали<br />
            Возможность установки по росту пациента (сдвигая электроды вправо или влево)<br />
            Возможность работы с выносным электродом<br />
            Простота и удобство дезинфекции корпусов ванн и электродов, т.к. их можно полностью снять<br />
            Разъем для подключения дополнительного выносного электрода<br />
            - Безопасность проведения электрогальванических процедур<br />
            Автоматическое тестирование безопасных параметров работы при включении и контроль параметров во время работы<br />
            Автоматическое отключение при превышении безопасных параметров работы<br />
            Сохранение в памяти (буферизация) лечебной программы при отключении сетевого напряжения<br />
            Аварийный выключатель<br />
            Остаточная пульсация гальванического тока < 1%<br />
            Соответствие современным европейским требованиям электробезопасности<br />
            Система для проведения струйно-контрастных процедур:<br />
            - 4 специальные встроенные в корпус ванны для рук (бортики) струйные разбрызгивающие дюзы, конус разбрызгивания 85°<br />
            - 8 специальных встроенных в корпус ванны для ног (бортики) струйных разбрызгивающих дюз, конус разбрызгивания 85°<br />
            - Быстрая смена температуры - в течение 1-2 секунд<br />
            - Каждая камера оснащена брызгозащитной крышкой<br />
            - Программирование струйно-контрастных процедур<br />
            Встроенный блок с микропроцессорным управлением для программирования температуры и времени терапии, с функцией памяти<br />
            Максимальное время терапии - 99 мин<br />
            Минимальное время распыления - 10 сек<br />
            Контроль над температурой горячей воды и автоматическое отключение при превышении максимально допустимого показателя температуры<br />
            Индикация следующих параметров терапии: отдельного времени подачи горячей или холодной воды, общего времени терапии, остаточного времени терапии<br />
            Программирование вихревых процедур:<br />
            - Встроенный пульт управления с микропроцессорным управлением для программирования времени процедуры<br />
            - Индикация общего и остаточного времени терапии<br />
            - Встроенный насос из пластика мощностью 250 л/мин обеспечивает давление воды на выходе во время процедуры в 15 м водяного столба<br />
            - Защита сухого хода насоса<br />
            - Вентиль регулировки подмешивания воздуха<br />
        </div>

        <div role="tabpanel" class="tab-pane" id="complectation">
            Монтажный сантехнический комплект Аксессуары для камерной электрогальванотерапии:<br />
            Дополнительный выносной затылочный электрод № 1, Модель ZS 1<br />
            Гибкий затылочный электрод 50х40 мм<br />
            В комплекте: кабель, 2 кармашка, крепежная лента Дополнительный выносной электрод на крестцовый отдел позвоночника № 2, Модель ZS 2:<br />
            Гибкий электрод на крестцовый отдел позвоночника 90 х 120 мм<br />
            В комплекте: кабель, 2 кармашка, крепежная лента<br />
        </div>
    </div>
    <!-- .row-->
</div>
<!-- .container-->