@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title">
                    <h2>Оборудование для СПА UNBESCHEIDEN BADEN BADEN</h2>
                    <ul class="breadcrumb">
                        <li><a href="~/Home/Index">Главная</a></li>
                        <li class="">Каталог</li>
                        <li class=""><a href="~/Catalog/Unbescheiden">Unbescheiden</a></li>
                        <li class="active">Каскадные души</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- .row-->
    </div>
    <!-- .container-->
</div>
<!-- .breadcrumb-area-->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="history">
                <h3>КАСКАДНЫЕ ДУШИ (6, 9 ИЛИ 12 ФОРСУНОК)</h3>
                <div class="row">
                    <div class="col-md-12">
                        <table>
                            <tr>
                                <td>
                                    <a href="~/Content/img/Catalog/Unbescheiden/kaskadnye_dushi_1.jpg" data-fancybox="vichy_prestige" data-caption="Каскадные души">
                                        <img style="margin:0;" src="~/Content/img/Catalog/Unbescheiden/kaskadnye_dushi_1.jpg" alt="">
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- .row-->
    <div class="row service-section">
        <div class="col-md-12">
            <!-- Nav tabs -->
            <ul class="tablist" role="tablist">
                <li role="presentation" class="active"><a href="#description" aria-controls="description" role="tab" data-toggle="tab">Описание</a></li>
                <li role="presentation"><a href="#complectation" aria-controls="complectation" role="tab" data-toggle="tab">Комплектация</a></li>

                <div style="float:right;">
                    <div style="float:left;margin-right:10px;">Цена по запросу</div>
                    <a class="btn btn-order" style="margin-top:0;" href="#">Заказать</a>
                </div>
            </ul>
        </div>
    </div>
    <div class="tab-content col-md-12">
        <div role="tabpanel" class="tab-pane active" id="description">
            - Медиальное расположение распылительных дюз каскадного душа позволяет проводить процедуру, массируя все тело одновременно или включая каждый уровень/параллельную группу дюз отдельно.<br />
            - Встроенный дождевой душ может быть использован как независимая процедура.
        </div>

        <div role="tabpanel" class="tab-pane" id="complectation">
            - Термостат DN 25 открытого монтажа, прямые детали подключения, с отводным уголком и декоративными розетками.<br />
            - 1 регулирующий вентиль скрытого монтажа<br />
            - 1 дождевой душ (диаметр 120 мм), с регулировкой расхода воды<br />
            - 2 регулирующих вентиля скрытого монтажа, время действия ~60 сек, с возможностью регулировки<br />
            - 6, 9 или 12 боковых распылительных веерных дюз открытого монтажа, с розетками, с регулировкой направления струи, антиизвестковой системой, с регулировкой расхода воды, шарнирное исполнение<br />
            - Все наружные металлические детали хромированы и отполированы<br />
            <br />
            Примечание: Скрытая прокладка трубопровода выполняется по месту<br />
            <br />
            Напольная решетка для периферийных душей:<br />
            - Металлический Т-образный профиль<br />
            - Алюминиевая рама<br />
            - Рифленый пластик серого цвета<br />
            - Монтируется на трап периферийного/отдельно стоящего душа<br />
            - Размеры: 100 х 50 мм<br />
            Примечание: Все каскадные души вместо классического дождевого душа могут быть укомплектованы игольчатым душем — под заказ
        </div>
    </div>
    <!-- .row-->
</div>
<!-- .container-->