@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title">
                    <h2>Оборудование для СПА UNBESCHEIDEN BADEN BADEN</h2>
                    <ul class="breadcrumb">
                        <li><a href="~/Home/Index">Главная</a></li>
                        <li class="">Каталог</li>
                        <li class=""><a href="~/Catalog/Unbescheiden">Unbescheiden</a></li>
                        <li class="active">Комбинированные ванны объемом 600 л. модельный ряд 0.10</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- .row-->
    </div>
    <!-- .container-->
</div>
<!-- .breadcrumb-area-->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="history">
                <h3>Комбинированные ванны объемом 600 л. модельный ряд 0.10</h3>
                <div class="row">
                    <div class="col-md-12">
                        <table>
                            <tr>
                                <td>
                                    <a href="~/Content/img/Catalog/Unbescheiden/kombinirovannye-vanny-600_2.jpg" data-fancybox="vichy_prestige" data-caption="Медицинские бальнеологические ванны для процедур">
                                        <img style="margin:0;" src="~/Content/img/Catalog/Unbescheiden/kombinirovannye-vanny-600_2.jpg" alt="">
                                    </a>
                                </td>
                                <td>
                                    <table>
                                        <tr>
                                            <td style="padding-left:5px;padding-bottom:5px;">
                                                <a href="~/Content/img/Catalog/Unbescheiden/kombinirovannye-vanny-600_1.jpg" data-fancybox="vichy_prestige" data-caption="Медицинские бальнеологические ванны для процедур">
                                                    <img style="width:49.5%;" src="~/Content/img/Catalog/Unbescheiden/kombinirovannye-vanny-600_1.jpg" alt="">
                                                </a>
                                            </td>
                                        </tr>
                                    </table>                                   
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- .row-->
    <div class="row service-section">
        <div class="col-md-12">
            <!-- Nav tabs -->
            <ul class="tablist" role="tablist">
                <li role="presentation" class="active"><a href="#description" aria-controls="description" role="tab" data-toggle="tab">Описание</a></li>
                <li role="presentation"><a href="#characteristic" aria-controls="characteristic" role="tab" data-toggle="tab">Характеристики</a></li>
                <li role="presentation"><a href="#performans" aria-controls="performans" role="tab" data-toggle="tab">Особенности</a></li>
                <li role="presentation"><a href="#complectation" aria-controls="complectation" role="tab" data-toggle="tab">Комплектация</a></li>

                <div style="float:right;">
                    <div style="float:left;margin-right:10px;">Цена по запросу</div>
                    <a class="btn btn-order" style="margin-top:0;" href="#">Заказать</a>
                </div>
            </ul>
        </div>
    </div>
    <div class="tab-content col-md-12">
        <div role="tabpanel" class="tab-pane active" id="description">
            Модель 0.10-0 Установка для проведения ручного подводного душа-массажа<br />
            <br />
            Модель 0.10-1 Комбинированная установка для проведения ручного подводного душа-массажа и общих электрогальванических ванн<br />
            <br />
            Модель 0.10-2 Установка для проведения общих электрогальванических ванн<br />
            <br />
            <strong>Общие сведения</strong><br />
            <br />
            Корпус ванны/каркас:<br />
            - Корпуса ванн выполняются из высококачественного акрилового стекла способом глубокого бесшовного вытяжения (цвет: белый, бледно-голубой)<br />
            - С тыльной стороны корпуса армируются специальным ламинатом<br />
            - Устанавливаются на устойчивую к коррозии стальную опору<br />
            - Со всех сторон ванны обшиты влагостойким пластиком белого цвета<br />
            <br />
            Встроенная панель управления с ЖК-дисплеем (модели 0.10-1 и 0.10-2)<br />
            - Управление/выбор процедуры — в меню<br />
            - Выбор и управление необходимым видом терапии осуществляется одной кнопкой<br />
            - Процедура ручного подводного массажа<br />
            - Электрогальванические процедуры<br />
            <br />
            Серийное оснащение/арматура:<br />
            - Арматура наполнения DN 25 с горловиной наполнения DN 32 и термометром для измерения температуры наполнения<br />
            - Встроенная душевая арматура DN 15 со шлангом, душем и держателем.<br />
            - Встроенный слив DN 65 с заглушкой, система перелива<br />
            - 2 встроенных в продольные стенки боковых поручня для пациента<br />
            - Встроенный регулируемый подголовник с каркасом из хромоникелевой стали и сменным резиновым валиком<br />
        </div>

        <div role="tabpanel" class="tab-pane" id="characteristic">
            <strong>Основные технические параметры</strong><br />
            <br />
            - Размеры внешние:	2100 х 980 х 990 мм<br />
            - Размеры внутренние:	1800 х 800 х 600 мм<br />
            - Объем ванны:	600 л<br />
            - Электропитание:	230/400 В 50 Гц 3~, N/PE, 1,7 кВт<br />
        </div>

        <div role="tabpanel" class="tab-pane" id="performans">
            <strong>Встроенный блок ручного подводного массажа</strong><br />
            <br />
            Встроенный насос производительностью 200 л/мин, моторно-насосная часть электрически разъединена.<br />
            Защита сухого хода насоса, управляемая уровнем наполнения.<br />
            Система трубопроводов внутри установки выполнена из меди и термостойкого пластика.<br />
            Плавная регулировка массажного давления от 0 до 5,5 бар.<br />
            Встроенный вентиль регулировки массажного давления.<br />
            Встроенный вентиль подмешивания воздуха в струю воды.<br />
            Встроенный манометр для индикации массажного давления.<br />
            Устройство для промывки и дезинфекции всей насосной системы.<br />
            Принадлежности для проведения ручного подводного душа-массажа:<br />
            - 1 шланг для массажа под давлением<br />
            - 1 набор сменных массажных дюз разного диаметра (6 шт.)<br />
            <br />
            <strong>Встроенный блок электрогальванических процедур (22 стандартные программы)</strong><br />
            <br />
            Программирование электрогальванических процедур:<br />
            - 22 стандартные программы форм протекания токов<br />
            - Возможно свободное программирование форм протекания токов и создание индивидуальных программ терапии<br />
            8 различных форм токов:<br />
            - Гальванический ток;<br />
            - Импульсные токи (пульсирующие)<br />
            - ток Фарадея, монофазный, 20 Гц<br />
            - прямоугольный монофазный ток 140 Гц, пульс/пауза 2/5 мс<br />
            - прямоугольный ток, 50 Гц с 0,5 Гц синус-пульсацией (ЧЭНС)<br />
            - прямоугольный ток, 50 Гц с 2 Гц синус-пульсацией (ЧЭНС)<br />
            - диадинамический ток (MF), 50 Гц<br />
            - импульсная гальванизация, 12 Гц<br />
            - импульсная гальванизация, 12 Гц, импульс 2 Гц<br />
            Показания на ЖК-дисплее:<br />
            - времени терапии, напряжения, силы тока, формы протекания тока, полярности электродов, вида тока, инструкции для пользователя, возможных ошибок работы установки.<br />
            Безопасность проведения электрогальванических процедур:<br />
            - Автоматическое тестирование безопасных параметров работы при включении и контроль параметров во время работы<br />
            - Автоматическое отключение при превышении безопасных параметров работы<br />
            - Сохранение в памяти лечебной программы при отключении сетевого напряжения<br />
            - Аварийный выключатель<br />
            - Остаточная пульсация гальванического тока < 1%<br />
            - Соответствие современным европейским требованиям электробезопасности<br />
            Электроды:<br />
            - 8 съемных электродов из хромоникелевой (нержавеющей) стали<br />
            - Возможность установки по росту пациента<br />
            - Разъем для подключения навесного электрода для локальной терапии или электромассажной щетки<br />
            - Простота и удобство дезинфекции корпуса ванны и электродов, т.к. их можно полностью снять<br />
            Аксессуары для проведения электрогальванотерапии:<br />
            - Дополнительный навесной электрод для локальной терапии<br />
            - Массажный щеточный электрод<br />
        </div>

        <div role="tabpanel" class="tab-pane" id="complectation">
            <strong>Принадлежности, аксессуары и доп. оснащение</strong><br />
            <br />
            Монтажный сантехнический комплект DN 25<br />
            Упор для ног, регулируемый (3 уровня)<br />
            2-ступенчатая лесенка, хромоникелевая сталь<br />
            Поддерживающий ремень для пациента, 1,5 м<br />
            Специальная сменная дюза для ротационного массажа<br />
            Навесная спинка с рамой из акрила и пластиковой решеткой<br />
            Встроенная система воздушно-вихревого массажа:<br />
            - 8 встроенных в борта ванны вихревых дюз с регулировочным вентилем<br />
            - Встроенная система подогрева воды для отпуска процедуры ручного подводного массажа струей горячей воды, с термометром<br />
        </div>
    </div>
    <!-- .row-->
</div>
<!-- .container-->