@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title">
                    <h2>Оборудование для СПА UNBESCHEIDEN BADEN BADEN</h2>
                    <ul class="breadcrumb">
                        <li><a href="~/Home/Index">Главная</a></li>
                        <li class="">Каталог</li>
                        <li class=""><a href="~/Catalog/Unbescheiden">Unbescheiden</a></li>
                        <li class="active">Комбинированные ванны объемом 600 л. модельный ряд 0.20</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- .row-->
    </div>
    <!-- .container-->
</div>
<!-- .breadcrumb-area-->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="history">
                <h3>Комбинированные ванны объемом 600 л. модельный ряд 0.20</h3>
                <div class="row">
                    <div class="col-md-12">
                        <table>
                            <tr>
                                <td>
                                    <a href="~/Content/img/Catalog/Unbescheiden/kombinirovannye-vanny-600_1.jpg" data-fancybox="vichy_prestige" data-caption="Комбинированные ванны объемом 600 л. модельный ряд 0.20">
                                        <img style="margin:0;" src="~/Content/img/Catalog/Unbescheiden/kombinirovannye-vanny-600_1.jpg" alt="">
                                    </a>
                                </td>
                                <td>
                                    <table>
                                        <tr>
                                            <td style="padding-left:5px;padding-bottom:5px;">
                                                <a href="~/Content/img/Catalog/Unbescheiden/kombinirovannye-vanny-600_2.jpg" data-fancybox="vichy_prestige" data-caption="Комбинированные ванны объемом 600 л. модельный ряд 0.20">
                                                    <img style="width:32.5%;" src="~/Content/img/Catalog/Unbescheiden/kombinirovannye-vanny-600_2.jpg" alt="">
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="padding-left:5px;padding-bottom:5px;">
                                                <a href="~/Content/img/Catalog/Unbescheiden/kombinirovannye-vanny-600_3.jpg" data-fancybox="vichy_prestige" data-caption="Комбинированные ванны объемом 600 л. модельный ряд 0.20">
                                                    <img style="width:32.5%;" src="~/Content/img/Catalog/Unbescheiden/kombinirovannye-vanny-600_3.jpg" alt="">
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="padding-left:5px;">
                                                <a href="~/Content/img/Catalog/Unbescheiden/kombinirovannye-vanny-600_4.jpg" data-fancybox="vichy_prestige" data-caption="Комбинированные ванны объемом 600 л. модельный ряд 0.20">
                                                    <img style="width:32.5%;" src="~/Content/img/Catalog/Unbescheiden/kombinirovannye-vanny-600_4.jpg" alt="">
                                                </a>
                                            </td>
                                        </tr>
                                    </table>                                   
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- .row-->
    <div class="row service-section">
        <div class="col-md-12">
            <!-- Nav tabs -->
            <ul class="tablist" role="tablist">
                <li role="presentation" class="active"><a href="#description" aria-controls="description" role="tab" data-toggle="tab">Описание</a></li>
                <li role="presentation"><a href="#characteristic" aria-controls="characteristic" role="tab" data-toggle="tab">Характеристики</a></li>
                <li role="presentation"><a href="#performans" aria-controls="performans" role="tab" data-toggle="tab">Особенности</a></li>
                <li role="presentation"><a href="#complectation" aria-controls="complectation" role="tab" data-toggle="tab">Комплектация</a></li>

                <div style="float:right;">
                    <div style="float:left;margin-right:10px;">Цена по запросу</div>
                    <a class="btn btn-order" style="margin-top:0;" href="#">Заказать</a>
                </div>
            </ul>
        </div>
    </div>
    <div class="tab-content col-md-12">
        <div role="tabpanel" class="tab-pane active" id="description">
            Модель 0.20-0 Установка для проведения ручного подводного душа-массажа (с дооснащением)<br />
            <br />
            Модель 0.20-1 Комбинированная установка для проведения ручного подводного душа-массажа и полных электрогальванических ванн<br />
            <br />
            Модель 0.20-3 Установка для проведения сухих углекислых ванн<br />
            <br />
            Модель 0.20-4 Комбинированная установка для проведения ручного подводного душа-массажа и сухих углекислых ванн<br />
            <br />
            Модель 0.20-6 Комбинированная установка для проведения ручного подводного душа-массажа сухих углекислых и полных электрогальванических ванн<br />
            <br />
            Модель 0.20-8 S/LK Комбинированная установка для проведения подводного автоматического вихревого, воздушно-пузырькового и ручного подводного душа-массажа<br />
            <br />
            Модель 0.20-9 S/LK Комбинированная установка для проведения подводного автоматического вихревого, воздушно-пузырькового, ручного подводного душа-массажа и полных электро гальванических ванн<br />
            <br />
            <strong>Общие сведения</strong><br />
            <br />
            Корпус ванны/каркас:<br />
            - Корпуса ванн выполняются из высококачественного акрилового стекла способом глубокого бесшовного вытяжения (цвет: белый, бледно-голубой)<br />
            - С тыльной стороны корпуса армируются специальным ламинатом<br />
            - Устанавливаются на устойчивую к коррозии стальную опору<br />
            - Со всех сторон ванны обшиты влагостойким пластиком белого цвет<br />
            <br />
            Встроенная панель управления:<br />
            - Встроенное табло управления с ЖК-дисплеем<br />
            - Управление/выбор процедуры - в меню<br />
            - Выбор и управление необходимым видом терапии осуществляется одной кнопкой<br />
            - процедура ручного подводного массажа<br />
            - процедура сухих углекислых ванн<br />
            - электрогальванические процедуры<br />
            <br />
            Серийное оснащение/арматура:<br />
            - Арматура наполнения DN 25 с горловиной наполнения DN 32 и термометром для измерения температуры наполнения<br />
            - Встроенная душевая арматура DN 15 со шлангом, душем и держателем<br />
            - Встроенный слив DN 65 с заглушкой, система перелива<br />
            - 2 встроенных в продольные стенки боковых поручня для пациента<br />
            - Встроенный регулируемый подголовник с каркасом из хромоникелевой стали и сменным резиновым валиком<br />
        </div>

        <div role="tabpanel" class="tab-pane" id="characteristic">
            <strong>Основные технические параметры</strong><br />
            <br />
            - Размеры внешние:	2320 х 980 х 850 мм<br />
            - Размеры внутренние:	1800 х 800 х 600 мм<br />
            - Объем ванны:	600 л<br />
            - Электропитание:	230/400 В, 50 Гц, 3~<br />
        </div>

        <div role="tabpanel" class="tab-pane" id="performans">
            <strong>Встроенный блок ручного подводного массажа</strong><br />
            <br />
            Встроенный насос производительностью 200 л/мин, моторно-насосная часть электрически разъединена<br />
            Защита сухого хода насоса, управляемая уровнем наполнения<br />
            Система трубопроводов внутри установки выполнена из меди и термостойкого пластика<br />
            Плавная регулировка массажного давления от 0 до 5,5 бар<br />
            Встроенный вентиль регулировки массажного давления<br />
            Встроенный вентиль подмешивания воздуха в струю воды<br />
            Встроенный манометр для индикации массажного давления<br />
            Устройство для промывки и дезинфекции всей насосной системы<br />      
            Принадлежности для проведения ручного подводного душа-массажа:<br />
            - 1 шланг для массажа под давлением<br />
            - 1 набор сменных массажных дюз разного диаметра (6 шт.)<br />
            <br />
            <strong>Встроенный блок проведения СО2 - сухих процедур</strong><br />
            <br />
            Микропроцессорное управление процедурой на пленочной панели по следующей схеме: предварительный нагрев ванны паром - подача СО2 - процедура - автоматический отсос СО2 - окончание процедуры<br />
            Предварительная установка температуры от 270 до 470°С.<br />
            Предварительная установка длительности процедуры - от 0 до 30 мин.<br />
            Встроенный парогенератор для выработки и подачи влажного пара<br />
            Паровой барабан из хромоникелевой стали с автоматической подпиткой воды<br />
            Регулировка температуры через термостат<br />
            Встроенный СО2 -редуктор малого давления с манометром<br />
            Встроенный деминерализатор для смягчения воды перед подачей в парогенератор.<br />
            Принадлежности для проведения СО2 - сухих процедур:<br />
            - Специальная лежанка для пациента (металлопрофиль с пластиком)<br />
            - Закрывающий процедурный фартук<br />
            - Вентилятор отсоса СО2 для настенного монтажа<br />
            - Монтажный комплект для СО2<br />
            - Химическое средство для наполнения деминерализатора<br />
            <br />
            <strong>Встроенный блок подводного автоматического массажа (24 дюзы)</strong><br />
            <br />
            Автоматический массаж проводится по 9 анатомическим зонам в любой последовательности из 24 струйных дюз<br />
            Плавный переход массажа по зонам<br />
            Индивидуальная регулировка массажного давления<br />
            Индивидуальный выбор анатомических зон<br />
            Индивидуально программируемое время отпуска процедуры<br />
            <br />
            <strong>Встроенная система проведения автоматического воздушно-пузырькового массажа «Жемчужное дно»</strong><br />
            <br />
            24 воздушные дюзы диаметром 2 мм, симметрично встроенные (2х12) в дно ванны<br />
            Снабжение дюз воздухом осуществляется через два пластиковых канала, соединенных с воздушным компрессором<br />
            Воздушный компрессор (80 л/мин) встроен под корпус ванны и закреплен на стальном каркасе (вкл. Систему промывки)<br />
            <br />
            <strong>Встроенный блок электрогальванических процедур</strong><br />
            <br />
            Программирование электрогальванических процедур:<br />
            - 22 стандартные программы форм протекания токов<br />
            - Возможно свободное программирование форм протекания токов и создание индивидуальных программ терапии<br />
            8 различных форм токов:<br />
            - Гальванический ток;<br />
            - Импульсные токи (пульсирующие)<br />
            - ток Фарадея, монофазный, 20 Гц<br />
            - прямоугольный монофазный ток 140 Гц, пульс/пауза 2/5 мс<br />
            - прямоугольный ток, 50 Гц с 0,5 Гц синус-пульсацией (ЧЭНС)<br />
            - прямоугольный ток, 50 Гц с 2 Гц синус-пульсацией (ЧЭНС)<br />
            - диадинамический ток (MF), 50 Гц<br />
            - импульсная гальванизация, 12 Гц<br />
            - импульсная гальванизация, 12 Гц, импульс 2 Гц<br />
            Показания на ЖК-дисплее:<br />
            - времени терапии, напряжения, силы тока, формы протекания тока, полярности электродов, вида тока, инструкции для пользователя, возможных ошибок работы установки.<br />
            Безопасность проведения электрогальванических процедур:<br />
            - Автоматическое тестирование безопасных параметров работы при включении и контроль параметров во время работы<br />
            - Автоматическое отключение при превышении безопасных параметров работы<br />
            - Сохранение в памяти лечебной программы при отключении сетевого напряжения<br />
            - Аварийный выключатель<br />
            - Остаточная пульсация гальванического тока < 1%<br />
            - Соответствие современным европейским требованиям электробезопасности<br />
            Электроды:<br />
            - 8 съемных электродов из хромоникелевой (нержавеющей) стали<br />
            - Возможность установки по росту пациента<br />
            - Разъем для подключения навесного электрода для локальной терапии или электромассажной щетки<br />
            - Простота и удобство дезинфекции корпуса ванны и электродов, т.к. их можно полностью снять<br />
            Аксессуары для проведения электрогальванотерапии:<br />
            - Дополнительный навесной электрод для локальной терапии<br />
            - Массажный щеточный электрод<br />
        </div>

        <div role="tabpanel" class="tab-pane" id="complectation">
            <strong>Принадлежности и аксессуары</strong><br />
            <br />
            Монтажный сантехнический комплект DN 2<br />
            Упор для ног, регулируемый (3 уровня)<br />
            2-ступенчатая лесенка, хромоникелевая сталь<br />
            Поддерживающий ремень для пациента, 1,5 м<br />
            Специальная сменная дюза для ротационного массажа<br />
            Навесная спинка с рамой из акрила и пластиковой решеткой<br />
            <br />
            <strong>Дополнительное функциональное оснащение</strong><br />
            <br />
            - Встроенная система автоматического воздушно-пузырькового массажа «Жемчужное дно»:<br />
            <br />
            24 воздушные дюзы диаметром 2 мм, симметрично (2х12) встроенные в дно ванны (вкл. систему промывки)<br />
            Воздушный компрессор (80 л/мин) встроен под корпус ванны<br />
            - Встроенная система автоматического подводного вертикального струйного массажа:<br />
            <br />
            10 встроенных в дно ванны струйных дюз (с вентилем регулировки интенсивности)<br />
            - Встроенная система воздушно-вихревого массажа:<br />
            <br />
            8 встроенных в борта ванны вихревых дюз с регулировочным вентилем<br />
            - Встроенная система подогрева воды для отпуска процедуры ручного подводного массажа струей горячей воды, с термометром<br />
            - Боковая дверь - шириной 50 см<br />
            - Арматура автоматического наполнения ванны через термостат<br />
            <br />
            Арматура наполнения ванны через термостат<br />
        </div>
    </div>
    <!-- .row-->
</div>
<!-- .container-->