@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title">
                    <h2>Оборудование для СПА UNBESCHEIDEN BADEN BADEN</h2>
                    <ul class="breadcrumb">
                        <li><a href="~/Home/Index">Главная</a></li>
                        <li class="">Каталог</li>
                        <li class=""><a href="~/Catalog/Unbescheiden">Unbescheiden</a></li>
                        <li class="active">Комплексы кишечных и гинекологических орошений</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- .row-->
    </div>
    <!-- .container-->
</div>
<!-- .breadcrumb-area-->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="history">
                <h3>Комплексы кишечных и гинекологических орошений</h3>
                <div class="row">
                    <div class="col-md-12">
                        <table>
                            <tr>
                                <td>
                                    <a href="~/Content/img/Catalog/Unbescheiden/kompleksy-kishechnykh_1.jpg" data-fancybox="vichy_prestige" data-caption="Комплексы кишечных и гинекологических орошений">
                                        <img style="margin:0;" src="~/Content/img/Catalog/Unbescheiden/kompleksy-kishechnykh_1.jpg" alt="">
                                    </a>
                                </td>
                                <td>
                                    <table>
                                        <tr>
                                            <td style="padding-left:5px;padding-bottom:5px;">
                                                <a href="~/Content/img/Catalog/Unbescheiden/kompleksy-kishechnykh_2.jpg" data-fancybox="vichy_prestige" data-caption="Комплексы кишечных и гинекологических орошений">
                                                    <img style="width:46.5%;" src="~/Content/img/Catalog/Unbescheiden/kompleksy-kishechnykh_2.jpg" alt="">
                                                </a>
                                            </td>
                                        </tr>
                                    </table>                                   
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- .row-->
    <div class="row service-section">
        <div class="col-md-12">
            <!-- Nav tabs -->
            <ul class="tablist" role="tablist">
                <li role="presentation" class="active"><a href="#description" aria-controls="description" role="tab" data-toggle="tab">Описание</a></li>
                <li role="presentation"><a href="#characteristic" aria-controls="characteristic" role="tab" data-toggle="tab">Характеристики</a></li>
                <li role="presentation"><a href="#performans" aria-controls="performans" role="tab" data-toggle="tab">Особенности</a></li>
                <li role="presentation"><a href="#complectation" aria-controls="complectation" role="tab" data-toggle="tab">Комплектация</a></li>

                <div style="float:right;">
                    <div style="float:left;margin-right:10px;">Цена по запросу</div>
                    <a class="btn btn-order" style="margin-top:0;" href="#">Заказать</a>
                </div>
            </ul>
        </div>
    </div>
    <div class="tab-content col-md-12">
        <div role="tabpanel" class="tab-pane active" id="description">
            <strong>Модель 1.6-1</strong><br />
            Комплекс для кишечного орошения<br />
            <br />
            <strong>Модель 1.6-5</strong><br />
            Комплекс для гинекологического орошения<br />
            <br />
            <strong>Модель 1.6-1/5</strong><br />
            Комбинированный комплекс для кишечных и гинекологических орошений<br />
            <br />
            <strong>Модель 2.9-4</strong><br />
            Местная сидячая ванна с подъемником, с восходящем душем<br />
            <br />
            <strong>Общие сведения</strong><br />
            <br />
            Корпус ванны/каркас:<br />
            - Корпус ванны выполнен из высококачественного акрилового стекла способом глубокого бесшовного вытяжения (цвет: белый, бледно-голубой)<br />
            - С тыльной стороны армирован специальным ламинатом<br />
            - Каркас выполнен из хромоникелевой стали<br />
            - Со всех сторон имеет обшивку из влагостойкого пластика белого цвета<br />
            <br />

        </div>

        <div role="tabpanel" class="tab-pane" id="characteristic">
            <strong>Основные технические параметры</strong><br />
            Размеры внешние (ДхШхВ):	2000 х 825 х 745 мм<br />
            Объем ванны:	250 л<br />
            <br />
            <strong>Размеры внутренние</strong><br />
            Длина верх/низ:	1635/1250 мм
            Ширина верх голова/нижн.часть:	625/625 мм<br />
            Ширина низ голова/нижн.часть:	420/420 мм<br />
            Глубина голов./ножн.часть:	480/460 мм<br />
        </div>

        <div role="tabpanel" class="tab-pane" id="performans">
            <strong>Установка для орошения:</strong><br />
            - Оросительный бачок с указанием емкости, полезный объем - 10 л<br />
            - Вертикальная консоль для оросительного бачка из хромоникелевой стали, монтируется в ножной части ванны<br />
            - Диапазон установки высоты оросительного бачка: 790-1890 мм<br />
            - Плавная установка высоты бачка с помощью роликового подъемника<br />
            - Шланг для соединения оросительного бачка со штепсельным соединением<br />
            - Индивидуально устанавливаемый дугообразный держатель для процедурного шланга<br />
            - Устройство наполнения для кишечного орошения с регулирующимся краном и соединительной насадкой шланга<br />
            - Термостат DN 15 со встроенным запорным и регулировочным вентилем для наполнения оросительного бачка<br />
            - Подключение наполнения с соединительной насадкой шланга, шланги для наполнения и слива<br />
            - Отвод использованной воды в слив ванны через вставляемый в стояк сливной вентиль с предохранительным и шаровым вентилем (для установки кишечного орошения)<br />
            <br />
            <strong>Специальная процедурная лежанка:</strong><br />
            - Процедурная лежанка устанавливается на ванну<br />
            - Каркас лежанки выполнен из хромоникелевой стали<br />
            - Поверхность лежака пластиковая, съемная<br />
            <br />
            <strong>Набор для переоснащения для гинекологического орошения:</strong><br />
            - Используется в комбинированных комплексах (модель 1.6-1/5)<br />
        </div>

        <div role="tabpanel" class="tab-pane" id="complectation">
            <strong>Оснащение</strong><br />
            - Встроенная арматура наполнения DN 20 с горловиной наполнения DN 25<br />
            - Встроенная душевая арматура DN 15 с душевой лейкой, шлангом и держателем<br />
            - Встроенный сливной вентиль DN 65 с шаром-заглушкой<br />
            - Встроенная лампа УФ-дезинфекции воды:<br />
            &nbsp;&nbsp;&nbsp;наполнения оросительного бачка с контролем горения лампы<br />
            &nbsp;&nbsp;&nbsp;предварительная дезинфекция воды для процедур орошения<br />
            <br />
            <strong>Функциональные характеристики</strong><br />
            <br />
            Установка для орошения:<br />
            - Оросительный бачок с указанием емкости, полезный объем - 10 л<br />
            - Вертикальная консоль для оросительного бачка из хромоникелевой стали, монтируется в ножной части ванны<br />
            - Диапазон установки высоты оросительного бачка: 790-1890 мм<br />
            - Плавная установка высоты бачка с помощью роликового подъемника<br />
            - Шланг для соединения оросительного бачка со штепсельным соединением<br />
            - Индивидуально устанавливаемый дугообразный держатель для процедурного шланга<br />
            - Устройство наполнения для кишечного орошения с регулирующимся краном и соединительной насадкой шланга<br />
            - Термостат DN 15 со встроенным запорным и регулировочным вентилем для наполнения оросительного бачка<br />
            - Подключение наполнения с соединительной насадкой шланга, шланги для наполнения и слива<br />
            - Отвод использованной воды в слив ванны через вставляемый в стояк сливной вентиль с предохранительным и шаровым вентилем (для установки кишечного орошения)<br />
            <br />
            Специальная процедурная лежанка:<br />
            - Процедурная лежанка устанавливается на ванну<br />
            - Каркас лежанки выполнен из хромоникелевой стали<br />
            - Поверхность лежака пластиковая, съемная<br />
            <br />
            Набор для переоснащения для гинекологического орошения:<br />
            - Используется в комбинированных комплексах (модель 1.6-1/5)<br />
            <br />
            <strong>Принадлежности и аксессуары</strong><br />
            <br />
            - Монтажный сантехнический комплект<br />
            - 1-ступенчатая лесенка, хромоникелевая сталь<br />
            - Набор катетеров (10 шт.) для кишечного или гинекологического орошения<br />
            <br />
            <strong>Дополнительное функциональное оснащение, оснащение рабочего места медперсонала</strong>
            <br />
            Комбинация рабочего стола со встроенной раковиной (длина 180 или 200 см):<br />
            - Раковина встроена в столешницу рабочего стола<br />
            - 3-дверный встроенный нижний шкаф<br />
            - Обшивка и раковина выполнены из хромоникелевой стали<br />
            - Слив, перелив и сифон из пластика<br />
            - Однорычажный смеситель DN 15<br />
            - 2 угловых вентиля DN 15<br />
            <br />
            Навесной шкаф:<br />
            - Навесной шкаф выполнен из листовой стали, цвет светло-серый, покрыт лаком<br />
            - Переставляемые полки<br />
            - Раздвижные двери выполнены из лираль-стекла, с замком<br />
            - Размеры: 900 х 200 х 480 м<br />
        </div>
    </div>
    <!-- .row-->
</div>
<!-- .container-->