@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title">
                    <h2>Оборудование для СПА UNBESCHEIDEN BADEN BADEN</h2>
                    <ul class="breadcrumb">
                        <li><a href="~/Home/Index">Главная</a></li>
                        <li class="">Каталог</li>
                        <li class=""><a href="~/Catalog/Unbescheiden">Unbescheiden</a></li>
                        <li class="active">Комплексы подводного горизонтального вытяжения позвоночника</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- .row-->
    </div>
    <!-- .container-->
</div>
<!-- .breadcrumb-area-->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="history">
                <h3>Комплексы подводного горизонтального вытяжения позвоночника</h3>
                <div class="row">
                    <div class="col-md-12">
                        <table>
                            <tr>
                                <td>
                                    <a href="~/Content/img/Catalog/Unbescheiden/kompleksy-podvodnogo_1.jpg" data-fancybox="vichy_prestige" data-caption="Комплексы подводного горизонтального вытяжения позвоночника">
                                        <img style="margin:0;" src="~/Content/img/Catalog/Unbescheiden/kompleksy-podvodnogo_1.jpg" alt="">
                                    </a>
                                </td>
                                <td>
                                    <table>
                                        <tr>
                                            <td style="padding-left:5px;padding-bottom:5px;">
                                                <a href="~/Content/img/Catalog/Unbescheiden/kompleksy-podvodnogo_2.jpg" data-fancybox="vichy_prestige" data-caption="Комплексы подводного горизонтального вытяжения позвоночника">
                                                    <img style="width:50%;" src="~/Content/img/Catalog/Unbescheiden/kompleksy-podvodnogo_2.jpg" alt="">
                                                </a>
                                            </td>
                                        </tr>
                                    </table>                                   
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- .row-->
    <div class="row service-section">
        <div class="col-md-12">
            <!-- Nav tabs -->
            <ul class="tablist" role="tablist">
                <li role="presentation" class="active"><a href="#description" aria-controls="description" role="tab" data-toggle="tab">Описание</a></li>
                <li role="presentation"><a href="#complectation" aria-controls="complectation" role="tab" data-toggle="tab">Характеристики</a></li>
                <li role="presentation"><a href="#performans" aria-controls="performans" role="tab" data-toggle="tab">Особенности</a></li>

                <div style="float:right;">
                    <div style="float:left;margin-right:10px;">Цена по запросу</div>
                    <a class="btn btn-order" style="margin-top:0;" href="#">Заказать</a>
                </div>
            </ul>
        </div>
    </div>
    <div class="tab-content col-md-12">
        <div role="tabpanel" class="tab-pane active" id="description">
            Модель 1.5-2<br />
            Специальная медицинская ванна большого объема<br />
            <br />
            Модель 0.20/ …2000<br />
            Ванны для ручного подводного душа-массажа и автоматического воздушно-пузырькового массажа<br />
            <br />
            Модель 0.20-8 S/LK<br />
            Комбинированная установка для проведения подводного автоматического вихревого, воздушно-пузырькового и ручного подводного душа-массажа<br />
            <br />
            Модель 0.20-9 S/LK<br />
            Комбинированная установка для проведения подводного автоматического вихревого, воздушно-пузырькового, ручного подводного душа-массажа и полных электро- гальванических ванн<br />
        </div>

        <div role="tabpanel" class="tab-pane" id="complectation">
            <strong>Основные технические параметры</strong><br />
            - Размеры внешние:	2470 х 1030 х 880 мм<br />
            - Размеры внутренние:	2000 х 900 х 600 мм<br />
            - Объем ванны:	800 л<br />
            - Электропитание:	230/400 В, 50 Гц, 3~, N/PE, 1,8 кВт<br />
        </div>

        <div role="tabpanel" class="tab-pane" id="performans">
            Устройство подводного горизонтального вытяжения позвоночника (хромоникелевая сталь)<br />
            Подъемное устройство, стационарное:<br />
            - Подъемное устройство с масляно-гидравлическим приводом.<br />
            - Однопоточная гидравлическая помпа<br />
            - Встроенная арматура управления с дополнительными световыми командами — напоминаниями<br />
            - Антикоррозийный приемник масла<br />
            - Защитный пластиковый кожух привода (цвет: белый)<br />
            - Трансформатор для подъемного устройства<br />
            - Настенный защитный кожух с классом защиты IP X5<br />
            - Встроенный выпрямитель-трансформатор<br />
            - Подъемный цилиндр<br />
            - Стержень подъемника отшлифован и хромирован<br />
            - Подъемные вилы из хромоникелевой стал<br />
            - Концевые датчики для подъема и опускания<br />
            - Монтажно-фундаментная рама для напольного крепления<br />
            <br />
            Трансформатор для подъемного устройства<br />
            Пластиковая кушетка для пациента с каркасом из хромоникелевой стали:<br />
            - Головная секция: +/-<br />
            - Специальные разъемы для крепления на транспортной станине<br />
            - Используется для транспортировки пациента после процедуры<br />
            <br />
            Транспортная станина для пластиковой кушетки для пациента<br />
            Встроенный блок ручного подводного массажа:<br />
            - Встроенный насос производительностью 200 л/мин, моторно-насосная часть электрически разъединена.<br />
            - Защита сухого хода насоса, управляемая уровнем наполнения.<br />
            - Система трубопроводов внутри установки выполнена из меди и термостойкого пластика.<br />
            - Плавная регулировка массажного давления от 0 до 5,5 бар.<br />
            - Встроенный вентиль регулировки массажного давления.<br />
            - Встроенный вентиль подмешивания воздуха в струю воды<br />
            - Встроенный манометр для индикации массажного давления.<br />
            - Устройство для промывки и дезинфекции всей насосной системы.<br />
            <br />
            Встроенная система проведения автоматического воздушно-пузырькового массажа "Жемчужное дно":<br />
            - 24 воздушные дюзы диаметром 2 мм симметрично встроенные (2х12) в дно ванны.<br />
            - Снабжение дюз воздухом осуществляется через два пластиковых канала, соединенных с воздушным компрессором.<br />
            - Воздушный компрессор (80 л/мин) встроен под корпус ванны и закреплен на стальном каркасе (вкл. систему промывки).<br />
            <br />
            Встроенный блок подводного автоматического массажа (24 дюзы):<br />
            - Автоматический массаж проводится по 9 анатомическим зонам в любой последовательности из 24 струйных дюз.<br />
            - Плавный переход массажа по зонам.<br />
            - Индивидуальная регулировка массажного давления.<br />
            - Индивидуальный выбор анатомических зон.<br />
            - Индивидуально программируемое время отпуска процедуры.<br />
            <br />
            Встроенный блок электрогальванических процедур<br />
            Программирование электрогальванических процедур:<br />
            - 22 стандартные программы форм протекания токов<br />
            - Возможно свободное программирование форм протекания токов и создание индивидуальных программ терапии<br />
        </div>
    </div>
    <!-- .row-->
</div>
<!-- .container-->