@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title">
                    <h2>Оборудование для СПА UNBESCHEIDEN BADEN BADEN</h2>
                    <ul class="breadcrumb">
                        <li><a href="~/Home/Index">Главная</a></li>
                        <li class="">Каталог</li>
                        <li class=""><a href="~/Catalog/Unbescheiden">Unbescheiden</a></li>
                        <li class="active">Местная сидячая ванна</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- .row-->
    </div>
    <!-- .container-->
</div>
<!-- .breadcrumb-area-->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="history">
                <h3>Местная сидячая ванна с подъемником и восходящем душем МОДЕЛЬ 2.9-4</h3>
                <div class="row">
                    <div class="col-md-12">
                        <table>
                            <tr>
                                <td>
                                    <a href="~/Content/img/Catalog/Unbescheiden/mestnaya-sidyachaya-vanna_1.jpg" data-fancybox="vichy_prestige" data-caption="Местная сидячая ванна с подъемником и восходящем душем, модель 2.9-4">
                                        <img style="margin:0;" src="~/Content/img/Catalog/Unbescheiden/mestnaya-sidyachaya-vanna_1.jpg" alt="">
                                    </a>
                                </td>
                                <td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- .row-->
    <div class="row service-section">
        <div class="col-md-12">
            <!-- Nav tabs -->
            <ul class="tablist" role="tablist">
                <li role="presentation" class="active"><a href="#description" aria-controls="description" role="tab" data-toggle="tab">Описание</a></li>
                <li role="presentation"><a href="#characteristic" aria-controls="characteristic" role="tab" data-toggle="tab">Характеристики</a></li>

                <div style="float:right;">
                    <div style="float:left;margin-right:10px;">Цена по запросу</div>
                    <a class="btn btn-order" style="margin-top:0;" href="#">Заказать</a>
                </div>
            </ul>
        </div>
    </div>
    <div class="tab-content col-md-12">
        <div role="tabpanel" class="tab-pane active" id="description">
            Корпус ванны/каркас<br />
            - Корпус ванны выполнен из высококачественного акрилового стекла способом глубокого бесшовного вытяжения (цвет: белый, бледно-голубой)<br />
            - С тыльной стороны армирован специальным ламинатом<br />
            - Встроенная арматура слива DN 32 с выведенной наружу поворотной рукояткой<br />
            - 4 регулируемые по высоте ножки из хромоникелевой стали с пластиковыми колпачками<br />
            - Задние ножки оснащены специальными розетками для крепления ванны к полу<br />
            <br />
            Термостат из хромоникелевой стали (открытый монтаж):<br />
            - Смешивающий вентиль термостата DN 15 с соединительной дугой (S-соединение) и розетками<br />
            - 1 угловой вентиль DN 15<br />
            - Шланг наполнения DN 15 с оплеткой,с накидной гайкой DN 20<br />
            <br />
            Гидравлический подъемник для пациента:<br />
            - Стационарное подъемное устройство с рамой основании из стальной трубы с белым покрытием, с двумя прифланцованными гидравлическими подъемными цилиндрами<br />
            - Рама сиденья выполнена из полированной хромоникелевой стали с двумя вмонтированными самозакрывающимися вентилями для подъема и опускания<br />
            - Сиденье со спинкой съемное, выполнено из влагостойкого пластика белого цвета<br />
            - В сиденьи - отверстие для восходящего душа<br />
            - Угловой вентиль - с аэратором и соединительным шлангом для подсоединения к общей системе холодного водоснабжения<br />
            <br />
            Нижний восходящий душ UD:<br />
            - 1 кольцевая душевая головка с адаптером и вакуум-присосом<br />
            - 1 угловой вентиль DN 15 с розеткой и штекерным соединением<br />
            - 1 соединительный шланг длиной 1,5 м<br />
            - Штекерное соединение для разрыва между угловым вентилем и шлангом<br />
        </div>

        <div role="tabpanel" class="tab-pane" id="characteristic">
            <strong>Технические данные подъемника</strong><br />
            Размеры (Ш х Г):	1050 х 800 мм<br />
            Диапазон перестановки сиденья:	280-520 мм<br />
            Минимальное давление воды:	3 атм.<br />
            Расход воды на 1 подъем:	1,8 л<br />
            Канализационный слив:	разрыв струи или муфта DN 40 <br />
            <br />
            <strong>Основные технические параметры</strong><br />
            Выступ:	900 мм<br />
            Ширина:	760 мм<br />
            Высота спереди:	400 мм<br />
            Высота сзади:	560 мм<br />
            Глубина внутри:	180 мм<br />
        </div>
    </div>
    <!-- .row-->
</div>
<!-- .container-->