@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title">
                    <h2>Оборудование для СПА UNBESCHEIDEN BADEN BADEN</h2>
                    <ul class="breadcrumb">
                        <li><a href="~/Home/Index">Главная</a></li>
                        <li class="">Каталог</li>
                        <li class=""><a href="~/Catalog/Unbescheiden">Unbescheiden</a></li>
                        <li class="active">Циркулярный душ</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- .row-->
    </div>
    <!-- .container-->
</div>
<!-- .breadcrumb-area-->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="history">
                <h3>Циркулярный душ Модель 5.56-9 S</h3>
                <div class="row">
                    <div class="col-md-12">
                        <table>
                            <tr>
                                <td>
                                    <a href="~/Content/img/Catalog/Unbescheiden/tsirkulyarnyy_dush_1.jpg" data-fancybox="vichy_prestige" data-caption="Циркулярный душ Модель 5.56-9 S">
                                        <img style="margin:0;" src="~/Content/img/Catalog/Unbescheiden/tsirkulyarnyy_dush_1.jpg" alt="">
                                    </a>
                                </td>
                                <td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- .row-->
    <div class="row service-section">
        <div class="col-md-12">
            <!-- Nav tabs -->
            <ul class="tablist" role="tablist">
                <li role="presentation" class="active"><a href="#description" aria-controls="description" role="tab" data-toggle="tab">Описание</a></li>
                <li role="presentation"><a href="#characteristic" aria-controls="characteristic" role="tab" data-toggle="tab">Характеристики</a></li>
                <li role="presentation"><a href="#complectation" aria-controls="complectation" role="tab" data-toggle="tab">Комплектация</a></li>

                <div style="float:right;">
                    <div style="float:left;margin-right:10px;">Цена по запросу</div>
                    <a class="btn btn-order" style="margin-top:0;" href="#">Заказать</a>
                </div>
            </ul>
        </div>
    </div>
    <div class="tab-content col-md-12">
        <div role="tabpanel" class="tab-pane active" id="description">
            <strong>Профессиональный медицинский циркулярный душ 160 дюз Ш 1,5 мм+ встроенный дождевой душ</strong>
            <br />
            <br />
            Общие сведения и серийное оснащение<br />
            - 3 опорные колонны с напольным фланцевым креплением выполнены из полированной хромоникелевой стали<br />
            - 4 горизонтальных кольца душа DN 25 со сверленными дюзами диаметром 1,5 мм (в каждом кольце по 40 сверленных дюз)<br />
            - Горизонтальные кольца душа выполнены из полированной хромоникелевой стали<br />
            - Уровни расположения колец душа: 690 / 940 / 1190 / 1440 мм от уровня пола<br />
            - Проем для входа шириной 600 мм<br />
            - Проведение отдельной и сочетанной терапии циркулярного и дождевого душей<br />
            - 1 встроенный дождевой душ диаметром 120 мм, расположен по центру<br />
            - 1 встроенный запорно-регулирующий вентиль DN 25 для дождевого душа<br />
            - 1 встроенный запорно-регулирующий вентиль DN 25 для циркулярного душа<br />
            - 1 соединительный шланг DN 20, с оплеткой, с накидной гайкой DN 25<br />
            <br />
            Термостат:<br />
            - Термостат открытого монтажа DN 25/32 с отводными уголками, S-соединениями и розетками, с 2-мя вентилями, стопором, термометром<br />
            - Все видимые части хромированы и отполированы<br />
        </div>

        <div role="tabpanel" class="tab-pane" id="characteristic">
            <strong>Основные технические параметры</strong><br />
            - Общая высота душа:	2350 мм<br />
            - Высота дождевого душа:	2150 мм<br />
            - Диаметр колец:	920 мм<br />
        </div>

        <div role="tabpanel" class="tab-pane" id="complectation">
            <strong>Принадлежности и аксессуары</strong><br />
            <br />
            Напольная решетка:<br />
            - металлический Т-образный профиль<br />
            - алюминиевая рама, г-образная<br />
            - рифленый пластик серого цвета<br />
            - монтируется на трап периферийного/отдельно стоящего душа<br />
            - Размеры: 1000 х 500 мм<br />
            - Размеры: 1000 х 500 мм<br />
            <br />
            Дополнительное функциональное оснащение:<br />
            - Арматура для отпуска процедур с натуральной минеральной водой<br />
            - Арматурный настенный блок<br />
            - Встроенные шаровые вентили DN 20 из ПВХ<br />
            - Встроенный термометр индикации температуры смешанной воды на выходе<br />
            - Трубопровод в арматурном блоке выполнен из устойчивого к агрессивной среде ПВХ<br />
        </div>
    </div>
    <!-- .row-->
</div>
<!-- .container-->