@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title">
                    <h2>Оборудование для СПА UNBESCHEIDEN BADEN BADEN</h2>
                    <ul class="breadcrumb">
                        <li><a href="~/Home/Index">Главная</a></li>
                        <li class="">Каталог</li>
                        <li class=""><a href="~/Catalog/Unbescheiden">Unbescheiden</a></li>
                        <li class="active">Медицинская гидромассажная ванна Каракалла</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- .row-->
    </div>
    <!-- .container-->
</div>
<!-- .breadcrumb-area-->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="history">
                <h3>Медицинская гидромассажная ванна Каракалла</h3>
                <div class="row">
                    <div class="col-md-12">
                        <table>
                            <tr>
                                <td>
                                    <a href="~/Content/img/Catalog/Unbescheiden/vanna-karakalla_1.jpg" data-fancybox="vichy_prestige" data-caption="Медицинская гидромассажная ванна Каракалла">
                                        <img style="margin:0;" src="~/Content/img/Catalog/Unbescheiden/vanna-karakalla_1.jpg" alt="">
                                    </a>
                                </td>
                                <td>                                
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- .row-->
    <div class="row service-section">
        <div class="col-md-12">
            <!-- Nav tabs -->
            <ul class="tablist" role="tablist">
                <li role="presentation" class="active"><a href="#description" aria-controls="description" role="tab" data-toggle="tab">Описание</a></li>
                <li role="presentation"><a href="#characteristic" aria-controls="characteristic" role="tab" data-toggle="tab">Характеристики</a></li>
                <li role="presentation"><a href="#complectation" aria-controls="complectation" role="tab" data-toggle="tab">Комплектация</a></li>

                <div style="float:right;">
                    <div style="float:left;margin-right:10px;">Цена по запросу</div>
                    <a class="btn btn-order" style="margin-top:0;" href="#">Заказать</a>
                </div>
            </ul>
        </div>
    </div>
    <div class="tab-content col-md-12">
        <div role="tabpanel" class="tab-pane active" id="description">
            Проведение автоматического программируемого игольчатого струйного общего и зонального массажа, мягкого воздушно-пузырькового (жемчужного) массажа, ротационного и вакуумного массажа живота (опция), массажа воротниковой зоны (опция), ручного подводного массажа (опция), сочетанной хромотерапии (опция), дизайн "Avantgarde" (опция)<br />
            <br />
            20 массажных зон<br />
            <br />
            Автоматический индивидуально программируемый струйный массаж:<br />
            - Массаж проводится по 20 анатомическим зонам через 260 дюзы,<br />
            - 10 встроенных программ,<br />
            - 10 свободных ячеек для создания и сохранения индивидуальных программ терапии,<br />
            - Возможность проведения массажа с повышающимся массажным давлением,<br />
            - Плавный переход массажа по зонам<br />
            - Индивидуальная регулировка массажного давления,<br />
            - Индивидуальная установка зон массажа, последовательности.<br />
            - Процедуры автоматического массажа можно комбинировать с растворимыми в воде лечебными добавками (не пенящимися)<br />
            - Уровень шума при проведении массажа не превышает 73 dB(A)<br />
            - Индивидуально программируемое время терапии<br />
            <br />
            Воздушно-пузырьковый массаж «Жемчужное дно», 50 независимых воздушных дюз Ø 2 мм, встроенных в дно ванны<br />
            - Воздушно-пузырьковый (жемчужный) массаж можно проводить как независимую процедуру или комбинировать с другим видом массажа<br />
            - Возможно проведение ароматерапии<br />
        </div>

        <div role="tabpanel" class="tab-pane" id="characteristic">
            Технические данные:<br />
            - Размеры внешние ДхШхВ:   2360 х 910 х 720 мм<br />
            - Объем:   350 л<br />
            - Уровень шума:   прим. 73 dB (A)<br />
            - Электропитание: 230/400 В, 50Гц, ~ 3,4 кВт<br />
            <br />
            Принадлежности:<br />
            - Монтажный сан/технический комплект<br />
            <br />
            Одноступенчатая лесенка, хромированная сталь, Модель: Tr1<br />
            <br />
            Подушка эргономной формы, крепление на присосках, Модель: 8.85-3<br />
        </div>

        <div role="tabpanel" class="tab-pane" id="complectation">
            Электронное управление:<br />
            - Управление на встроенном ЖК-дисплее с помощью 1 поворотной кнопки<br />
            - 20 программ (10 встроенных и 10 свободных ячеек для индивидуальных программ),<br />
            - Встроенное меню для пользователя: выбор процедуры, инструкции действий, сообщения об ошибках.<br />
            - Возможность создания индивидуальных программ терапии (выбор зон массажа, последовательность, продолжительность).<br />
            - Индикация режимов работы: вид терапии, продолжительности процедуры, остаточное время процедуры, температура воды напол-нения, температура воды в ванне, включение системы промывки.<br />
            <br />
            Полуавтоматическая система промывки и дезинфекции:<br />
            - Встроенная система промывки воздушной системы и подводящих каналов струйного массажа<br />
            - Полуавтоматическая система дезинфекции<br />
            <br />
            Корпус ванны/каркас:<br />
            - Анатомический корпус ванны со сформованным сиденьем, разделителем для ног, подлокотниками и подголовником.<br />
            - Корпус ванны выполнен из высококачественного акрилового стекла способом глубокого бесшовного вытяжения (цвет: белый)<br />
            - С тыльной стороны армирован специальным ламинатом.<br />
            - Каркас выполнен из хромоникелевой стали с 4 регулируемыми по высоте ножками.<br />
            - Со всех сторон имеет обшивку из влагостойкого пластика белого цвета.<br />
            <br />
            Система обеспечения струйного массажа:<br />
            - Встроенный насос, моторно-насосный блок электрически изолирован,<br />
            - встроенная защита холостого хода,<br />
            - максимальное давление: 5,5 атм.<br />
            - Специальные массажные дюзы с системой подводящих каналов к массажным группам и распределительным блоком<br />
            - Максимальное давление – 5,5 бар<br />
            - Максимальная мощность – 400 л/мин<br />
            <br />
            Встроенная арматура:<br />
            - Арматура наполнения DN 20<br />
            - Горловина наполнения DN 25<br />
            - Душевая арматура DN 15<br />
            - Утапливаемая душевая лейка<br />
            - Автоматически управляемый сливной вентиль DN 50<br />
            <br />
            Специальные поручни белого цвета для входа/выхода смонтированы на бортиках.<br />
            Пневматический упор для ног (5 уровней установки).<br />
            <br />
            Принадлежности:<br />
            - Пневматический упор для ног<br />
            - Монтажный сан/технический комплект<br />
            <br />
            Дополнительное оснащение:<br />
            <br />
            Встроенное устройство для ротационного вихревого и вакуумного массажа живота<br />
            - Специальная дуга подключения, гибкая, поворачивается на 360°<br />
            - Многоструевая дюза диам. прим. 130 мм<br />
            - Быстроразъемное соединение с самозакрывающимся клапаном<br />
            <br />
            Встроенное устройство для проведения ручного подводного душа-массажа<br />
            - Массажный шланг высокого давления<br />
            - Массажная дюза<br />
            <br />
            Система для проведения массажа воротниковой зоны, Модель: 8.85-4<br />
            - Интегрирована в подушку эргономной формы<br />
            <br />
            Оснащение Avantgarde, состоит из:<br />
            - Корпус ванны прямоугольной формы Авангард (цвет: белый)<br />
            -Дизайнерская обшивка (цвет: белый)<br />
            <br />
            Внешние размеры (Д х Ш х В): 2350 х 910 х 720 мм<br />
            Автоматическое наполнение ванны через термостат DN 20, Модель: AVT2<br />
            - Управляется датчиком уровня наполнения ванны<br />
            - Используется только для наполнения пресной воды<br />
            <br />
            Система перелива<br />
            Кнопка старт/стоп, на борту ванны, для старта и прекращения программы из ванны<br />
            Уникальная запатентованная система для хромотерапии Starlight<br />
            - 150 встроенных в корпус ванны световоды<br />
            - Эффект полного окрашивания воды благодаря высокой яркостя точек световодов<br />
            - 8-ми цветовая гамма: пурпурный, розовый, оранжевый, желтый, синий, бирюзовый, зеленый, белый.<br />
            - Возможна смена цвета или фиксация одного цвета на всё время процедуры.<br />
            - Встроенный галогеновый проектор с невыцветающими цветными фильтрами<br />
            - Кнопка ВКЛ/ВЫКЛ и постоянной смены цвета смонтирована на пульте ванны<br />
        </div>
    </div>
    <!-- .row-->
</div>
<!-- .container-->