@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title">
                    <h2>Оборудование для СПА UNBESCHEIDEN BADEN BADEN</h2>
                    <ul class="breadcrumb">
                        <li><a href="~/Home/Index">Главная</a></li>
                        <li class="">Каталог</li>
                        <li class=""><a href="~/Catalog/Unbescheiden">Unbescheiden</a></li>
                        <li class="active">Медицинская ванна в форме Бабочки</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- .row-->
    </div>
    <!-- .container-->
</div>
<!-- .breadcrumb-area-->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="history">
                <h3>Медицинская ванна в форме Бабочки</h3>
                <div class="row">
                    <div class="col-md-12">
                        <table>
                            <tr>
                                <td width="567px">
                                    <a href="~/Content/img/Catalog/Unbescheiden/vanna-v-forme-babochki_1.jpg" data-fancybox="vichy_prestige" data-caption="Медицинская ванна в форме Бабочки">
                                        <img style="margin:0;" src="~/Content/img/Catalog/Unbescheiden/vanna-v-forme-babochki_1.jpg" alt="">
                                    </a>
                                </td>
                                <td>
                                    <table>
                                        <tr>
                                            <td style="padding-left:5px;padding-bottom:5px;">
                                                <a href="~/Content/img/Catalog/Unbescheiden/vanna-v-forme-babochki_2.jpg" data-fancybox="vichy_prestige" data-caption="Медицинская ванна в форме Бабочки">
                                                    <img src="~/Content/img/Catalog/Unbescheiden/vanna-v-forme-babochki_2.jpg" alt="">
                                                </a>
                                            </td>
                                            <td rowspan="2" valign="top" style="padding-left:5px;padding-bottom:5px;">
                                                <a href="~/Content/img/Catalog/Unbescheiden/vanna-v-forme-babochki_3.jpg" data-fancybox="vichy_prestige" data-caption="Медицинская ванна в форме Бабочки">
                                                    <img src="~/Content/img/Catalog/Unbescheiden/vanna-v-forme-babochki_3.jpg" alt="">
                                                </a>
                                            </td>                                            
                                        </tr>
                                        <tr>
                                            <td style="padding-left:5px;">
                                                <a href="~/Content/img/Catalog/Unbescheiden/vanna-v-forme-babochki_4.jpg" data-fancybox="vichy_prestige" data-caption="Медицинская ванна в форме Бабочки">
                                                    <img src="~/Content/img/Catalog/Unbescheiden/vanna-v-forme-babochki_4.jpg" alt="">
                                                </a>
                                            </td>
                                        </tr>
                                    </table>                                   
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- .row-->
    <div class="row service-section">
        <div class="col-md-12">
            <!-- Nav tabs -->
            <ul class="tablist" role="tablist">
                <li role="presentation" class="active"><a href="#description" aria-controls="description" role="tab" data-toggle="tab">Описание</a></li>
                <li role="presentation"><a href="#characteristic" aria-controls="characteristic" role="tab" data-toggle="tab">Характеристики</a></li>
                <li role="presentation"><a href="#performans" aria-controls="performans" role="tab" data-toggle="tab">Особенности</a></li>
                <li role="presentation"><a href="#complectation" aria-controls="complectation" role="tab" data-toggle="tab">Комплектация</a></li>

                <div style="float:right;">
                    <div style="float:left;margin-right:10px;">Цена по запросу</div>
                    <a class="btn btn-order" style="margin-top:0;" href="#">Заказать</a>
                </div>
            </ul>
        </div>
    </div>
    <div class="tab-content col-md-12">
        <div role="tabpanel" class="tab-pane active" id="description">
            - С оснащением для реабилитации (ручной подводный душ-массаж, автоматический воздушно-пузырьковый массаж /автоматический вертикально-струйный
            массаж)<br />
            - С оснащением для детской терапии<br />
            - Комплекс подводного горизонтального вытяжения позвоночника на базе ванны в форме «Бабочки» (Баттер-фляй или Губарта) с оснащением для проведения ручного
            подводного и автоматического воздушно-пузырьковогомассажа, а также подводной реабилитационной гимнастики<br />
            <br />
            <strong>Общие сведения</strong><br />
            <br />
            Корпус ванны/каркас:<br />
            - Корпус ванны в форме бабочки выполнен из высококачественного акрилового стекла (цвет: белый, бледно-голубой)<br />
            - Установлен на устойчивую к коррозии стальную опору<br />
            - Со всех сторон обшит влагостойким пластиком белого цвета<br />
            <br />
            Серийное оснащение/арматура:<br />
            - Арматура наполнения DN 25 с горловиной наполнения DN 32 и термометром для измерения температуры наполнения<br />
            - Встроенная душевая арматура DN 15 со шлангом, душем и держателем<br />
            - Встроенный слив DN 65 с заглушкой, система перелива<br />
            - Встроенные по внутреннему периметру в продольные стенки боковые поручни<br />
            - Встроенный регулируемый подголовник с каркасом из хромоникелевой стали и сменным резиновым валиком<br />
        </div>

        <div role="tabpanel" class="tab-pane" id="characteristic">
            <strong>Основные технические параметры</strong><br />
            - Размеры внешние:	2030/1830 х 2415 х 1100 мм<br />
            - Размеры внутренние:	1900/1700 х 1930 х 600 мм<br />
            - Наибольшая длина:	2500 мм<br />
            - Наибольшая ширина:	2030 мм<br />
            - Объем ванны:	1500 л<br />
            - Электропитание:	230/400 В, 50 Гц, 3~, N/PE, 2,2 кВт<br />
        </div>

        <div role="tabpanel" class="tab-pane" id="performans">
            Встроенный блок ручного подводного массажа:<br />
            - Встроенный насос производительностью 200 л/мин, моторно-насосная часть электрически разъединена<br />
            - Защита сухого хода насоса, управляемая уровнем наполнения<br />
            - Система трубопроводов внутри установки выполнена из меди и термостойкого пластика<br />
            - Плавная регулировка массажного давления от 0 до 5,5 бар<br />
            - Встроенный вентиль регулировки массажного давления<br />
            - Встроенный вентиль подмешивания воздуха в струю воды<br />
            - Встроенный манометр для индикации массажного давления<br />
            - Устройство для промывки и дезинфекции всей насосной системы<br />
            <br />
            Принадлежности для проведения ручного подводного душа-массажа:<br />
            - 1 шланг для массажа под давлением<br />
            - 1 набор сменных массажных дюз разного диаметра (6 шт.)<br />
            <br />
            Встроенная система проведения автоматического воздушно-пузырькового массажа «Жемчужное дно»:<br />
            - 36 воздушных дюз диаметром 2 мм, симметрично встроенных (2х18) в дно ванны<br />
            - Снабжение дюз воздухом осуществляется через два пластиковых канала, соединенных с воздушной турбиной<br />
            - Воздушная турбина (400 л/мин) встроена под корпус ванны и закреплена на стальном каркасе (вкл. Систему промывки)<br />
        </div>

        <div role="tabpanel" class="tab-pane" id="complectation">
            <strong>Принадлежности и аксессуары*</strong><br />
            <br />
            - Монтажный сантехнический комплект DN 25<br />
            - Упор для ног, регулируемый (3 уровня)<br />
            - 2-ступенчатая лесенка, хромоникелевая сталь<br />
            - Поддерживающий ремень для пациента, 1,5 м<br />
            - Специальная сменная дюза для ротационного массажа<br />
            - Навесная спинка с рамой из акрила и пластиковой решеткой<br />
            <br />
            <strong>Дополнительное функциональное оснащение</strong><br />
            <br />
            Встроенная система автоматического вертикального струйного массажа (вместо автоматического воздушно - пузырькового массажа):<br />
            - 10 встроенных в дно ванны струйных дюз (с вентилем регулировки интенсивности)<br />
            <br />
            Встроенная система для терапии детей (вместо автоматического воздушно-пузырькового/вертикального струйного массажа):<br />
            - По 10 встроенных воздушно-пузырьковых дюз в двух крыльях ванны в головной части<br />
            - 10 встроенных воздушно-пузырьковых дюз в ножной части ванны слева<br />
            - Система воздушно-пузырькового массажа регулируется и включается отдельно<br />
            - Встроенная система промывки и чистки подводящих каналов<br />
            - Встроенная воздушная турбина (производительность 500 л/мин)<br />
            - Электропитание: 230 В, 50 Гц, 0,5 кВт<br />
            <br />
            Встроенная система подогрева воды для отпуска процедуры ручного подводного массажа струей горячей воды, с термометром:<br />
            - Арматура автоматического наполнения ванны через термостат<br />
            - Арматура наполнения ванны через термостат<br />
            <br />
            * Комплектация подбирается индивидуально<br />
            <br />
            <strong>Функциональные характеристики</strong><br />
            <br />
            - Встроенный блок ручного подводного душа-массажа<br />
            - Встроенная система проведения автоматического воздушно-пузырькового массажа «Жемчужное дно»<br />
            - Встроенная система автоматического вертикального струйного массажа<br />
            - Встроенная система для терапии детей<br />
            - Комплекс подводного горизонтального вытяжения позвоночника (см. раздел «Медицинские комплексы подводного горизонтального вытяжения позвоночника»)<br />
        </div>
    </div>
    <!-- .row-->
</div>
<!-- .container-->