@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title">
                    <h2>Оборудование для СПА UNBESCHEIDEN BADEN BADEN</h2>
                    <ul class="breadcrumb">
                        <li><a href="~/Home/Index">Главная</a></li>
                        <li class="">Каталог</li>
                        <li class=""><a href="~/Catalog/Unbescheiden">Unbescheiden</a></li>
                        <li class="active">Специальная медицинская ванна "Bad Orb"</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- .row-->
    </div>
    <!-- .container-->
</div>
<!-- .breadcrumb-area-->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="history">
                <h3>Специальная медицинская ванна "Bad Orb" для процедур с натуральными разводными грязями</h3>
                <div class="row">
                    <div class="col-md-12">
                        <table>
                            <tr>
                                <td>
                                    <a href="~/Content/img/Catalog/Unbescheiden/vanna-quotbad_1.jpg" data-fancybox="vichy_prestige" data-caption="Специальная медицинская ванна Bad Orb">
                                        <img style="margin:0;" src="~/Content/img/Catalog/Unbescheiden/vanna-quotbad_1.jpg" alt="">
                                    </a>
                                </td>
                                <td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- .row-->
    <div class="row service-section">
        <div class="col-md-12">
            <!-- Nav tabs -->
            <ul class="tablist" role="tablist">
                <li role="presentation" class="active"><a href="#description" aria-controls="description" role="tab" data-toggle="tab">Описание</a></li>
                <li role="presentation"><a href="#characteristic" aria-controls="characteristic" role="tab" data-toggle="tab">Характеристики</a></li>
                <li role="presentation"><a href="#performans" aria-controls="performans" role="tab" data-toggle="tab">Возможности</a></li>
                <li role="presentation"><a href="#complectation" aria-controls="complectation" role="tab" data-toggle="tab">Комплектация</a></li>

                <div style="float:right;">
                    <div style="float:left;margin-right:10px;">Цена по запросу</div>
                    <a class="btn btn-order" style="margin-top:0;" href="#">Заказать</a>
                </div>
            </ul>
        </div>
    </div>
    <div class="tab-content col-md-12">
        <div role="tabpanel" class="tab-pane active" id="description">
            - Оборудование грязелечения. Специальная медицинская ванна системы "Bad Orb" для процедур с натуральными разводными видами лечебной грязи.<br />
            - Специальная форма ванны для грязелечения позволяет экономично использовать природные и искусственно созданные лечебные растворы.<br />
            <br />
            Корпус ванны/каркас:<br />
            - Специальный корпус ванны с боковыми сформованными подлокотниками выполнен из высококачественного акрилового стекла способом глубокого бесшовного вытяжения (цвет: темно-коричневый).<br />
            - С тыльной стороны армирован специальным ламинатом.<br />
            - Со всех сторон имеет обшивку из влагостойкого пластика белого цвета.<br />
            - 4 регулируемые по высоте ножки.<br />
            - Ревизионное окошко у ножной части обшивки.<br />
            <br />
            Серийное оснащение/арматура:<br />
            - Встроенная арматура наполнения DN 20 с горловиной наполнения DN 25 для пресной воды, антикоррозийное исполнение (вкл. монтажный сантехнический комплект)<br />
            - Встроенная душевая арматура DN 15 для пресной воды, антикоррозийное исполнение<br />
            - Встроенный слив DN 65 с шаром-заглушкой и цепочкой<br />
        </div>

        <div role="tabpanel" class="tab-pane" id="characteristic">
            Специальная арматура для грязевых ванн:<br />
            <br />
            Набор комплектующих/дооснащения 1<br />
            - Расширительный блок и устройство наполнения грязи с управлением наполнения (потоком) встроены в ножную часть ванны<br />
            - Сливной вентиль DN 100/80 с колпачком<br />
            <br />
            Набор комплектующих/дооснащения 2<br />
            - Впускной грязевой вентиль с рукояточным управлением<br />
            - Шаровой вентиль DN 65 из ПВХ с соединительным шлангом высокого давления для подключения к центральной системе подачи грязи (грязевому трубопроводу)<br />
            <br />
            Специальная арматура для минеральной воды:<br />
            - Специальная арматура наполнения DN 20 для минеральной воды (вкл. в оборудование грязелечения монтажные сантехнические комплект)<br />
            - Специальная арматура со шлангом донного наполнения из термостойкого пластика<br />
            <br />
            <strong>Размеры внешние</strong><br />
            Размеры внешние:	2000 х 825 х 745 мм<br />
            Объем ванны:	180 л<br />
            <strong>Размеры внутренние</strong><br />
            Длина вверху/внизу:	1560/1200 мм<br />
            Ширина голов./ножн.часть:	640/400 мм<br />
            Ширина голов./ножн.часть:	400/350 мм<br />
            Ширина голов./ножн.часть:	510/540 мм<br />
        </div>

        <div role="tabpanel" class="tab-pane" id="performans">
            Грязелечение оборудование предназначено для проведения процедур с натуральными разводными видами лечебной грязи и термальной, минеральной, морской водой
        </div>

        <div role="tabpanel" class="tab-pane" id="complectation">
            Принадлежности и аксессуары:<br />
            - Упор для ног, производитель Unbescheiden Baden Baden регулируемый (3 уровня)<br />
            - 1-ступенчатая лесенка, хромоникелевая сталь<br />
            - Резиновая надувная подушка для пациента<br />
            <br />
            Дополнительное функциональное оснащение:<br />
            - Встроенные в бортики ванны поручни<br />
            - Арматура наполнения ванны через термостат (только для пресной воды)<br />
        </div>
    </div>
    <!-- .row-->
</div>
<!-- .container-->