@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title">
                    <h2>Оборудование для СПА UNBESCHEIDEN BADEN BADEN</h2>
                    <ul class="breadcrumb">
                        <li><a href="~/Home/Index">Главная</a></li>
                        <li class="">Каталог</li>
                        <li class=""><a href="~/Catalog/Unbescheiden">Unbescheiden</a></li>
                        <li class="active">Медицинская гидромассажная ванна Vitality</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- .row-->
    </div>
    <!-- .container-->
</div>
<!-- .breadcrumb-area-->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="history">
                <h3>Медицинская гидромассажная ванна Vitality</h3>
                <div class="row">
                    <div class="col-md-12">
                        <table>
                            <tr>
                                <td>
                                    <a href="~/Content/img/Catalog/Unbescheiden/vanna-vitality_1.jpg" data-fancybox="vichy_prestige" data-caption="Медицинская гидромассажная ванна Vitality">
                                        <img style="margin:0;" src="~/Content/img/Catalog/Unbescheiden/vanna-vitality_1.jpg" alt="">
                                    </a>
                                </td>
                                <td>                                
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- .row-->
    <div class="row service-section">
        <div class="col-md-12">
            <!-- Nav tabs -->
            <ul class="tablist" role="tablist">
                <li role="presentation" class="active"><a href="#description" aria-controls="description" role="tab" data-toggle="tab">Описание</a></li>
                <li role="presentation"><a href="#characteristic" aria-controls="characteristic" role="tab" data-toggle="tab">Характеристики</a></li>
                <li role="presentation"><a href="#complectation" aria-controls="complectation" role="tab" data-toggle="tab">Комплектация</a></li>

                <div style="float:right;">
                    <div style="float:left;margin-right:10px;">Цена по запросу</div>
                    <a class="btn btn-order" style="margin-top:0;" href="#">Заказать</a>
                </div>
            </ul>
        </div>
    </div>
    <div class="tab-content col-md-12">
        <div role="tabpanel" class="tab-pane active" id="description">
            Проведение автоматического программируемого игольчатого струйного общего и зонального массажа.<br />
            <br />
            14 массажных зон<br />
            <br />
            Автоматический индивидуально программируемый струйный массаж:<br />
            - Массаж проводится по 14 анатомическим зонам , 144 дюзы<br />
            - Мягкий переход массажа по зонам<br />
            - Игольчатый струйный массаж обеспечивают встроенные по анатомическим зонам специальные дюзы<br />
            - Индивидуальное задание массажного давления и времени терапии<br />
            - Расход воды 200 л<br />
        </div>

        <div role="tabpanel" class="tab-pane" id="characteristic">
            Технические данные:<br />
            - Размеры внешние (ДхШхВ):   2100 х 850 х 790/720 мм<br />
            - Объем:   250 л<br />
            - Полезный объем:   200 л<br />
            - Уровень шума:   прим. 71 dB(A)<br />
            - Электропитание:   230/400 В, 50Гц, ~ 3,1 кВт<br />
            <br />
            Одноступенчатая лесенка, хромированная сталь, Модель: Tr1<br />
            <br />
            Подушка трапецевидной формы на присосках, модель: 8.85-2<br />
        </div>

        <div role="tabpanel" class="tab-pane" id="complectation">
            Электронная система управления:<br />
            - Программирование параметров терапии на пленочном табло с индикацией<br />
            - Автоматическое протекание процедуры<br />
            - Возможность программирования процедурного процесса<br />
            <br />
            Автоматическая система промывки:<br />
            - Система промывки подводящих водяных и воздушных каналов систем автоматического массажа<br />
            <br />
            Корпус ванны/каркас:<br />
            - Анатомический корпус ванны со сформованным сиденьем, разделителем для ног, подлокотниками и подголовником.<br />
            - Корпус ванны выполнен из высококачественного акрилового стекла способом глубокого бесшовного вытяжения (цвет: белый, бледно-голубой).<br />
            - С тыльной стороны армирован специальным ламинатом.<br />
            - Каркас выполнен из хромоникелевой стали с 4 регулируемыми по высоте ножками.<br />
            - Со всех сторон имеет обшивку из влагостойкого пластика белого цвета.<br />
            <br />
            Специальный насосный агрегат:<br />
            - моторно-насосный блок электрически изолирован,<br />
            - встроенная защита холостого хода,<br />
            - максимальное давление: 5,5 атм.<br />
            - производительность 400 л./мин.<br />
            <br />
            Встроенная арматура:<br />
            - Арматура наполнения DN 20<br />
            - Горловина наполнения DN 20<br />
            - Душевая арматура DN 15 с душевой лейкой, шлангом и держателем<br />
            - Сливной вентиль DN 40<br />
            - Вентиль регулировки массажного давления для струйного массажа<br />
            <br />
            Поручни белого цвета для входа/выхода смонтированы на бортиках<br />
            <br />
            Принадлежности:<br />
            - Пневматический упор для ног<br />
            - Монтажный сан/технический комплект<br />
            <br />
            Дополнительное оснащение:<br />
            <br />
            (набор опций необходимо определить до размещения заказа на заводе - после размещения заказа дополнительное оснащение невозможно)<br />
            <br />
            Электронное управление:<br />
            - Управление на встроенном ЖК-дисплее с помощью 1 поворотной кнопки<br />
            - Возможность создания индивидуальных программ терапии (выбор зон массажа, последовательность, продолжительность).<br />
            <br />
            Воздушно-пузырьковый массаж «Жемчужное дно» 40 независимых воздушных дюз, встроенных в дно ванны, Модель: S/LT1<br />
            - Мягкий воздушно-пузырьковый массаж проводится через специальные встроенные независимые воздушные дюзы<br />
            - Воздушно-пузырьковый (жемчужный) массаж можно проводить как независимую процедуру или комбинировать с другим видом массажа<br />
            - Возможно проведение ароматерапии и отпуска процедур с лепестками роз<br />
            <br />
            Встроенное устройство для ротационного вихревого и вакуумного массажа живота<br />
            - Специальная дуга подключения, гибкая, поворачивается на 360°<br />
            - Многоструевая дюза диам. прим. 130 мм<br />
            - Быстроразъемное соединение с самозакрывающимся клапаном<br />
            <br />
            Встроенное устройство для проведения ручного подводного душа-массажа<br />
            - Массажный шланг высокого давления<br />
            - Массажная дюза<br />
            Прим.: несовместима при заказе опции массажа воротниковой зоны<br />
            <br />
            Устройство для массажа воротниковой зоны (16 дюз), регулируемое<br />
            - Устройство массажа воротниковой зоны с 10 встроенными дюзами и вентилем регулировки массажного давления встроены в изголовье<br />
            - Устройство съемное, оснащено быстроразъемным соединением с самозакрывающимися клапанами<br />
            Прим.: несовместима при заказе опции ручного подводного массажа<br />
            <br />
            Уникальная запатентованная система для хромотерапии Starlight<br />
            - 150 встроенных в корпус ванны световоды<br />
            - Эффект полного окрашивания воды благодаря высокой яркостя точек световодов<br />
            - 8-ми цветовая гамма: пурпурный, розовый, оранжевый, желтый, синий, бирюзовый, зеленый, белый.<br />
            - Возможна смена цвета или фиксация одного цвета на всё время процедуры.<br />
            - Встроенный галогеновый проектор с невыцветающими цветными фильтрами<br />
            - Кнопка ВКЛ/ВЫКЛ и постоянной смены цвета смонтирована на пульте ванны<br />
            <br />
            Встроенная кнопка на бортике ванны для остановки цикличного массажа в нужной зоне.<br />
            Oпция необходима для использования ванны в частном секторе.<br />
            При повторном нажатии кнопки цикличный массаж продолжается. Общее время процедуры при использовании кнопки остается неизменным<br />
        </div>
    </div>
    <!-- .row-->
</div>
<!-- .container-->