@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title">
                    <h2>Оборудование для СПА UNBESCHEIDEN BADEN BADEN</h2>
                    <ul class="breadcrumb">
                        <li><a href="~/Home/Index">Главная</a></li>
                        <li class="">Каталог</li>
                        <li class=""><a href="~/Catalog/Unbescheiden">Unbescheiden</a></li>
                        <li class="active">Горизонтальный душ Vichy c кушеткой для влажного массажа</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- .row-->
    </div>
    <!-- .container-->
</div>
<!-- .breadcrumb-area-->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="history">
                <h3>Горизонтальный душ Vichy c кушеткой для влажного массажа</h3>
                <div class="row">
                    <div class="col-md-12">
                        <table>
                            <tr>
                                <td>
                                    <a href="~/Content/img/Catalog/Unbescheiden/vichy_prestige_1.jpg" data-fancybox="vichy_prestige" data-caption="Горизонтальный душ Vichy">
                                        <img style="margin:0;" src="~/Content/img/Catalog/Unbescheiden/vichy_prestige_1.jpg" alt="">
                                    </a>
                                </td>
                                <td>
                                    <table>
                                        <tr>
                                            <td style="padding-left:5px;padding-bottom:5px;">
                                                <a href="~/Content/img/Catalog/Unbescheiden/vichy_prestige_2.jpg" data-fancybox="vichy_prestige" data-caption="Горизонтальный душ Vichy">
                                                    <img style="width:49%;" src="~/Content/img/Catalog/Unbescheiden/vichy_prestige_2.jpg" alt="">
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="padding-left: 5px;">
                                                <a href="~/Content/img/Catalog/Unbescheiden/vichy_prestige_3.jpg" data-fancybox="vichy_prestige" data-caption="Горизонтальный душ Vichy">
                                                    <img style="width:50%;" src="~/Content/img/Catalog/Unbescheiden/vichy_prestige_3.jpg" alt="">
                                                </a>
                                            </td>
                                        </tr>
                                    </table>                                   
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- .row-->
    <div class="row service-section">
        <div class="col-md-12">
            <!-- Nav tabs -->
            <ul class="tablist" role="tablist">
                <li role="presentation" class="active"><a href="#description" aria-controls="description" role="tab" data-toggle="tab">Описание</a></li>
                <li role="presentation"><a href="#complectation" aria-controls="complectation" role="tab" data-toggle="tab">Комплектация</a></li>

                <div style="float:right;">
                    <div style="float:left;margin-right:10px;">Цена по запросу</div>
                    <a class="btn btn-order" style="margin-top:0;" href="#">Заказать</a>
                </div>
            </ul>
        </div>
    </div>
    <div class="tab-content col-md-12">
        <div role="tabpanel" class="tab-pane active" id="description">
            <strong>Общие сведения и серийное оснащение</strong>
            <br />
            1. Компоненты
            <br />
            - Изогнутая душевая рейка из пластика, поворотная, цвет белый<br />
            - 5 индивидуально регулируемых и перекрываемых душевых головок из ПВХ<br />
            - Внутренний трубопровод<br />
            - Съемный брызгозащитный экран<br />
            <br />
            2. Арматура
            <br />
            - Термостатный смеситель DN 20 для регулировки температуры воды, включая трубопровод и запорный вентиль DN 20<br />
            - Запорный вентиль DN15 и внутренний трубопровод для ручного душа<br />
            - Вся арматура хромированная<br />
            <br />
            3. Кушетка
            <br />
            - Ложе кушетки из пластика со сливом<br />
            - Термостатный смеситель для ручного душа<br />
            - Душевой гарнитур с утапливаемой душевой лейкой<br />
            - Обшивка со всех сторон<br />
            - Электромеханическая регулировка высоты (не нуждается в тех.обслуживании)<br />
            - Диапазон регулировки высоты прим. 725-875 мм<br />
            <br />
            4. Блок управления
            <br />
            - Пленочная клавиатура с дисплеем для регулировки температуры<br />
            - Функциональная клавиша для активирования ручного душа<br />
            - Функциональная клавиша для подъема и опускания кушетки<br />
        </div>

        <div role="tabpanel" class="tab-pane" id="complectation">
            Напольная решетка:<br />
            - Металлический Т-образный профиль,<br />
            - алюминиевая рама, Г-образная<br />
            - рифленый пластик серого цвета,<br />
            - Размер :200 х 100 см.<br />
            (Монтируется на трап горизонтального душа Виши, Модель: 2.48-2/1)<br />
            <br />
            Одноступенчатая лесенка, Модель: tr 1<br />
            Дополнительное функциональное оснащение<br />
            Уникальная запатентованная система для хромотерапии Starlight<br />
            - 150 встроенных в корпус кушетки световоды<br />
            - 8-цветовая гамма: пурпурный, розовый, оранжевый, желтый, синий, бирюзовый, зеленый, белый<br />
            - Возможна смена цвета или фиксация одного цвета на все время процедуры<br />
            - Встроенный галогеновый проектор с невыцветающим цветным фильтром<br />
            - Мощность проектора: 120 Вт<br />
            - Кнопка ВКЛ/ВЫКЛ и постоянной смены цвета смонтирована на пульте кушетки<br />
            <br />
            Оснащение для аюрведических процедур (Широдхара)<br />
            - Отдельный слив для масел, сформованный в головной части кушетки<br />
            - Встроенная чаша для сбора отработанных масел<br />
            <br />
            Подогрев ложа кушетки, модель: 5.75-2<br />
            Влагостойкий матрас, модель: 5.65-6<br />
            Подушка под голову, модель: 5.65-7<br />
            Подушка под ноги, модель: 5.65-8<br />
        </div>
    </div>
    <!-- .row-->
</div>
<!-- .container-->