@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
        $(document).ready(function ($) {
            $("#carousel-example-generic").hide();
        });
</script>

<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title">
                    <h2>Оборудование для СПА UNBESCHEIDEN BADEN BADEN</h2>
                    <ul class="breadcrumb">
                        <li><a href="~/Home/Index">Главная</a></li>
                        <li class="">Каталог</li>
                       <li class="active">Unbescheiden</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- .row-->
    </div>
    <!-- .container-->
</div>
<!-- .breadcrumb-area-->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="history">
                <div class="history-details">
                    <img src="~/Content/img/Catalog/Unbescheiden/toplogo.png" alt="" style="width:30%">
                    <p>
                        Фирма <strong>Unbescheiden GmbH</strong> является семейным предприятием с традициями. 
                        Фирма была основана в 1869 году и уже в конце 19 века она оснащала гидротерапевтическим оборудованием и установками для подготовки 
                        термальной воды курорты и санатории по всей Европе. Переняв эстафету, пятое поколение семьи <strong>Unbescheiden</strong> поддерживает 
                        традиции по производству высококачественного оборудования для Спа-, веллнесс- индустрии, санаторно-курортных и лечебно-профилактических учреждений.
                        Функциональность, качество и дизайн этого оборудования ценятся во всем мире.
                    </p>
                    <p>
                        Опыт, накопленный в течение десятилетий и тесное сотрудничество с терапевтами, практикующими врачами и клиентами претворены в многогранную 
                        функциональность оборудования, разнообразие сфер применения и удобное легкое управление. Особое внимание уделяется материалам, обработке и оснащению.
                        Именно поэтому качество и долговечность продукции фирмы <strong>Unbescheiden</strong> известны всем.
                        <br />
                        <strong>Unbescheiden</strong> – силы природы на службе здоровью.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- .row-->
    <div class="row catalog-item-small">

        <div class="col-md-4">
            <div class="text-center">
                <a href="~/Catalog/Unbescheiden/vichy_prestige">
                    <img src="~/Content/img/Catalog/Unbescheiden/vichy_prestige_1.jpg" alt="" style="width:100%;">
                    <span>Горизонтальный душ Vichy c кушеткой для влажного массажа</span>
                </a>
            </div>
            <div class="text-center">
                <div>Цена по запросу</div>
                <a class="btn btn-order" href="#">Заказать</a>
            </div>
        </div>

        <div class="col-md-4">
            <div class="text-center">
                <a href="~/Catalog/Unbescheiden/kamernye_vanny">
                    <img src="~/Content/img/Catalog/Unbescheiden/kamernye_vanny_1.jpg" alt="" style="width:100%;">
                    <span>Камерные ванны для терапии верхних и нижних конечностей</span>
                </a>
            </div>
            <div class="text-center">
                <div>Цена по запросу</div>
                <a class="btn btn-order" href="#">Заказать</a>
            </div>
        </div>

        <div class="col-md-4">
            <div class="text-center">
                <a href="~/Catalog/Unbescheiden/kaskadnye_dushi">
                    <img src="~/Content/img/Catalog/Unbescheiden/kaskadnye_dushi_1.jpg" alt="" style="width:100%;">
                    <span>Каскадные души<br /> (6, 9 или 12 форсунок)</span>
                </a>
            </div>
            <div class="text-center">
                <div>Цена по запросу</div>
                <a class="btn btn-order" href="#">Заказать</a>
            </div>
        </div>

        <div class="col-md-4">
            <div class="text-center">
                <a href="~/Catalog/Unbescheiden/dushevaya_kafedra">
                    <img src="~/Content/img/Catalog/Unbescheiden/dushevaya_kafedra_1.jpg" alt="" style="width:100%;">
                    <span>Душевая кафедра (душ Шарко, циркулярный, восходящий, головной)</span>
                </a>
            </div>
            <div class="text-center">
                <div>Цена по запросу</div>
                <a class="btn btn-order" href="#">Заказать</a>
            </div>
        </div>

        <div class="col-md-4">
            <div class="text-center">
                <a href="~/Catalog/Unbescheiden/vanna-quotbad">
                    <img src="~/Content/img/Catalog/Unbescheiden/vanna-quotbad_1.jpg" alt="" style="width:100%;">
                    <span>Специальная медицинская ванна "Bad Orb" для процедур с натуральными разводными грязями</span>
                </a>
            </div>
            <div class="text-center">
                <div>Цена по запросу</div>
                <a class="btn btn-order" href="#">Заказать</a>
            </div>
        </div>

        <div class="col-md-4">
            <div class="text-center">
                <a href="~/Catalog/Unbescheiden/dush-vishi">
                    <img src="~/Content/img/Catalog/Unbescheiden/dush-vishi_1.jpg" alt="" style="width:100%;">
                    <span>Горизонтальный душ Vichy Classic<br /> Модель 5.58-4 D</span>
                </a>
            </div>
            <div class="text-center">
                <div>Цена по запросу</div>
                <a class="btn btn-order" href="#">Заказать</a>
            </div>
        </div>

        <div class="col-md-4">
            <div class="text-center">
                <a href="~/Catalog/Unbescheiden/tsirkulyarnyy_dush">
                    <img src="~/Content/img/Catalog/Unbescheiden/tsirkulyarnyy_dush_1.jpg" alt="" style="width:100%;">
                    <span>Циркулярный душ<br /> Модель 5.56-9 S</span>
                </a>
            </div>
            <div class="text-center">
                <div>Цена по запросу</div>
                <a class="btn btn-order" href="#">Заказать</a>
            </div>
        </div>

        <div class="col-md-4">
            <div class="text-center">
                <a href="~/Catalog/Unbescheiden/mestnaya-sidyachaya-vanna">
                    <img src="~/Content/img/Catalog/Unbescheiden/mestnaya-sidyachaya-vanna_1.jpg" alt="" style="width:100%;">
                    <span>Местная сидячая ванна с подъемником и восходящем душем</span>
                </a>
            </div>
            <div class="text-center">
                <div>Цена по запросу</div>
                <a class="btn btn-order" href="#">Заказать</a>
            </div>
        </div>

        <div class="col-md-4">
            <div class="text-center">
                <a href="~/Catalog/Unbescheiden/kompleksy-kishechnykh">
                    <img src="~/Content/img/Catalog/Unbescheiden/kompleksy-kishechnykh_1.jpg" alt="" style="width:100%;">
                    <span>Комплексы кишечных и гинекологических орошений</span>
                </a>
            </div>
            <div class="text-center">
                <div>Цена по запросу</div>
                <a class="btn btn-order" href="#">Заказать</a>
            </div>
        </div>

        <div class="col-md-4">
            <div class="text-center">
                <a href="~/Catalog/Unbescheiden/balneologicheskie-vanny">
                    <img src="~/Content/img/Catalog/Unbescheiden/balneologicheskie-vanny_1.jpg" alt="" style="width:100%;">
                    <span>Медицинские бальнеологические ванны для пресной воды</span>
                </a>
            </div>
            <div class="text-center">
                <div>Цена по запросу</div>
                <a class="btn btn-order" href="#">Заказать</a>
            </div>
        </div>

        <div class="col-md-4">
            <div class="text-center">
                <a href="~/Catalog/Unbescheiden/meditsinskie-balneologicheskie-vanny">
                    <img src="~/Content/img/Catalog/Unbescheiden/meditsinskie-balneologicheskie-vanny_1.jpg" alt="" style="width:100%;">
                    <span>Медицинские бальнеологические ванны для процедур</span>
                </a>
            </div>
            <div class="text-center">
                <div>Цена по запросу</div>
                <a class="btn btn-order" href="#">Заказать</a>
            </div>
        </div>

        <div class="col-md-4">
            <div class="text-center">
                <a href="~/Catalog/Unbescheiden/vanna-v-forme-babochki">
                    <img src="~/Content/img/Catalog/Unbescheiden/vanna-v-forme-babochki_1.jpg" alt="" style="width:100%;">
                    <span>Медицинская ванна в форме<br /> Бабочки</span>
                </a>
            </div>
            <div class="text-center">
                <div>Цена по запросу</div>
                <a class="btn btn-order" href="#">Заказать</a>
            </div>
        </div>

        <div class="col-md-4">
            <div class="text-center">
                <a href="~/Catalog/Unbescheiden/kompleksy-podvodnogo">
                    <img src="~/Content/img/Catalog/Unbescheiden/kompleksy-podvodnogo_1.jpg" alt="" style="width:100%;">
                    <span>Комплексы подводного горизонтального вытяжения позвоночника</span>
                </a>
            </div>
            <div class="text-center">
                <div>Цена по запросу</div>
                <a class="btn btn-order" href="#">Заказать</a>
            </div>
        </div>

        <div class="col-md-4">
            <div class="text-center">
                <a href="~/Catalog/Unbescheiden/kombinirovannye-vanny-600">
                    <img src="~/Content/img/Catalog/Unbescheiden/kombinirovannye-vanny-600_1.jpg" alt="" style="width:100%;">
                    <span>Комбинированные ванны объемом 600 л. модельный ряд 0.20</span>
                </a>
            </div>
            <div class="text-center">
                <div>Цена по запросу</div>
                <a class="btn btn-order" href="#">Заказать</a>
            </div>
        </div>

        <div class="col-md-4">
            <div class="text-center">
                <a href="~/Catalog/Unbescheiden/kombinirovannye-vanny-600-10">
                    <img src="~/Content/img/Catalog/Unbescheiden/kombinirovannye-vanny-600_2.jpg" alt="" style="width:100%;">
                    <span>Комбинированные ванны объемом 600 л. модельный ряд 0.10</span>
                </a>
            </div>
            <div class="text-center">
                <div>Цена по запросу</div>
                <a class="btn btn-order" href="#">Заказать</a>
            </div>
        </div>

        <div class="col-md-4">
            <div class="text-center">
                <a href="~/Catalog/Unbescheiden/vanna-karakalla">
                    <img src="~/Content/img/Catalog/Unbescheiden/vanna-karakalla_1.jpg" alt="" style="width:100%;">
                    <span>Медицинская гидромассажная ванна Каракалла</span>
                </a>
            </div>
            <div class="text-center">
                <div>Цена по запросу</div>
                <a class="btn btn-order" href="#">Заказать</a>
            </div>
        </div>

        <div class="col-md-4">
            <div class="text-center">
                <a href="~/Catalog/Unbescheiden/vanna-patsifik">
                    <img src="~/Content/img/Catalog/Unbescheiden/vanna-patsifik_1.jpg" alt="" style="width:100%;">
                    <span>Медицинская гидромассажная ванна Пацифик</span>
                </a>
            </div>
            <div class="text-center">
                <div>Цена по запросу</div>
                <a class="btn btn-order" href="#">Заказать</a>
            </div>
        </div>

        <div class="col-md-4">
            <div class="text-center">
                <a href="~/Catalog/Unbescheiden/vanna-vitality">
                    <img src="~/Content/img/Catalog/Unbescheiden/vanna-vitality_1.jpg" alt="" style="width:100%;">
                    <span>Медицинская гидромассажная ванна Vitality</span>
                </a>
            </div>
            <div class="text-center">
                <div>Цена по запросу</div>
                <a class="btn btn-order" href="#">Заказать</a>
            </div>
        </div>

    </div>
</div>
