<!DOCTYPE html>
<!--[if IE 7 ]>
<html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>
<html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>
<html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<!-- =========================================
head
========================================== -->

<head>
    <!-- =========================================
    Basic
    ========================================== -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Wellness Solution Russia</title>
    <meta name="keywords" content="fontanero, HTML5, CSS3, responsive, Template" />
    <meta name="author" content="Cloud Software Solution Ltd." />
    <meta name="description" content="fontanero- Responsive HTML5/CSS3 Template" />

    <!-- =========================================
    Mobile Configurations
    ========================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-capable" content="yes" />


    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,700' rel='stylesheet' type='text/css'>
    <!--<link href='http://fonts.googleapis.com/css?family=Raleway:600,400' rel='stylesheet' type='text/css'>-->
    <link rel="stylesheet" href="~/Content/css/font-awesome.min.css" />
    <!-- //Fonts -->
    <!-- Owl Carousel CSS -->
    <link href="~/Content/css/owl.carousel.css" rel="stylesheet" media="screen">
    <link href="~/Content/css/owl.theme.css" rel="stylesheet" media="screen">

    <!-- =========================================
    CSS
    ========================================== -->
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/css/offcanvas.css" />
    <link rel="stylesheet" href="~/Content/css/style.css" />

    <script src="~/Content/js/jquery.js"></script>

</head>
<!-- /head -->


<body>
    <div class="wrapper" id="wrapper">
        <div class="offcanvas-pusher">
            <div class="content-wrapper">
                <div class="container">
                    <div class="row">
                        <section class="header">
                            <header class="header-wrapper">
                                <div class="header-top">
                                    <div class="col-md-6 col-xs-12 col-sm-6">
                                        <div class="logo">
                                            <a title="fontanero" href="index.html">
                                                <img style="width:190px;" src="~/Content/img/logo.jpg" alt="fontanero">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-6 hidden-xs col-sm-6">
                                        <div class="header-connection">
                                            <!--<ul class="header-social social">
                                                <li><a href="#"><i class="fa fa-facebook"></i></a>
                                                </li>
                                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                            </ul>-->
                                            <p>Позвоните нам: <strong>+7 (495) 961 68 45</strong></p>
                                            <p><strong>+7 (985) 767 98 21</strong></p>
                                        </div>
                                    </div>
                                </div>
                                <!-- .header-top-->
                                <div class="main-nav-bar">
                                    <div class="col-md-12">
                                        <div class="navbar-header navbar-right pull-left">
                                            <!-- offcanvas-trigger-effects -->
                                            <div id="offcanvas-trigger-effects" class="offcanvas">
                                                <button type="button" class="navbar-toggle visible-xs" data-toggle="offcanvas"
                                                        data-target=".navbar-collapse" data-placement="left" data-effect="offcanvas-effect">
                                                    <i class="fa fa-bars"></i>
                                                </button>
                                            </div>
                                            <!-- offcanvas-trigger-effects -->
                                        </div>

                                        <!-- navbar-collapse -->
                                        <nav role="navigation" class="collapse navbar-collapse navbar main-nav">
                                            <ul class="nav navbar-nav navbar-left">
                                                <li class="dropdown">
                                                    <a href="#">Каталог</a>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="#">Модульные сауны</a></li>
                                                        <li><a href="~/Catalog/Spa">Мини бассейны и СПА</a></li>
                                                        <li><a href="~/Catalog/Furnaces">Печи для саун и бань</a></li>
                                                        <li><a href="#">Парогенераторы</a></li>
                                                        <li><a href="~/Catalog/Icegenerators">Снежные комнаты и льдогенераторы</a></li>
                                                        <li><a href="#">Аксессуары</a></li>
                                                    </ul>
                                                </li>
                                                <li class="dropdown">
                                                    <a href="#">Услуги</a>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="~/Service/Design">Проектирование</a></li>
                                                        <li><a href="~/Service/Construction">Строительство</a></li>
                                                        <li><a href="~/Service/Maintenance">Сервисное обслуживание</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="~/home/gallery">Портфолио</a></li>
                                                <li><a href="~/home/about">О компании</a></li>
                                                <li><a href="~/home/contact">Контакты</a></li>
                                            </ul>
                                            <!-- /navbar-nav -->

                                            <div class="nav navbar-nav navbar-right" id="header-right">
                                                <div class="header-right">
                                                    <!--<form>
                                                       <input type="search" name="search" class="empty" id="iconshow" placeholder="&#xF002;">
                                                    </form>-->
                                                    Шитова набережная, 4 стр. 1
                                                </div>
                                            </div>
                                        </nav>
                                        <!-- /navbar-collapse -->
                                    </div>
                                </div>
                                <!-- .main-nav-bar -->
                            </header>
                            <!-- .header-wrapper-->
                        </section>
                        <!--End .header -->
                    </div>
                    <!-- .row-->
                </div>
                <!-- .container-->
                <div class="container-fluid">
                    <section class="banner-section hidden-xs">
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                            </ol>

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner" role="listbox">
                                <div class="item active">
                                    <img src="~/Content/img/slide1.jpg" alt="slide1">
                                    <div class="dark"></div>
                                    <div class="carousel-caption">
                                        <h1>
                                            Проектирование и дизайн бассейнов и SPA
                                        </h1>
                                        <p>
                                            Использование самых эффективных технологий в строительстве и
                                            наличие профессиональной бригады, даёт нам возможность
                                            гарантировать реализацию объекта высокого качества.
                                        </p>
                                        <a class="btn" href="#">Узнать больше</a>
                                    </div>
                                </div>
                                <div class="item">
                                    <img src="~/Content/img/slide2.jpg" alt="slide3">
                                    <div class="dark"></div>
                                    <div class="carousel-caption">
                                        <h1>
                                            Устройство и монтаж модульных саун
                                        </h1>
                                        <p>Продажа оборудования и аксессуаров для саун и бань</p>
                                        <a class="btn" href="#">Посмотреть каталог</a>
                                    </div>
                                </div>
                                <div class="item">
                                    <img src="~/Content/img/slide3.jpg" alt="slide2">
                                    <div class="dark"></div>
                                    <div class="carousel-caption">
                                        <h1>
                                            Сервисное обслуживание бассейнов и SPA
                                        </h1>
                                        <p>
                                            Сервисное обслуживание бассейнов и SPA – это один из самых
                                            важных моментов в их эксплуатации. Проведение плановых
                                            осмотров позволит вам избежать многих неприятностей, а также
                                            сберечь время и деньги.
                                        </p>
                                        <a class="btn" href="#">Подробнее</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- .banner-section-->
                </div>
                <!-- .container-fluid-->
                @RenderBody()

                <div class="quote-section" style="margin-top:40px;">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="quote">
                                    <h2>Остались вопросы?</h2>
                                    <p>Задайте их нашим менеджерам через форму обратной связи</p>
                                    <a class="btn" href="#">Получить консультацию</a>
                                </div>
                                <!--quote-->
                            </div>
                        </div>
                        <!-- .row-->
                    </div>
                    <!-- .container-->
                </div>
                <!-- .quote-section-->

                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="our-clients-carousel">
                                <h2>Наши последние работы</h2>
                                <div id="our-client-thumb">
                                    <div class="item">
                                        <div class="client-logo">
                                            <img src="~/Content/img/client1.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="client-logo">
                                            <img src="~/Content/img/client2.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="client-logo">
                                            <img src="~/Content/img/client3.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="client-logo">
                                            <img src="~/Content/img/client4.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="client-logo">
                                            <img src="~/Content/img/client5.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="client-logo">
                                            <img src="~/Content/img/client6.jpg" alt="">
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!-- .our-clients-carousel-->
                        </div>
                    </div>
                    <!-- .row -->
                </div>
                <!-- .container-->
                <div class="container">
                    <div class="row">
                        <div class="footer-top">
                            <div class="col-md-3 col-sm-6">
                                <div class="logo footer-logo">
                                    <a title="fontanero" href="index.html">
                                        <img style="width: 230px;" src="~/Content/img/logo.jpg" alt="">
                                    </a>
                                    <!--<p>Competently conceptualize go forward testing procedures and B2B expertise. Phosfluorescently cultivate principle-centered methods.of empowerment through fully researched.</p>-->
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="news list-group">
                                    <h4>Последние новости</h4>
                                    <ul>
                                        <li>
                                            <div class="news-list">
                                                <span class="date">Июль 9, 2018</span>
                                                <p>Новые поступления каменок для финских саун FinTec.</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="news-list">
                                                <span class="date">Июнь 19, 2018</span>
                                                <p>Запуск сайта RussiaWellness.ru</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="responsability">
                                    <h4>Покупателям</h4>
                                    <ul>
                                        <li><a href="#">Каталог оборудования</a></li>
                                        <li><a href="#">Аксессуары для бани и сауны</a></li>
                                        <li><a href="#">Оплата</a></li>
                                        <li><a href="#">Доставка</a></li>
                                        <li><a href="#">Услуги</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="contact-us">
                                    <h4>Контакты</h4>
                                    <address>
                                        г.Москва <br />Шитова набережная, 4 стр. 1
                                    </address>
                                    <address>
                                        <span>Email :</span>
                                        <a href="russiawellness@yandex.ru">russiawellness@yandex.ru</a>
                                    </address>
                                    <address>
                                        <span>Тел. :</span>
                                        +7 (495) 961 68 45 <br>
                                        +7 (985) 767 98 21 <br>
                                    </address>
                                </div>
                            </div>
                        </div>
                        <!-- .footer-top-->
                    </div>
                    <!-- .row-->
                    <div class="row">
                        <div class="footer">
                            <div class="col-md-6 col-xs-12 col-sm-6">
                                <div class="copyright">
                                    <p>Copyright 2018 Все права защищены | <a href="#">Wellness Solution Russia</a></p>
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-12 col-sm-6">
                                <div class="footer-social social">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- .footer-->
                    </div>
                    <!-- .row-->
                </div>
                <!-- .container-->


            </div>
            <!--content-wrapper-->
        </div>
        <!-- offcanvas-pusher -->

        <div class="offcanvas-menu offcanvas-effect visible-xs">
            <button type="button" class="close" aria-hidden="true" data-toggle="offcanvas" id="off-canvas-close-btn">&times;</button>
            <h1>Меню</h1>
            <div>
                <div>
                    <ul id="menu">
                        <li class="dropdown">
                            <a href="#">Каталог</a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Модульные сауны</a></li>
                                <li><a href="#">Мини бассейны и СПА</a></li>
                                <li><a href="~/Catalog/Furnaces">Печи для саун и бань</a></li>
                                <li><a href="#">Парогенераторы</a></li>
                                <li><a href="#">Снежные комнаты и льдогенераторы</a></li>
                                <li><a href="#">Аксессуары</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#">Услуги</a>
                            <ul class="dropdown-menu">
                                <li><a href="~/Service/Design">Проектирование</a></li>
                                <li><a href="~/Service/Construction">Строительство</a></li>
                                <li><a href="~/Service/Maintenance">Сервисное обслуживание</a></li>
                            </ul>
                        </li>
                        <li><a href="~/home/gallery">Портфолио</a></li>
                        <li><a href="~/home/about">О компании</a></li>
                        <li><a href="~/home/contact">Контакты</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- offcanvas-menu end -->


        <!-- Modal -->
        <div class="modal fade" id="dialog-order" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Форма заказа</h4>
                        <p>Оставьте заявку на сайте и наши специалисты ответитят Вам в ближайшее время</p>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="main-contact-form">
                                    <input type="text" id="full-name" name="name" placeholder="Ваше имя">
                                    <input type="email" id="email" name="email" placeholder="Email">
                                    <input type="text" id="subject" name="subject" placeholder="Ваш заказ">
                                    <textarea name="message" id="message" cols="30" rows="4" placeholder="Комментарий к заказу"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary btn-send-order">Отправить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- #wrapper -->
    <!-- =========================================
    JAVASCRIPT
    ========================================== -->

    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/owl.carousel.min.js"></script>
    <script src="~/Content/js/hippo-off-canvas.js"></script>
    <script src="~/Content/js/script.js"></script>
    
</body>
</html>