@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title">
                    <h2>STARPOOL DUNE</h2>
                    <ul class="breadcrumb">
                        <li><a href="~/Home/Index">Главная</a></li>
                        <li><a href="~/Catalog/Accessories">Аксессуары</a></li>
                        <li><a href="~/Catalog/Accessories/Relax">Релаксация</a></li>
                        <li class="active">Dune</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- .row-->
    </div>
    <!-- .container-->
</div>
<!-- .breadcrumb-area-->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="history">
                <div class="col-md-12">
                    <div class="col-md-6">
                        <div>
                            <img src="~/Content/img/Catalog/Accessories/Relax/dune2.jpg" alt="">
                        </div>
                        <div class="text-center">
                            <div>По запросу</div>
                            <a class="btn btn-order" href="#">Заказать</a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p>
                            <strong>STARPOOL</strong> предлагает новый способ релаксации с помощью кушетки, которая, благодаря своим характеристикам, может оставить о ней незабываемые впечатления.<br />
                            Структура DUNE, выполненная из темного дуба, содержит 250 кг отборного кварцевого песка, нагреваемого до температуры 32°C или 38°C. Кварцевый песок адаптируется к форме тела, 
                            которое располагается в идеальном анатомическом положении, и естественным образом корректирует осанку. Сухое тепло, испускаемое медленно и однородно, способствует также глубокому 
                            расслаблению мышц и снятию нервного напряжения, что благоприятно сказывается на метаболизме и регулировании сна.
                        </p>
                        <p>
                            Принадлежности:<br />
                            - хлопковая подушка, наполненная кварцевым песком<br />
                            - 10 одноразовых гигиенических покрывал<br />
                            - аудиокомплект<br />
                            - термальный матрац, который нагревается под песком<br />
                            - кварцевый песок 200 кг
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-parameters">
                    <tbody>
                        <tr>
                            <td>Размер</td>
                            <td>
                                211 х 92 х 55 (длина х ширина х высота)
                            </td>
                        </tr>
                        <tr>
                            <td>Материал</td>
                            <td>дуб натурального и темного цвета</td>
                        </tr>
                        <tr>
                            <td>Вес</td>
                            <td>
                                160 кг без наполнения песком<br />
                                410 кг - с песком

                            </td>
                        </tr>
                        <tr>
                            <td>Питание</td>
                            <td>230В, 1~</td>
                        </tr>
                        <tr>
                            <td>Потребление</td>
                            <td>2300 Вт для нагрева, 250 Вт для поддержания температуры</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- .row-->
</div>
<!-- .container-->
