@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title">
                    <h2>STARPOOL SpaTable</h2>
                    <ul class="breadcrumb">
                        <li><a href="~/Home/Index">Главная</a></li>
                        <li><a href="~/Catalog/Accessories">Аксессуары</a></li>
                        <li><a href="~/Catalog/Accessories/Relax">Релаксация</a></li>
                        <li class="active">SpaTable</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- .row-->
    </div>
    <!-- .container-->
</div>
<!-- .breadcrumb-area-->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="history">
                <div class="col-md-12">
                    <div class="col-md-6">
                        <div>
                            <img src="~/Content/img/Catalog/Accessories/Relax/spatable2.jpg" alt="">
                        </div>
                        <div class="text-center">
                            <div>По запросу</div>
                            <a class="btn btn-order" href="#">Заказать</a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p>
                            <strong>SpaTable</strong> — это инновационная кушетка от <strong>Starpool</strong> для пилинга и других процедур, сочетающая в себе эксклюзивный дизайн и максимальную функциональность. SpaTable может нагреваться до регулируемой по желанию температуры и идеально подходит для глубокого пилинга (с применением скраба, гоммажа, солей Мертвого моря и мыла), а также для процедур, требующих нанесения грязи, глины и кремообразных компрессов.<br />
                            SpaTable оснащен душевой лейкой. Отток воды обеспечивается сливом по периметральному желобку. Покрытие из Korakril обеспечивает высочайшую гигиеничность и абсолютную простоту очистки. 7 программируемых цветов, которые могут чередоваться. Практичность SpaTable повышается за счет специального матраса, который, при его укладке на стол, позволяет получить удобную массажную кушетку. Кроме того, поверхность для косметических средств подогревается.
                        </p>
                        <p>
                            Принадлежности:<br />
                            - ручной душ и кожаный матрац
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-parameters">
                    <tbody>
                        <tr>
                            <td>Размер</td>
                            <td>
                                223 х 93 х 77 (длина х ширина х высота)
                            </td>
                        </tr>
                        <tr>
                            <td>Материал</td>
                            <td>Стальная конструкция, покрытая камнем Korakril</td>
                        </tr>
                        <tr>
                            <td>Цвет</td>
                            <td>
                                Белый<br />
                                Черный
                            </td>
                        </tr>
                        <tr>
                            <td>Вес</td>
                            <td>
                                180 Кг

                            </td>
                        </tr>
                        <tr>
                            <td>Питание</td>
                            <td>230В, 1~</td>
                        </tr>
                        <tr>
                            <td>Потребление</td>
                            <td>700 Вт</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- .row-->
</div>
<!-- .container-->
