@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title">
                    <h2>STARPOOL WAVE</h2>
                    <ul class="breadcrumb">
                        <li><a href="~/Home/Index">Главная</a></li>
                        <li><a href="~/Catalog/Accessories">Аксессуары</a></li>
                        <li><a href="~/Catalog/Accessories/Relax">Релаксация</a></li>
                        <li class="active">Wave</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- .row-->
    </div>
    <!-- .container-->
</div>
<!-- .breadcrumb-area-->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="history">
                <div class="col-md-12">
                    <div class="col-md-6">
                        <div>
                            <img src="~/Content/img/Catalog/Accessories/Relax/wave2.jpg" alt="">
                        </div>
                        <div class="text-center">
                            <div>По запросу</div>
                            <a class="btn btn-order" href="#">Заказать</a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p>
                            <strong>STARPOOL</strong> предлагает новый способ релаксации с помощью кушетки, которая, благодаря своим характеристикам, может оставить о ней незабываемые впечатления. Помимо приятных ощущений от специального матраса, комфорт и мягкость которого обеспечиваются содержащейся в нем водой, <strong>WAVE</strong> предлагает инновационную аудиосистему. Каждый может слушать в наушниках свою любимую музыку, выбирая одну из 4 программ на клавиатуре. Каждая музыкальная программа сопровождается определенной подсветкой: приглушенный мягкий свет выходит из прозрачного матраса с созданием удивительных эффектов. Кроме того, система светодиодов RGB позволяет поочередно менять цвета. К WAVE можно также подключить свой плеер. Температура воды задается по желанию клиента на 32°C или на 38°C.
                        </p>
                        <p>
                            Принадлежности:<br />
                            - водяной матрас, ПВХ прозрачный<br />
                            - аудиокомплект
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-parameters">
                    <tbody>
                        <tr>
                            <td>Размер</td>
                            <td>
                                211 х 92 х 55 (длина х ширина х высота)
                            </td>
                        </tr>
                        <tr>
                            <td>Материал</td>
                            <td>дуб натурального и темного цвета</td>
                        </tr>
                        <tr>
                            <td>Вес</td>
                            <td>
                                160 кг - пустой,
                                310 кг - готовый к использованию
                            </td>
                        </tr>
                        <tr>
                            <td>Питание</td>
                            <td>230В, 1~</td>
                        </tr>
                        <tr>
                            <td>Потребление</td>
                            <td>2300 Вт для нагрева, 250 Вт для поддержания температуры</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- .row-->
</div>
<!-- .container-->
