@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function() {

        $('#slider').nivoSlider({
            directionNav: true,
            directionNavHide: false,
            controlNav: false,
            controlNavThumbs: false
        });
    });
</script>

<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title">
                    <h2>Пародушевая</h2>
                    <ul class="breadcrumb">
                        <li><a href="~/Home/Index">Главная</a></li>
                        <li class="">Каталог</li>
                        <li class=""><a href="~/Catalog/Index">СПА</a></li>
                        <li class=""><a href="~/Catalog/SteamShower">Пародушевые</a></li>
                        <li class="active">Sweet Steam Smart</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- .row-->
    </div>
    <!-- .container-->
</div>
<!-- .breadcrumb-area-->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="history">
                <h3>STARPOOL Sweet Steam Smart</h3>
                <div class="history-details">
                    <div class="pull-left" style="width: 48%;margin-right:30px;">
                        <div id="slider" class="theme-default nivoSlider">
                            <img src="~/Content/img/Catalog/SteamShower/SweetSteamSmart1.jpg" alt="">
                            <img src="~/Content/img/Catalog/SteamShower/SweetSteamSmart2.jpg" alt="">
                        </div>
                    </div>
                    <p>
                        <strong>SweetSteamSmart</strong> – это wellness, который может быть размещен любому пространству. Доступен в двух размерах и может быть индивидуализирован благодаря широкому спектру материалов. 
                        <strong>SweetSteamSmart</strong> превращает ванную комнату в личный spa-комплекс.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- .row-->
    <div class="row" style="margin-top: 30px;">
        <div class="col-md-12">
            <h4>Варианты отделки</h4>
            <div class="col-md-3">
                <div>
                    <strong>Crystal black</strong>
                </div>
                <div>
                    <img src="~/Content/img/Catalog/SweetShower/black.jpg" alt="">
                </div>
                <div class="text-center">
                    <div>По запросу</div>
                    <a class="btn btn-order" href="#">Заказать</a>
                </div>
            </div>
            <div class="col-md-3">
                <div>
                    <strong>Crystal white</strong>
                </div>
                <div>
                    <img src="~/Content/img/Catalog/SweetShower/white.jpg" alt="">
                </div>
                <div class="text-center">
                    <div>По запросу</div>
                    <a class="btn btn-order" href="#">Заказать</a>
                </div>
            </div>
            <div class="col-md-3">
                <div>
                    <strong>Luxury calacatta</strong>
                </div>
                <div>
                    <img src="~/Content/img/Catalog/SweetShower/calacatta.jpg" alt="">
                </div>
                <div class="text-center">
                    <div>По запросу</div>
                    <a class="btn btn-order" href="#">Заказать</a>
                </div>
            </div>
            <div class="col-md-3">
                <div>
                    <strong>Luxury eramosa</strong>
                </div>
                <div>
                    <img src="~/Content/img/Catalog/SweetShower/eramosa.jpg" alt="">
                </div>
                <div class="text-center">
                    <div>По запросу</div>
                    <a class="btn btn-order" href="#">Заказать</a>
                </div>
            </div>
        </div>
    </div>
    <!-- .row-->
    <div class="row" style="margin-top:60px;">
        <div class="col-md-12">
            <h4>Технические характеристики</h4>
            <div class="table-responsive">
                <table class="table table-parameters">
                    <thead>
                        <tr>
                            <th>
                                МОДЕЛЬ
                            </th>
                            <th>
                                SWEET STEAM SMART
                            </th>
                            <th>
                                SWEET STEAM SMART VISION
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td colspan="2">
                                ПОЛ ОПЦИОНАЛЬНО
                            </td>
                        </tr>
                        <tr>
                            <td>РАЗМЕРЫ (СМ)</td>
                            <td>
                                <p>С ВЫНОСНЫМ ШКАФОМ УПРАВЛЕНИЯ</p>
                                <p>105 Д х 105 Ш х 233 В</p>
                                <p>105 Д х 195 Ш х 233 В</p>
                                <p>195 Д х 105 Ш х 233 В</p>
                            </td>
                            <td>
                                <p>С ВЫДВИЖНЫМ ШКАФОМ УПРАВЛЕНИЯ</p>
                                <p>130 Д х 105 Ш х 233 В</p>
                                <p>130 Д х 195 Ш х 233 В</p>
                                <p>220 Д х 105 Ш х 233 В</p>
                            </td>
                        </tr>
                        <tr>
                            <td>ПИТАНИЕ</td>
                            <td colspan="2">230В 1Р + N + PE</td>
                        </tr>
                        <tr>
                            <td>ПОТРЕБЛЕНИЕ</td>
                            <td colspan="2">3,5 кВт</td>
                        </tr>
                        <tr>
                            <td>РЕЖИМЫ</td>
                            <td colspan="2">
                                ПАРОДУШЕВАЯ
                            </td>
                        </tr>
                        <tr>
                            <td>ТЕМПЕРАТУРА</td>
                            <td colspan="2">
                                43-45 ⁰С
                            </td>
                        </tr>
                        <tr>
                            <td>ВЛАЖНОСТЬ</td>
                            <td colspan="2">
                                98%
                            </td>
                        </tr>
                        <tr>
                            <td>ДВЕРЬ</td>
                            <td colspan="2">
                                ЗАКАЛЕНОЕ СТЕКЛО 10 ММ, СТАЛЬНАЯ РУЧКА. ШИРИНА – 87 СМ
                            </td>
                        </tr>
                        <tr>
                            <td>ЛАВКИ</td>
                            <td colspan="2">
                                ЛАВКА ОТСУТСТВУЕТ. В КОМПЛЕКТЕ ПОСТАВЛЯЕТСЯ ОДИН/ДВА ТАБУРЕТА, В ЗАВИСИМОСТИ ОТ РАЗМЕРОВ КАБИНЫ:<br />
                                105 Д х 105 Ш – 1 ТАБУРЕТ;<br />
                                105 Д х 195 Ш – 2 ТАБУРЕТА
                            </td>
                        </tr>
                        <tr>
                            <td>МАТЕРИАЛ СТЕН</td>
                            <td colspan="2">
                                <div>
                                    <p><strong>CRYSTAL</strong>: СТЕКЛО БЕЛОГО ИЛИ ЧЕРНОГО ЦВЕТА</p>
                                    <p><strong>LUXURY</strong>: МРАМОР ДВУХ РИСУНКОВ НА ВЫБОР: ERAMOSA ИЛИ CALACATTA</p>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>МУЗЫКА</td>
                            <td colspan="2">SPA-MUSIC BY STARPOOL. ОПЦИОНАЛЬНО - MP3, USB. Bluetooth</td>
                        </tr>
                        <tr>
                            <td>ОСВЕЩЕНИЕ</td>
                            <td colspan="2">RGB LED-ПЛАНКА</td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                КАБИНЫ ОСНАЩЕНЫ СЕНСОРНОЙ ПАНЕЛЬЮ, ДВУМЯ КОМПЛЕКТАМИ ДУША С ГОРЯЧЕЙ/ХОЛОДНОЙ ВОДОЙ СО СМЕСИТЕЛЕМ И ПЕРЕКЛЮЧАТЕЛЕМ С ВЕРХНЕГО НА РУЧНОЙ.
                                В ОТЛИЧИЕ ОТ ВЕРСИИ PERSONAL, ВЕРСИЯ PERSONAL PLUS ПОЗВОЛЯЕТ НАСЛАДИТЬСЯ ДОП.ОПЦИЯМИ: 1. ВЕРХНИЙ ДУШ С ВСТРОЕННЫМИ ДИФФУЗОРАМИ И ЛАМПОЙ БЕЛОГО СВЕТА ИМИТИРУЕТ ТЕПЛЫЙ ЛИВЕНЬ, СВЕЖИЙ БРИЗ ИЛИ ЛЕТНИЙ ДОЖДЬ С ЗАПАХОМ МЯТЫ И МАРАКУЙИ.
                                2. 4 WELLNESS РЕЖИМА: ПРЕДВАРИТЕЛЬНО НАСТРОЕННАЯ СМЕНА ЦВЕТОВЫХ СЦЕН, СОПРОВОЖДАЮЩАЯСЯ РАСПЫЛЕНИЕМ АРОМАТОВ И ПОДОБРАННОЙ МУЗЫКИ ДЛЯ СОЗДАНИЯ НАСТРОЕНИЯ.
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- .row-->
</div>
<!-- .container-->