@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title">
                    <h2>Электрические печи для сауны</h2>
                    <ul class="breadcrumb">
                        <li><a href="~/Home/Index">Главная</a></li>
                        <li class="">Статьи</li>
                        <li class="active">Электрические печи для сауны</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- .row-->
    </div>
    <!-- .container-->
</div>
<!-- .breadcrumb-area-->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="history">
                <div class="history-details">
                    <img src="~/Content/img/Articles/Electric/e1.jpg" style="width:250px;" alt="">
                    <p>
                        Печь в парилке – главный источник тепла. Традиционно, для обогрева дровяную печь для сауны. 
                        Но в наши дни популярность набирают электрические 
                        печи для сауны.
                    </p>
                    <img src="~/Content/img/Articles/Electric/e3.jpg" style="width:350px;float:right;" alt="">
                    <p>
                        Стандартная электрическая печь состоит из:
                        <div>
                            <ul style="padding-left:45%;">
                                <li>Корпус (1)</li>
                                <li>Корзина для камней (2)</li>
                                <li>Рама (3)</li>
                                <li>Электронагреватели (ТЭН) (4)</li>
                                <li>Монтажные кронштейны (5)</li>
                            </ul>
                        </div>
                    </p>
                    <p>
                        Корпус электрической печи для сауны заполняется камнями. Чем больше размер уложенных камней, тем быстрее прогревается пространство. В современных электрокаменках теплоизоляционный слой представлен стальными экранами.
                        Современная электрическую печь для сауны можно использовать даже в квартире.
                        Но самым главным элементов в конструкции электрической печи для сауны являются ТЭНы (трубчатые электронагреватели). Именно они разогревают камни. При использовании электрокаменки нельзя допускать попадание воды именно на ТЭНы, это в разы уменьшает срок службы печи.
                    </p>
                    <img src="~/Content/img/Articles/Electric/e2.jpg" style="width:250px;" alt="">
                    <p>
                        Основными преимущества электрических печей для сауны:
                        <ul>
                            <li>Простота установки. Можно установить в любом месте парилки, главное соблюдать общие правила пожарной безопасности и рекомендованное производителем расстояние от окружающих предметов и стен.</li>
                            <li>Управление. Современные электрокаменки могут использоваться посредством выносного пульта управления. На котором может быть задана желаемая температура в парилке, время работы и др. Достаточно просто включить устройство нажатием одной клавиши и можно готовиться к велнесу.</li>
                            <li>Безопасность. За счет автоматизации работы электрической печи для сауны исключается риск возникновения пожара и других проблем, которые могут возникнуть при использовании дровяных или газовых печей.</li>
                        </ul>
                    </p>
                   
                    <p>
                        Самые современные печи для саун изготавливаются из нержавеющей стали. Эта сталь не подвержена коррозии и деформации, отлично справляется с тепловыми нагрузками, несмотря на небольшую толщину – 4 мм. Печи из нержавеющей стали быстро прогревают помещение парной.
                        <br />
                        Электрические печи для сауны <a href="~/Catalog/Furnaces">FinTec</a> изготавливаются из 100% нержавеющей стали. Это позволяет им быстро достигать определенной температуры. В модельном ряду FinTec имеются модели печей для саун как для личного использования, так и в коммерческих парилках.
                    </p>
                    <img src="~/Content/img/Articles/Electric/e4.gif" alt="">
                    <p>
                        <strong>Bjorn</strong> и <strong>Arne</strong> способны работать бесперебойно в нещадном многочасовом режиме, что подтверждено испытаниями в Германии.
                        <br />
                        <strong>Irmina</strong> – компактные печи для саун мощностью 6 и 9 кВт. Подходят для использования в частной сауне небольшого размера. Поставляется вместе с пультом управления FinTec.
                        <br />
                        <strong>KAISA</strong> – эта электрическая печь занимает особое место в модельном ряду FinTec. Печь оборудована 5 литровым испарительным баком для воды, который подогревается за счет использования 1500 ваттной плиты. Бак легко извлечь из печи, очистить его можно даже в посудомоечной машине. ТЭНы не контактируют с камнями, что увеличивает срок службы нагревательных элементов и, в целом, электрической печи для сауны. Комплектуется отдельной чашей для ароматизаторов, располагающейся над баком для воды.
                        <br />
                        <strong>KAJA</strong> –Небольшие размеры в сочетании с минимальными безопасными расстояниями до горючих материалов обеспечивают чрезвычайно компактную установку. Щедрые отверстия для свежего воздуха в нижней части корпуса обеспечивают большое количество свежего воздуха для идеальной конвекции и самой крутой поверхности корпуса. Это приводит к низким безопасным расстояниям и особенно малой занимаемой площади. В то же время максимально возможное распределение нагретого воздуха и, таким образом, обеспечивает быстрый нагрев сауны
                        <br />
                        <strong>Diemo</strong> – печи с возможностью скрытого монтажа мощностью 9 кВт и 12 кВт, изготовлены из нержавеющей стали. Благодаря своей плоской конструкции, что не мешает ей вмещать 15 кг камней, она зашивается за стену. Электрокаменка Diemo поможет сэкономить вам пространство, а также и затраты на оборудование для сауны. Ведь не так редки ситуации, когда мощности основной печи, будь то дровяная или электрическая, недостаточно для нагрева и поддержания необходимой температуры в сауне или бане, а дополнительное оборудование, например вторая печь, «съело» бы драгоценное пространство парилки.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- .row-->
</div>
