@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title">
                    <h2>Роль печи в парилке</h2>
                    <ul class="breadcrumb">
                        <li><a href="~/Home/Index">Главная</a></li>
                        <li class="">Статьи</li>
                        <li class="active">Роль печи в парилке</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- .row-->
    </div>
    <!-- .container-->
</div>
<!-- .breadcrumb-area-->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="history">
                <div class="history-details">
                    <img src="~/Content/img/Articles/Role/role1.jpg" alt="">
                    <p>
                        При строительстве бани или сауны выбор печи является одним из
                        главных вопросов.
                        Именно от качества выбранной печи для сауны зависит весь процесс
                        парения и оздоровительный эффект, получаемый человеком после
                        посещения сауны.
                        При выборе печи необходимо учитывать режим эксплуатации: русская
                        баня подразумевает микроклимат с температурой 60 градусов и 50%
                        влажности, а финская сауна – 90 градусов и 5-15% влажности.
                        Печи для саун и бань существуют следующих видов:
                        <ul>
                            <li>
                                <strong>Электрические</strong>
                                Не требуют использования системы дымоудаления.
                                Просты в эксплуатации.
                                Для управления используется дистанционный пульт.
                                Нагрев камней происходит за счет трубчатых
                                электронагревателей (ТЭН).
                            </li>
                            <li>
                                <strong>Дровяные</strong>
                                Просты и надежны. В качестве топлива можно использовать не
                                только дрова, но и угли. Для эксплуатации такого вида печей
                                необходим монтаж дымохода. Места установки должны быть
                                облицованы негорючими материалами. В основном, для обшивки
                                используются натуральные камни, специальные кирпичи или
                                листовая сталь.
                            </li>
                            <li>
                                <strong>Газовые</strong>
                                Чтобы использовать газовые печи необходимо получение
                                разрешение от газовой службы.
                                Самый непопулярный и небезопасный вид печей для саун.
                            </li>
                        </ul>
                        Печи для саун с большим объемом камней характеризуются
                        высокой теплосберегающей мощностью. Обеспечивается прямая и
                        равномерная отдача тепла. Благодаря хорошей аккумуляции тепла,
                        уже начиная с 65 градусов возможно получить хороший пар и начинать
                        процедуру парения.<br />
                        Самые качественные и современные печи для саун
                        изготавливаются из нержавеющей стали. Данный вид стали не
                        подвержен коррозии и деформации, отлично справляется с тепловыми
                        нагрузками, несмотря на небольшую толщину – 4 мм. Печи из
                        нержавеющей стали быстро прогревают помещение парной.<br />
                        Электрические печи для саун и бань немецкой компании <strong>FinTec</strong>
                        изготавливаются из нержавеющей стали, имеют высокий КПД и
                        способствуют достижению необходимой рабочей температуры в
                        короткий срок.
                    </p>
                    <img src="~/Content/img/Articles/Role/role2.jpg" alt="">
                    <p>
                        Дровяные печи <strong>FinTec</strong> – источник тепла необыкновенного
                        свойства. Высококачественные жаростойкие стали с толщиной
                        материала 6 мм гарантируют долгую эксплуатацию. Соответствуют 1
                        BlmSchV (немецкий закон о предельных значениях, выделяемых при
                        горении вредных веществ в атмосферу). Данные печи для сауны
                        оснащаются самозакрывающейся дверцей с жесткой блокировкой и
                        автоматически закрывающимся лючком притока воздуха, благодаря
                        этому возможно подключение камина и печи к одному дымоходу, либо
                        подключение нескольких печей к одному дымоходу. Дровяные Печи для
                        сауны <strong>FinTec Premium line</strong> можно устанавливать на пол без
                        использования каких-либо изоляционных материалов.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- .row-->
</div>
