@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title">
                    <h2>Строительство</h2>
                    <ul class="breadcrumb">
                        <li><a href="~/Home/Index">Главная</a></li>
                        <li class="active">Услуги</li>
                        <li class="active">Строительство</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- .row-->
    </div>
    <!-- .container-->
</div>
<!-- .breadcrumb-area-->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="history">
                <h3>Строительство бассейнов и SPA</h3>
                <div class="history-details">
                    <img src="~/Content/img/mission.jpg" alt="">
                    <p>
                        Компания <strong>Wellness Solution</strong> предлагает полный спект услуг по комплексному строительству бассейнов любых конфигураций, SPA зон с сауной, хамамом как в фитнес центре, так и в часном секторе.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- .row-->
</div>
<!-- .container-->
<div class="container">
    <div class="row">
        <div class="company-focus">
            <div class="col-md-6 col-xs-12">
                <div class="company-mision">
                    <h3>ИНФРАКРАСНЫЕ КАБИНЫ И САУНЫ</h3>
                    <img src="~/Content/img/service/service1.jpg" alt="">
                    <p>
                        Что такое финская сауна знают все. Это специальное помещение для парения с температурой от 80 до 100 ºС и влажностью 10-20%. Изнутри сауна обшита деревом и оснащена печью-каменкой. Полки для сауны выполнены из ценной породы дерева - абаши, и имеют удивительные свойства не нагреваться, издавая приятный запах и сохраняя прекрасный внешний вид. Стены и потолок выполнены из селекционного хемлока - североамериканской хвойной породы древесины, семейства тсуга.    По желанию возможно выполнить отделку стен и потолка древесной вагонкой из пихты и термообработанной древесины - Thermowood. Древесина Thermowood является более влагостойкой и долговечной в использовании. Более того, интерьер сауны будет выглядеть более дорогим за счет темного оттенка древесины Thermowood.    Управление работой печи осуществляется с помощью панели управления, представляющей собой электронный регулятор для сауны, с большим жидкокристаллическим контрастным дисплеем и задней подсветкой.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="company-vision">
                    <h3>ХАММАМ</h3>
                    <img src="~/Content/img/service/service2.jpg" alt="">
                    <p>
                        Традиция посещения турецкой бани хаммам - неотъемлемая часть не только древней, но и современной культуры. Особенной популярностью посещение турецких бань пользуется у женщин, так как не высокая температура и высокая влажность особенно благотворно воздействуют на кожу. Этим турецкие бани принципиально отличаются от финских саун с горячим и сухим воздухом.    Для многих людей именно режим турецкой бани является идеальным для укрепления здоровья. Микроклимат паровой бани особенно полезен при заболеваниях дыхательных путей, проблемах сердечно - сосудистой системы, а также во многих других случаях, когда противопоказаны высокие тепловые нагрузки. Однако, классическая турецкая баня в процессе своего распространения по миру подверглась различным модификациям. В частности, отсутствие каких - либо систем подогрева кроме подачи пара в некоторых случаях совершенно неприемлемо.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- .row-->
</div>
<!-- .container-->
<div class="container">
    <div class="row">
        <div class="company-focus">
            <div class="col-md-6 col-xs-12">
                <div class="company-mision">
                    <h3>ГИДРОМАССАЖНЫЕ ВАННЫ</h3>
                    <img src="~/Content/img/service/service3.jpg" alt="">
                    <p>
                        Популярный сегодня гидромассаж представляет собой воздействие струй воды под давлением на тело человека. Подобная процедура известна своим глубоким и интенсивным оздоравливающим эффектом.    Теплая вода благотворно влияет на весь организм и хорошо помогает расслабиться.    Благодаря современным технологиям использования удобной формы, возможности гидромассажных ванн стали гораздо шире. Они могут выполнять массажные функции как расслабляющего, так и тонизирующего типа.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="company-vision">
                    <h3>СОЛНЕЧНЫЕ СИМУЛЯТОРЫ</h3>
                    <img src="~/Content/img/service/service4.jpg" alt="">
                    <p>
                        Безопасные солнечные ванны. Доказано, что солнечный свет оказывает положительное влияние при подавленности и депрессии. Но солнце не только доставляет удовольствие. Многочисленные исследования показали, что человеку необходимо определенное количество солнечного света для поддержания здоровья. Солнечный свет помогает организму вырабатывать витамин D3 и даже создает условия для блокирования мелатонина (гормона сна), что позволяет нам ощущать хорошее самочувствие. В то время, когда происходит воздействие тепла настоящего солнечного света, укрепляется иммунная система, снимается боль в мышцах и суставах, улучшается кровообращение. Искусственное солнце обеспечивает терапевтически полезную дозу солнечных лучей, которая особенно полезна для людей старшего поколения в условиях нашей повседневной, обделенной солнцем жизни.    Низкая доза ультрафиолетового излучения создает условия для формирования защитных пигментов в коже точно так же, как при натуральных солнечных ваннах. Это означает, что Вы можете наслаждаться солнцем в течение продолжительного времени, не задумываясь о риске для здоровья. Другими словами, система Suntech позволяет получить тот же самый положительный эффект, как при нахождении на открытом воздухе, предлагая только безопасную дозу солнечного тепла и света.                    
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- .row-->
</div>
<!-- .container-->
<div class="container">
    <div class="row">
        <div class="company-focus">
            <div class="col-md-6 col-xs-12">
                <div class="company-mision">
                    <h3>CНЕЖНАЯ КОМНАТА</h3>
                    <img src="~/Content/img/service/service5.jpg" alt="">
                    <p>
                        После посещения бани или сауны рекомендуемой процедурой является охлаждение тела. Это необходимо для достижения оптимального эффекта оздоровления, поскольку контрастная смена температур благотворно влияет на организм человека. Превосходным решением для охлаждения тела является посещение «Снежной комнаты». Установку «Снежная комната» можно использовать не только в развлекательных и СПА-центрах, но и в частных коттеджах и саунах. В жаркий летний день можно прогуляться босиком по снегу, а возможность почувствовать хруст снега под ногами никого не оставит равнодушным.                    
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="company-vision">
                    <h3>ЛЕДЯНОЙ ФОНТАН</h3>
                    <img src="~/Content/img/service/service6.jpg" alt="">
                    <p>
                        Ледяной фонтан “Ice FallSystem” используется для проведения контрастных процедур после бани. Мелкими чешуйками льда можно обтирать тело, лицо, использовать их для локального охлаждения.    Ледяной фонтан снимает стресс и чувство тревоги, тонизирует и укрепляет кожу и сосуды, стимулирует кровообращение, укрепляет иммунную систему и придает небывалый заряд бодрости после посещения бани или сауны.    Ледяной фонтан состоит из ледогенератора, системы подготовки, которая готовит лед необходимой фракции, канала поступления и контейнера из высококачественной стали для сбора и хранения льда.    Может использоваться в различных дизайнерских решениях, под стиль Вашего термального комплекса.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- .row-->
</div>
<!-- .container-->
<div class="container">
    <div class="row">
        <div class="company-focus">
            <div class="col-md-6 col-xs-12">
                <div class="company-mision">
                    <h3>ДОРОЖКА КНЕЙПА</h3>
                    <img src="~/Content/img/service/service7.jpg" alt="">
                    <p>
                        Немецкий священник Себастьян Кнейп (Sebastian Kneipp) в середине 19 века разработал систему оздоровления организма, основанную на водолечении. Основы его теории изложены в книге «Моё водолечение». Она переиздавалась в Европе и в России много раз и стала настоящим бестселлером.  В наше время советы Кнейпа находят много поклонников. Его метод достаточно прост, но очень эффективен. Он рекомендует водные процедуры, которые стимулируют работу кровообращения и мелких капилляров. В результате воздействия разных температур удаётся создать прилив крови к ногам, понижая таким образом нагрузку на капилляры головного мозга.  Первая часть книги Кнейпа посвящена хождению босиком по мокрой траве, влажным камням, холодной воде, а также по свежему снегу. Современные интерпретации дорожки Кнейпа могут быть исполнены в виде прямого канала с чередующимися отделениями с разной температурой воды, а также - в виде круглого резервуара с несколькими секторами.  Ванночки автоматически наполняются теплой и/или холодной водой при помощи форсунок. Можно управлять временем подачи воды, температурой, включением гидромассажных форсунок, режимом дезинфекции.  Смена температур активизирует иммунные функции организма, повышает общий тонус, благоприятно влияет на сердечно-сосудистую деятельность организма.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="company-vision">
                    <h3>ДУШ ВПЕЧАТЛЕНИЙ</h3>
                    <img src="~/Content/img/service/service8.jpg" alt="">
                    <p>
                        Душ впечатлений - это оборудование, позволяющее ощутить на себе воздействие природы, почувствовать различные запахи и звуки, побывать под дождем в различных климатических зонах.  Существует несколько температурных режимов, различные виды форсунок, световые эффекты, эффект молнии, акустическая система, воздействие на обоняние с помощью экзотических ароматов. Мягкий ласкающий дождь, тропический ливень с огромными каплями, ледяные каскады брызг, английский туман, острый массирующий поток. Каждому клиенту можно подобрать индивидуальный комплекс водных процедур. При этом сильные струи массируют тело и очищают поверхность кожи. Некоторые виды душей представляют собой цепочку из четырех «душей впечатлений», которые устанавливаются вдоль коридора, длиной порядка пяти метров. Технология самой процедуры заключается в том, чтобы войти в этот коридор с одной стороны и выйти с другой. Душевая аллея “Water Paradise” позволяет достичь сильного эмоционального впечатления.  Различные типы водных струй - от невесомого холодного тумана до проливного тропического дождя - дополненные четырьмя эффектными подсветками и ароматами, подарят незабываемые ощущения.  Гидротерапия, арома и хромотерапия. Эти виды воздействий оказывают тонизирующее и восстанавливающее действие на организм, дарят прекрасное настроение и легкость, дают жизни новый импульс, раскрашивая её в яркие цвета и спасая от монотонности будней.                    
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- .row-->
</div>
<!-- .container-->
<div class="container">
    <div class="row">
        <div class="company-focus">
            <div class="col-md-6 col-xs-12">
                <div class="company-mision">
                    <h3>ТЕПЛОВОЙ ШЕЗЛОНГ</h3>
                    <img src="~/Content/img/service/service9.jpg" alt="">
                    <p>
                        Благодаря излучаемому поверхностью шезлонга теплу, сосуды кожи расширяются, в них улучшается кровообращение, усиливается обмен веществ, что в результате - позволяет достичь максимального эффекта от проводимых процедур.   Шезлонг «Клеопатра» - это расслабляющая роскошь в сочетании с мечтательной романтичностью, которые создадут все условия для комфортного и изысканного отдыха в Вашем доме.    Улучшая расслабление мышц, такой шезлонг помогает работе массажиста, повышая эффективность массажа, сохраняя ощущение бодрости и хорошего настроения в течение длительного времени.                    
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="company-vision">
                    <h3>СОЛЯНАЯ КОМНАТА</h3>
                    <img src="~/Content/img/service/service10.jpg" alt="">
                    <p>
                        Соляная комната - это процедура для оздоровления организма, основанная на использовании солевого аэрозоля. За счет взаимодействия с солевым аэрозолем в помещении соляной комнаты создается и поддерживается безбактериальная, гипоаллергенная воздушная среда. Соляная комната представляет собой специально выделенное помещение, в котором монтируется галогенератор. Галогенератор насыщает воздух соляной комнаты сухим, мелкодисперсным аэрозолем хлорида натрия, параметры которого соответствуют лечебному воздуху природных соляных пещер. Находящиеся в этом воздухе сухие микрочастицы соли, проникая в дыхательные пути, очищают их, убивают микробы, уменьшают воспалительные процессы, восстанавливают нормальную микрофлору. Осаждаясь на кожные покровы и волосы, оказывают лечебное и косметическое действие, приводят к восстановлению рН кожи, повышают её упругость, улучшают состояние волос.   Для удобства принятия оздоровительных процедур в помещении устанавливаются кресла. Соляная комната оборудуется различной дополнительной аппаратурой. Как правило, в соляной комнате создается интерьер, имитирующий натуральную соляную пещеру. Стены, пол и потолок по специальной технологии покрываются природной каменной солью. Это позволяет реализовать различные дизайнерские решения интерьера соляной комнаты, которые невозможно повторить. Создается соответствующее освещение, такая атмосфера оказывает положительное воздействие на нервную систему и психоэмоциональную сферу. Нахождение в соляной комнате способствует очищению легких, восстановлению и оздоровлению кожи, снятию аллергических состояний организма и достижению оптимальной релаксации. Жесткие требования к помещению, гидроизоляция, отсутствие лишней проводки.    Размеры помещений: Лечебное помещение - 6-30 м²; Операторская - 4-12 м²; Гардеробная (тамбур) - 5-8 м². Лечебное помещение и операторскую размещают в смежных помещениях или в помещении, которое можно разделить на две-три части.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- .row-->
</div>
<!-- .container-->
<div class="container">
    <div class="row">
        <div class="company-focus">
            <div class="col-md-6 col-xs-12">
                <div class="company-mision">
                    <h3>КОСМЕТОЛОГИЧЕСКИЕ КОМНАТЫ</h3>
                    <img src="~/Content/img/service/service11.jpg" alt="">
                    <p>
                        СПА косметика - это средство на пути к здоровью и красоте.    Lluvia Evolution Matrix - это wellness кабина высокого качества, функциональная и полностью оборудованная различными аксессуарами.    В потолок кабины Lluvia Evolution Matrix вмонтирован ЖК-телевизор с плоским экраном, домашний кинотеатр с системой Dolby Digital Surround.    Многофункциональная паровая СПА кушетка Lluvia Line Matrix с водяным матрасом, вибромассажем и ароматерапией.    Подогреваемый водный матрас обеспечивает эффект флоатинга во время проведения сеансов массажа, эстетических и СПА процедур.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="company-vision">
                    <h3>СОЛЯРИЙ</h3>
                    <img src="~/Content/img/service/service12.jpg" alt="">
                    <p>
                        Мода капризна и непредсказуема. Однако нет ничего более постоянного, чем мода на красивый ровный загар. Плюсуем к эстетике тренд здорового образа жизни и получаем самую востребованную услугу салонов красоты - загар в солярии.    Преимущества солярия:    Загар в солярии считается более безопасным, так как в нем отсутствует ультрафиолет.    Все современные солярии оснащены электронными таймерами, которые позволяют задать нужный временной интервал для загара.    Посещение солярия благоприятно влияет на процесс лечения различных заболеваний. Загорать в солярии можно в любое время года, не беспокоясь о планировании своего личного времени, ведь сеанс загара в солярии длится всего несколько минут, а эффективность загара выше, чем у естественного на солнце.    Горизонтальные солярии являются классическими, т.к. наиболее соответствуют привычному положению тела. Во время сеанса они дают клиенту не только качественный загар, но и ощущение комфорта.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- .row-->
</div>
<!-- .container-->