@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function() {

        $('#slider').nivoSlider({
            directionNav: true,
            directionNavHide: false,
            controlNav: false,
            controlNavThumbs: false
        });
    });
</script>

<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title">
                    <h2>Модульные сауны</h2>
                    <ul class="breadcrumb">
                        <li><a href="~/Home/Index">Главная</a></li>
                        <li class="">Каталог</li>
                        <li><a href="~/Catalog/Sauna">Сауны</a></li>
                        <li class="active">Sweet Sauna Pro</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- .row-->
    </div>
    <!-- .container-->
</div>
<!-- .breadcrumb-area-->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="history">
                <h3>Модульная сауна Sweet Sauna Pro</h3>
                <div class="history-details">
                    <div class="pull-left" style="width: 48%;margin-right:30px;">
                        <div id="slider" class="theme-default nivoSlider">
                            <img src="~/Content/img/Catalog/Sauna/SweetSaunaPro1.jpg" alt="">
                            <img src="~/Content/img/Catalog/Sauna/SweetSaunaPro2.jpg" alt="">
                        </div>
                    </div>
                    <p>
                        <strong>Sweet Sauna Pro</strong> — это тщательно спроектированная финская сауна, в которой традиции возрождаются благодаря инновациям.
                        Свет от светодиодных планок RGB повторяет элегантные линии вагонки, подчеркивая ее формы и сущность. Гармония таких эстетически чарующих материалов,
                        как дуб, стекло/мрамор стены за печью и закаленное стекло дверки создают идеальную среду для исполнения ваших желаний.
                    </p>
                    <p>
                        <strong>Sweet Sauna Pro</strong> — это готовое изделие, выпускаемое с двумя видами отделки, "Cortina" и "Milano", и поставляемое с богатым оснащением,
                        серийно - с подсветкой и аудиосистемой MP3. Внутренняя печь создает атмосферу финской сауны (температура 90 °C, относительная влажность 10-20 %).
                        В качестве альтернативы печь с увлажнителем позволяет получить мягкую сауну с температурой 50-60 °C и относительной влажностью 40-60%.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <br />
    <!-- .row-->
    <div class="row">
        <div class="col-md-12">
            <h4>Варианты отделки</h4>
            <div class="col-xs-6">
                <div>
                    <strong>Cortina</strong>
                </div>
                <div class="sel-matherial">
                    <img src="~/Content/img/Catalog/Sauna/cortina.jpg" alt="">
                </div>
                <div class="cost-matherial text-center">
                    <div>По запросу</div>
                    <a class="btn btn-order" href="#">Заказать</a>
                </div>
            </div>
            <div class="col-xs-6">
                <div>
                    <strong>Milano</strong>
                </div>
                <div class="sel-matherial">
                    <img src="~/Content/img/Catalog/Sauna/milano.jpg" alt="">
                </div>
                <div class="cost-matherial text-center">
                    <div>По запросу</div>
                    <a class="btn btn-order" href="#">Заказать</a>
                </div>
            </div>
        </div>
    </div>
    <!-- .row-->
    <div class="row" style="margin-top:60px;">
        <div class="col-md-12">
            <h4>Технические характеристики</h4>
            <div class="table-responsive">
                <table class="table table-parameters">
                    <thead>
                        <tr>
                            <th>
                                Модель
                            </th>
                            <th>
                                SWEET SAUNA PRO
                            </th>
                            <th>
                                SWEET SAUNA PRO VISION
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td colspan="2">
                                БЕЗ ПОЛА
                            </td>
                        </tr>
                        <tr>
                            <td>ДОСТУПНЫЕ РАЗМЕРЫ (СМ)</td>
                            <td colspan="2">
                                <p>195 Д х 195 Ш х 230 В</p>
                                <p>285 Д х 195 Ш х 230 В</p>
                                <p>285 Д х 285 Ш х 230 В</p>
                                <p>375 Д х 285 Ш х 230 В</p>
                                <p>375 Д х 375 Ш х 252 В</p>
                            </td>
                        </tr>
                        <tr>
                            <td>ПИТАНИЕ</td>
                            <td colspan="2">400 В 3~</td>
                        </tr>
                        <tr>
                            <td>ПОТРЕБЛЕНИЕ</td>
                            <td colspan="2">6.5-24.5 кВт</td>
                        </tr>
                        <tr>
                            <td>РЕЖИМЫ</td>
                            <td colspan="2">
                                <div>
                                    <p>ФИНСКАЯ САУНА</p>
                                    <p>«МЯГКАЯ» САУНА (ДОП.)</p>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>ТЕМПЕРАТУРА</td>
                            <td colspan="2">
                                <div>
                                    <p>90-100 ⁰С В РЕЖИМЕ ФИНСКОЙ САУНЫ</p>
                                    <p>50-60 ⁰С – В РЕЖИМЕ «МЯГКОЙ» САУНЫ</p>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>ВЛАЖНОСТЬ</td>
                            <td colspan="2">
                                <div>
                                    <p>10-20 % - С В РЕЖИМЕ ФИНСКОЙ САУНЫ</p>
                                    <p>40-60 % – В РЕЖИМЕ «МЯГКОЙ» САУНЫ</p>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>ДВЕРЬ/РАМКА</td>
                            <td>
                                РАМКА ДВЕРИ ИЗ СТАЛИ AISI316L
                                ЗАКАЛЕННОЕ СТЕКЛО 10 ММ.
                                ШИРИНА ДВЕРИ 87 СМ
                                РУЧКА – ДЕРЕВО/СТАЛЬ
                            </td>
                            <td>
                                РАМКА ПО ПЕРИМЕТРУ ПОРТАЛА ИЗ НАТУРАЛЬНОГО ДУБА 3 СМ.
                                ЗАКАЛЕННОЕ СТЕКЛО 10ММ.
                                ШИРИНА ДВЕРИ 87 СМ
                                РУЧКА – ДЕРЕВО/СТАЛЬ
                            </td>
                        </tr>
                        <tr>
                            <td>МАТЕРИАЛ ЛАВКИ, ПОТОЛОКА И ОТДЕЛКИ ПЕЧИ</td>
                            <td colspan="2">ТЕРМООБРАБОТАННЫЙ ДУБ</td>
                        </tr>
                        <tr>
                            <td>МАТЕРИАЛ СТЕН</td>
                            <td colspan="2">
                                <div>
                                    <p><strong>CORTINA</strong>: СТИЛЬНЫЙ АСИММЕТРИЧНЫЙ РИСУНОК, РАЗГРАФЛЕННЫЙ НА СВЕТЛОМ ДУБЕ</p>
                                    <p><strong>MILANO</strong>: ЧЕРЕДОВАНИЕ СВЕТЛЫХ И ТЕМНЫХ ПРОФИЛЕЙ НАТУРАЛЬНОГО И ТЕРМООБРАБОТАННОГО ДУБА</p>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>МАТЕРИАЛ СТЕНЫ ЗА ПЕЧЬЮ</td>
                            <td colspan="2">
                                <div>
                                    <p><strong>CRYSTAL</strong>: СТЕКЛО С ОКРАСОМ ОБОРОТНОЙ  СТОРОНЫ В БЕЛЫЙ ИЛИ ЧЕРНЫЙ ЦВЕТ</p>
                                    <p><strong>LUXURY</strong>: МРАМОР ДВУХ РИСУНКОВ НА ВЫБОР</p>
                                </div>

                            </td>
                        </tr>
                        <tr>
                            <td>УПРАВЛЕНИЕ</td>
                            <td colspan="2">ИЗ ТЕХНИЧЕСКОГО ПОМЕЩЕНИЯ, ЗА ИСКЛЮЧЕНИЕМ АВАРИЙНОЙ КНОПКИ, РАЗМЕЩЕННОЙ ВНУТРИ.</td>
                        </tr>
                        <tr>
                            <td>МУЗЫКА</td>
                            <td colspan="2">SPA-MUSIC BY STARPOOL. MP3, USB. Bluetooth (дополнительно)</td>
                        </tr>
                        <tr>
                            <td>ОСВЕЩЕНИЕ</td>
                            <td colspan="2">RGB LED-ПЛАНКА</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- .row-->
</div>
<!-- .container-->
