@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function() {

        $('#slider').nivoSlider({
            directionNav: true,
            directionNavHide: false,
            controlNav: false,
            controlNavThumbs: false
        });
    });
</script>

<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title">
                    <h2>Модульные сауны</h2>
                    <ul class="breadcrumb">
                        <li><a href="~/Home/Index">Главная</a></li>
                        <li class="">Каталог</li>
                        <li><a href="~/Catalog/Sauna">Сауны</a></li>
                        <li class="active">Sweet Sauna Smart Infrared</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- .row-->
    </div>
    <!-- .container-->
</div>
<!-- .breadcrumb-area-->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="history">
                <h3>Модульная сауна SweetSaunaSmarat INFRAFED / SweetSaunaSmart COMBI</h3>
                <div class="history-details">
                    <div class="pull-left" style="width: 48%;margin-right:30px;">
                        <div id="slider" class="theme-default nivoSlider">
                            <img src="~/Content/img/Catalog/Sauna/SweetSaunaSmartInfrared1.jpg" alt="">
                            <img src="~/Content/img/Catalog/Sauna/SweetSaunaSmartInfrared2.jpg" alt="">
                        </div>
                    </div>
                    <p>
                        <strong>SweetSaunaSmart Infrared</strong> – эффективное и безопасное локальное тепловое воздействие на тело. Керамические лампы, наполненные лавовым песком, и низкотемпературная инфракрасное оборудование, находящееся в эргономическом сидении, нагревают тело изнутри. Отсутствие печи делает возможным безопасную установку инфракрасной сауны в абсолютно неконтролируемых помещениях таких как, гостиничные номера. 
                    </p>
                    <p>
                        <strong>SweetSaunaSmart Combi</strong> сочетает в себе классическую финскую сауну (80-90°C) и инфракрасную сауну, обволакивающую более мягким теплом (35-40°C).
                    </p>
                    <p>Инфракрасные сауны основаны на технологии <strong>PHYSIOTHERM</strong>.</p>
                </div>
            </div>
        </div>
    </div>
    <br />
    <!-- .row-->
    <div class="row">
        <div class="col-md-12">
            <h4>Варианты отделки</h4>
            <div class="col-md-6">
                <div>
                    <strong>Cortina</strong>
                </div>
                <div>
                    <img src="~/Content/img/Catalog/Sauna/cortina.jpg" alt="">
                </div>
                <div class="text-center">
                    <div>По запросу</div>
                    <a class="btn btn-order" href="#">Заказать</a>
                </div>
            </div>
            <div class="col-md-6">
                <div>
                    <strong>Milano</strong>
                </div>
                <div>
                    <img src="~/Content/img/Catalog/Sauna/milano.jpg" alt="">
                </div>
                <div class="text-center">
                    <div>По запросу</div>
                    <a class="btn btn-order" href="#">Заказать</a>
                </div>
            </div>
        </div>
    </div>
    <!-- .row-->
    <div class="row" style="margin-top:60px;">
        <div class="col-md-12">
            <h4>Технические характеристики</h4>
            <div class="table-responsive">
                <table class="table table-parameters">
                    <thead>
                        <tr>
                            <th>
                                Модель
                            </th>
                            <th>
                                SWEET SAUNA SMART INFRARED VISION
                            </th>
                            <th>
                                SWEET SAUNA SMART COMBI (VISION)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td width="150">ВЕРСИИ</td>
                            <td colspan="2">
                                В ОТЛИЧИЕ ОТ ВЕРСИИ <strong>PERSONAL</strong>, ВЕРСИЯ <strong>PERSONAL PLUS</strong> ПОЗВОЛЯЕТ НАСЛАДИТЬСЯ 
                                ДОП.ОПЦИЯМИ: 4 WELLNESS РЕЖИМА ПРЕДВАРИТЕЛЬНО НАСТРОЕННАЯ СМЕНА ЦВЕТОВЫХ СЦЕН, 
                                СОПРОВОЖДАЮЩАЯСЯ РАСПЫЛЕНИЕМ АРОМАТОВ И ПОДОБРАННОЙ МУЗЫКИ ДЛЯ СОЗДАНИЯ НАСТРОЕНИЯ.
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td colspan="2">ПОЛ ОПЦИОНАЛЬНО</td>
                        </tr>
                        <tr>
                            <td>ШКАФ УПРАВЛЕНИЯ</td>
                            <td>
                                <table class="table">
                                    <tr>
                                        <td style="border:none;visibility:hidden;"></td>
                                        <td style="border:none;">ВЫНОСНОЙ</td>
                                        <td style="border:none;">ВЫДВИЖНОЙ</td>
                                    </tr>
                                </table>
                            </td>
                            <td>
                                <table class="table">
                                    <tr>
                                        <td style="border:none;visibility:hidden;"></td>
                                        <td style="border:none;">ВЫНОСНОЙ</td>
                                        <td style="border:none;">ВЫДВИЖНОЙ</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>ДОСТУПНЫЕ РАЗМЕРЫ (СМ)</td>
                            <td>
                                <table class="table">
                                    <tr>
                                        <td style="border:none;visibility:hidden;"></td>
                                        <td style="border:none;">105 Д х 105 Ш х 233 В</td>
                                        <td style="border:none;">130 Д х 105 Ш х 233 В</td>
                                    </tr>
                                    <tr>
                                        <td style="border:none;visibility:hidden;"></td>
                                        <td style="border:none;">195 Д х 105 Ш х 233 В</td>
                                        <td style="border:none;">220 Д х 105 Ш х 233 В</td>
                                    </tr>
                                </table>
                            </td>
                            <td>
                                <table class="table">
                                    <tr>
                                        <td style="border:none;visibility:hidden;"></td>
                                        <td style="border:none;">105 Д х 195 Ш х 233 В</td>
                                        <td style="border:none;">130 Д х 195 Ш х 233 В </td>
                                    </tr>
                                    <tr>
                                        <td style="border:none;visibility:hidden;"></td>
                                        <td style="border:none;">195 Д х 105 Ш х 233 В</td>
                                        <td style="border:none;">220 Д х 105 Ш х 233 В</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>ПИТАНИЕ</td>
                            <td colspan="2">230В 1Р + N + PE</td>
                        </tr>
                        <tr>
                            <td>ПОТРЕБЛЕНИЕ</td>
                            <td>1 кВт</td>
                            <td>4,5 кВт</td>
                        </tr>
                        <tr>
                            <td>РЕЖИМЫ</td>
                            <td>ИНФРАКРАСНАЯ САУНА</td>
                            <td>ФИНСКАЯ И ИНФРАКРАСНАЯ САУНА</td>
                        </tr>
                        <tr>
                            <td>ТЕМПЕРАТУРА</td>
                            <td>35-40 ⁰С</td>
                            <td>
                                80-90 ⁰С/35-40 ⁰С
                            </td>
                        </tr>
                        <tr>
                            <td>ВЛАЖНОСТЬ</td>
                            <td colspan="2">
                                10-20 %
                            </td>
                        </tr>
                        <tr>
                            <td>ДВЕРЬ/РАМКА</td>
                            <td colspan="2">
                                РАМКА ДВЕРИ ИЗ СТАЛИ AISI316L. ВЕРСИИ VISION – ПО ПЕРИМЕТРУ ПОРТАЛА РАМКА ИЗ НАТУРАЛЬНОГО ДУБА
                                ЗАКАЛЕННОЕ СТЕКЛО 10 ММ.
                                ШИРИНА ДВЕРИ 87 СМ
                                РУЧКА – ДЕРЕВО/СТАЛЬ
                            </td>
                        </tr>
                        <tr>
                            <td>МАТЕРИАЛ ЛАВКИ И ПОТОЛКА</td>
                            <td colspan="2">ТЕРМООБРАБОТАННЫЙ ДУБ</td>
                        </tr>
                        <tr>
                            <td>МАТЕРИАЛ СТЕН</td>
                            <td colspan="2">
                                <div>
                                    <p><strong>CORTINA</strong>: СВЕТЛЫЙ ДУБ СО СТИЛЬНЫМ РИСУНКОМ</p>
                                    <p><strong>MILANO</strong>: ЧЕРЕДОВАНИЕ СВЕТЛЫХ И ТЕМНЫХ ПОЛОС ДУБА</p>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>МАТЕРИАЛ СТЕНЫ ЗА ПЕЧЬЮ</td>
                            <td colspan="2">
                                <div>
                                    <p><strong>CRYSTAL</strong>: СТЕКЛО С ОКРАСОМ ОБОРОТНОЙ  СТОРОНЫ В БЕЛЫЙ ИЛИ ЧЕРНЫЙ ЦВЕТ</p>
                                    <p><strong>LUXURY</strong>: МРАМОР ДВУХ РИСУНКОВ НА ВЫБОР: ERAMOSA ИЛИ CALACATTA</p>
                                </div>

                            </td>
                        </tr>
                        <tr>
                            <td>МУЗЫКА</td>
                            <td colspan="2">SPA-MUSIC BY STARPOOL. MP3, USB. Bluetooth</td>
                        </tr>
                        <tr>
                            <td>ОСВЕЩЕНИЕ</td>
                            <td colspan="2">RGB LED-ПЛАНКА</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- .row-->
</div>
<!-- .container-->
