@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title">
                    <h2>Шезлонг Synua</h2>
                    <ul class="breadcrumb">
                        <li><a href="~/Home/Index">Главная</a></li>
                        <li><a href="~/Catalog/Accessories">Аксессуары</a></li>
                        <li><a href="~/Catalog/Accessories/Deckchairs">Шезлонги</a></li>
                        <li class="active">Synua</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- .row-->
    </div>
    <!-- .container-->
</div>
<!-- .breadcrumb-area-->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="history">
                <div class="col-md-12">
                    <div class="col-md-6">
                        <div>
                            <img style="max-width:400px;" src="~/Content/img/Catalog/Accessories/Deckchairs/Synua.jpg" alt="">
                        </div>
                        <div class="text-center">
                            <div>По запросу</div>
                            <a class="btn btn-order" href="#">Заказать</a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p>
                            Элегантная легкая форма определяет универсальный характер SYNUA, название которой происходит от извилистой линии, плода тщательного формального поиска, способной обеспечить оптимальный комфорт. Приподнятое расположение ног, размещенных на уровне сердца, обеспечивает релаксацию в идеальном анатомическом положении. Простое элегантное основание, соединенное со стержнем из блестящей стали, выполнено из массива дуба натурального цвета или мокка. Сиденье с мягкой набивкой обтянуто тканью высочайшего качества, предназначенной для обеспечения максимальной гигиеничности (антимикробная и антибактериальная) и воспроизведения уникального ощущения, создаваемого натуральной кожей.
                        </p>
                        <p>
                            Размеры (см): 180 х 63 х 90<br />
                            Вес: 42 кг
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-parameters">
                    <tbody>
                        <tr>
                            <td>Материал</td>
                            <td colspan="4">
                                многослойная фанера, отделанная шпоном дуба натурального или темного цвета; набивка из вспененного полиуретана.
                            </td>
                        </tr>
                        <tr>
                            <td>Обивка</td>
                            <td>Ткань</td>
                            <td>Экокожа</td>
                            <td>Натуральная кожа</td>
                            <td>Натуральная кожа с ворсом</td>
                        </tr>
                        <tr>
                            <td>Цвет</td>
                            <td>
                                1.Темно-серый<br />
                                2. Винный<br />
                                3. Серо-голубой<br />
                                4. Оливковый<br />
                                5. Бежевый<br />
                                6. Серый металлик<br />
                                7. Серо-коричневый металлик<br />
                                8. Шоколадный металлик<br />
                                9. Зеленый металлик<br />
                                10. Сливовый металлик<br />
                            </td>
                            <td>
                                1.Кремовый<br />
                                2.Темно-коричневый<br />
                                3.Фисташковый<br />
                                4.Кирпичный<br />
                                5.Сизый<br />
                            </td>
                            <td>
                                1. Темная горчица<br />
                                2. Выгоревшая земля<br />
                                3. Армейский зеленый<br />
                                4. Черный<br />
                                5. Ледяной серый<br />
                            </td>
                            <td>
                                1. Черный<br />
                                2. Лесной орех<br />
                                3. Масло чайного дерева<br />
                                4. Рыжий<br />
                                5. Пятнистый<br />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- .row-->
</div>
<!-- .container-->
